Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

docs(localisation): updated localisation documentation
  documentation/COMPONENT_LOCALIZATION.md
  documentation/CONTRIBUTING.md
Due: none

chore(release): 3.57.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.57.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(icon): fixed errors on icons example page
  src/components/stable/gux-icon/example.html
  src/components/stable/gux-icon/icon-name-map.ts
  src/components/stable/gux-icon/legacy-icon-names.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(calendar): removed shadow
  src/components/stable/gux-calendar/gux-calendar.less
  src/components/stable/gux-datepicker/gux-datepicker.less
Due: stylelint --fix, prettier --write

chore(release): 3.58.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(translations): translation updates
  src/i18n/translations/ar.json
  src/i18n/translations/da.json
  src/i18n/translations/fi.json
  src/i18n/translations/ko.json
  src/i18n/translations/nl.json
  src/i18n/translations/no.json
  src/i18n/translations/pl.json
  src/i18n/translations/tr.json
  src/i18n/translations/zh-cn.json
Due: prettier --write

build(lint): temp change commitlint to a fixed commit
  package.json
Due: prettier --write

fix(pr-coment): addressed PR comment
  documentation/COMPONENT_LOCALIZATION.md
Due: none

chore(release): 3.58.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.58.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build(node): update node version to 16
  .github/workflows/main.yml
  .nvmrc
  Docs.Jenkinsfile
  Jenkinsfile
  React.Jenkinsfile
  docs/package-lock.json
  jenkinsfiles/components.Jenkinsfile
  jenkinsfiles/docs.Jenkinsfile
  jenkinsfiles/react.Jenkinsfile
  package-lock.json
  package.json
  src/components/beta/gux-time-picker/tests/gux-time-picker.service.spec.ts
  src/components/stable/gux-icon/gux-icon.types.ts
Due: prettier --write, eslint --fix

fix(datepicker): fixed calendar icon focus state
  src/components/stable/gux-datepicker/gux-datepicker.less
  src/components/stable/gux-icon/gux-icon.types.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(translations): translation updates
  src/i18n/translations/cs.json
  src/i18n/translations/fr-ca.json
  src/i18n/translations/fr.json
  src/i18n/translations/ja.json
  src/i18n/translations/zh-tw.json
Due: prettier --write

feat(gux-form-field-color): update design
  src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.less
Due: stylelint --fix, prettier --write

chore(release): 3.58.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.58.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(translations): translation updates
  src/i18n/translations/he.json
  src/i18n/translations/pt-pt.json
  src/i18n/translations/sv.json
Due: prettier --write

build(npm): added legacy-peer-deps flag to .npmrx file
  .npmrc
Due: none

chore(release): 3.59.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor(phone-input-example): added localised phone-input examples
  src/components/beta/gux-phone-input/example.html
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  src/i18n/translations/th.json
Due: prettier --write

chore(release): 3.59.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(gux-datepicker): migrate to floating ui (#1102)
  package-lock.json
  package.json
  src/components/stable/gux-datepicker/gux-datepicker.less
  src/components/stable/gux-datepicker/gux-datepicker.tsx
  src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.60.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(lock-file): added missing reference
  package-lock.json
Due: prettier --write

fix(form-field): added guard to hasContent check
  src/components/stable/gux-form-field/gux-form-field.service.ts
  src/components/stable/gux-form-field/tests/gux-form-field.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 3.60.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown): now delegating focus as expected
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.less
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  src/components/stable/gux-dropdown/gux-dropdown.less
  src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(time-picker): fixed 12 hour picker alignment
  src/components/beta/gux-time-picker/gux-time-picker.less
  src/components/beta/gux-time-picker/gux-time-picker.tsx
  src/components/beta/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.60.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(stencil-wrapper): exclude FedRAMP domain from asset loading logic
  scripts/stencil-wrapper.ts
Due: prettier --write, eslint --fix

chore(release): 3.60.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci(ux-review): update ux reviewer list
  .github/workflows/ux-review.yml
Due: none

fix(gux-popover-beta): fix arrow placement (#1112)
  docs/src/component-viewer/app.js
  src/components/beta/gux-popover-beta/example.html
  src/components/beta/gux-popover-beta/gux-popover-beta.less
  src/components/beta/gux-popover-beta/gux-popover-beta.tsx
  src/components/beta/gux-popover-beta/readme.md
  src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover-beta.spec.ts.snap
  src/components/beta/gux-popover-beta/tests/gux-popover-beta.e2e.ts
  src/components/beta/gux-popover-beta/tests/gux-popover-beta.spec.ts
  src/components/beta/gux-popover-list-beta/gux-popover-list-beta.less
  src/components/beta/gux-popover-list-beta/gux-popover-list-beta.tsx
  src/components/beta/gux-popover-list-beta/readme.md
  src/components/beta/gux-popover-list-beta/tests/__snapshots__/gux-popover-list-beta.spec.ts.snap
  src/components/beta/gux-popover-list-beta/tests/gux-popover-list-beta.e2e.ts
  src/components/beta/gux-popover-list-beta/tests/gux-popover-list-beta.spec.ts
  src/components/stable/gux-dismiss-button/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.60.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(simple-toast): change icon size to 16x16
  src/components/stable/gux-simple-toast/gux-simple-toast.less
Due: stylelint --fix, prettier --write

chore(release): 3.60.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

perf(toast): addition of aria-live attribute
  src/components/stable/gux-action-toast/example.html
  src/components/stable/gux-notification-toast/example.html
  src/components/stable/gux-simple-toast/example.html
Due: stylelint --fix, prettier --write

chore(release): 3.60.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
