Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

test(popover-list-beta): Add playwright test (#1266)
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.common.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-beta-renders-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-beta-renders-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.ts
Due: prettier --write, eslint --fix

chore(side-panel-beta): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.common.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-basic-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-basic-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-large-size-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-large-size-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-medium-size-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-medium-size-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-small-size-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-small-size-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-all-slots-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-all-slots-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-description-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-description-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-footer-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-footer-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-heading-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-with-heading-icon-2-darwin.png
Due: prettier --write, eslint --fix

fixed theme values not linking
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

wrong hover colour update
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

oops
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

test(avatar-group-beta): add playwright tests
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts-snapshots/gux-avatar-overflow-beta-render-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts-snapshots/gux-avatar-overflow-beta-render-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-with-add-item-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-with-add-item-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
Due: prettier --write, eslint --fix

fix(switch-legacy): add aria-current to selected item
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.tsx
Due: prettier --write, eslint --fix

feat(tokens): Updated figma vars
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

chore(release): 4.158.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(avatar-group-beta): add playwright tests (#1269)
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts-snapshots/gux-avatar-overflow-beta-render-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts-snapshots/gux-avatar-overflow-beta-render-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-with-add-item-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.playwright.ts-snapshots/gux-avatar-group-render-renders-avatar-group-with-add-item-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
Due: prettier --write, eslint --fix

feat(tag): removing unnecessary change
  packages/genesys-spark/snapshot/scss/_mixins.scss
  packages/genesys-spark/src/style/_mixins.scss
Due: none

fix(dropdown): allow to filter dropdown on focus
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

fix(popover): Arrow alignment
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

refactor(dropdown): address PR comment
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

fix(popover): Arrow alignment (#1273)
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

feat(side panel): animate modal in from side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.ts
Due: prettier --write, eslint --fix

chore(side panel): merge conflict
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
Due: none

feat: genesys spark mcp server [PLTRES-1635]
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-components/stencil.config.ts
  packages/genesys-spark-mcp-server/.gitignore
  packages/genesys-spark-mcp-server/README.md
  packages/genesys-spark-mcp-server/jest.config.js
  packages/genesys-spark-mcp-server/package.json
  packages/genesys-spark-mcp-server/scripts/add-version-metadata.mjs
  packages/genesys-spark-mcp-server/scripts/assert-base-docs.mjs
  packages/genesys-spark-mcp-server/scripts/enhance-component-metadata.mjs
  packages/genesys-spark-mcp-server/scripts/enhance-component-metadata.test.ts
  packages/genesys-spark-mcp-server/src/components/json-docs-registry.integration.test.ts
  packages/genesys-spark-mcp-server/src/components/json-docs-registry.ts
  packages/genesys-spark-mcp-server/src/components/parent-child-relationships.test.ts
  packages/genesys-spark-mcp-server/src/example-provider/index.ts
  packages/genesys-spark-mcp-server/src/index.ts
  packages/genesys-spark-mcp-server/src/mcp/server.ts
  packages/genesys-spark-mcp-server/src/search/engine.test.ts
  packages/genesys-spark-mcp-server/src/search/engine.ts
  packages/genesys-spark-mcp-server/tsconfig.json
Due: prettier --write, eslint --fix

feat: update README.md [PLTRES-1635]
  packages/genesys-spark-mcp-server/README.md
  packages/genesys-spark-mcp-server/src/index.ts
Due: prettier --write, eslint --fix

feat: fix test [PLTRES-1635]
  packages/genesys-spark-mcp-server/src/search/engine.test.ts
Due: prettier --write, eslint --fix

chore(release): 4.159.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): Modified tokens
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

chore(other): update dependencies to wanted
  package-lock.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(switch-legacy): update snapshot
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/__snapshots__/gux-switch.spec.ts.snap
Due: none

feat: release alpha version [PLTRES-1635]
  Jenkinsfile
Due: none

feat: release alpha version [PLTRES-1635]
  packages/genesys-spark-mcp-server/package.json
Due: prettier --write

chore(release): 4.159.0-alpha.77c0eafb5.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat: release alpha version [PLTRES-1635]
  packages/genesys-spark-mcp-server/LICENSE
  packages/genesys-spark-mcp-server/package.json
Due: prettier --write

chore(release): 4.159.0-alpha.55b234ad1.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-mcp-server/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.159.0-alpha.a077ab650.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-mcp-server/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat: release alpha version [PLTRES-1635]
  packages/genesys-spark-mcp-server/package.json
  packages/genesys-spark-mcp-server/tsconfig.json
Due: prettier --write

chore(release): 4.159.0-alpha.5b330e6c1.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-mcp-server/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat: version [PLTRES-1635]
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-mcp-server/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat: update package-lock.json [PLTRES-1635]
  package-lock.json
Due: prettier --write

feat: update version [PLTRES-1635]
  packages/genesys-spark-mcp-server/package.json
Due: prettier --write

test(calendar-beta): add playwright tests
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/tests.service.playwright.ts
Due: prettier --write, eslint --fix

test(calendar-beta): add playwright tests (#1278)
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/tests.service.playwright.ts
Due: prettier --write, eslint --fix
