Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(icon): change file structure for legacy to include new ones
  packages/genesys-spark-components/scripts/generate-gux-icon-types-file.js
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/fa/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/fa/arrow-right-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/legacy-icon-names.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

Update cover image in README.md
  README.md
Due: none

chore(readme): Added links to README
  README.md
Due: none

docs(readme): update based on feedback
  README.md
Due: none

chore(release): 3.117.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.13.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): update icon type to show legacy/fa fa/ variants
  packages/genesys-spark-components/scripts/generate-gux-icon-types-file.js
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

Avatar(tokens): update to 2 color tokens (out-of-office badge and presence ring) and added 1 size token for uc integrations logos.
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.14.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

core(tokens): added color token for calendar divider in the date and time picker calendar variant.
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(icon): add 3 new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/stopwatch-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-xmark-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add 3 new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/stopwatch-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-xmark-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

test(accessibility): fixed and removed some axe exclusions
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.ts
Due: prettier --write, eslint --fix

chore(jenkinsfile): maintenance/v3 should be mainline, but not use dev deploy config
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

chore(build): component specs in build folder
  packages/genesys-spark-chart-components/scripts/generate-component-data.js
  packages/genesys-spark-components/scripts/generate-component-data.js
  web-apps/genesys-spark-examples/scripts/dev-examples-start.sh
  web-apps/genesys-spark-examples/src/component-specs.js
Due: prettier --write

chore(release): 3.117.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.15.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): add avatar icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ban-outline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-outline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/headset-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/subtract-circle.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(script): address pr comments
  web-apps/genesys-spark-examples/package.json
  web-apps/genesys-spark-examples/scripts/dev-examples-start.sh
Due: prettier --write

chore(release): 3.118.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.16.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(toolbar-custom-action): fixed click event firing when disabled
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.spec.ts
Due: prettier --write, eslint --fix

fix(datepicker): fixed font size bug
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.less
Due: stylelint --fix, prettier --write

fix(datepicker): fixed font size bug
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

feat(avatar): basic avatar implementation: sizes and initials only
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): adding status badge
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): adding status badge
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: prettier --write, eslint --fix

feat(avatar): icons and initials
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): small updates
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): using tokens and logging warning
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: prettier --write, eslint --fix

feat(avatar): updating readme
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

feat(avatar): small updates
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): tokens for badge icons
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: none

feat(avatar): fixing required text for docs
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: prettier --write, eslint --fix

feat(avatar): tokens for badge icon spacing
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(avatar): token updates for badge icon
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(avatar): changes to fix token generation
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(avatar): addressing PR comments
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): add new tokens and slight updates
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
