Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(tokens): UI theming - inline button
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/actions.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): UI theming typography button
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

feat(tokens): UI theming - tooltip
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): ui theming tooltip
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(form-field-radio-group): fix radio group label text
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(form-field-checkbox-group): fix label
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

docs(tag): differentiating between subtle and bold more clearly
  packages/genesys-spark-components/src/components/stable/gux-tag/example.html
Due: stylelint --fix, prettier --write

feat(tokens): UI theming - spinner
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens): UI theming - Menu no effects
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(other): update dev dependencies to wanted
  README.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

chore(popover): Added space
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

feat(tokens): UI theming - fix icons
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(form-field-checkbox): Left aligning help and error text
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
Due: prettier --write, eslint --fix

feat(tokens): Updated menu tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Added click input theme level colors
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): Updated styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Added token for grouped menu header
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(release): 4.62.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tag): new bold styles and large size
  packages/genesys-spark-components/src/components/stable/gux-tag/example.html
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.types.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.spec.ts
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(form-field-checkbox-group): add checkbox group functionality
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.service.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
Due: prettier --write, eslint --fix

chore(release): 4.63.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(icon): splitting icons into multiple pages
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/current.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/deprecated.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/legacy.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/restricted.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/spark.html
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write

test(other): fixed failing accessibility tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.ts
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
Due: stylelint --fix, prettier --write, eslint --fix

test(other): run all test suites in Jenkins
  Jenkinsfile
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(popover): Added role and arialDescribeby to popover and popover-list
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(popover): Fixed snapshot tests that were failing
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/__snapshots__/gux-popover-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
Due: none

chore(form-field-checkbox-group): fix build
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

chore(popover): Removed space
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(popover): Fixed gux-popover dismiss logic on focus out
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(popover): Fixed accessibility focus issues with gux-popover
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

test(other): add WCAG AA 2.2 to automated accessibility tests
  packages/genesys-spark-chart-components/src/test/axeConfig.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.ts
  packages/genesys-spark-components/src/test/axeConfig.ts
Due: prettier --write, eslint --fix

fix(popover): Added expanded accesibility
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(release): 4.63.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(pagination-cursor): allowing reference to controlled element
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/example.html
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/__snapshots__/gux-pagination-cursor.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/__snapshots__/gux-pagination-cursor.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(popover): aria-describedby autogenerated id being used for popover content element
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(popover): Fixed auto-generated id issue with popover and popover-list
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(popover): Fixed snapshot tests
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/__snapshots__/gux-popover-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
Due: none

chore(other): Added angular playground script in mono repo
  package.json
  playground/angular-v13/README.md
  playground/angular-v13/package.json
Due: prettier --write

chore(other): Added knockout playgroun script
  package.json
  playground/angular-v13/package-lock.json
  playground/knockout-3/README.md
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
