Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(release): 4.3.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(segmented-control): remove extra example instance for expand
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.4.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(readme): Added links to README
  README.md
Due: none

chore(release): 4.4.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
Due: prettier --write

feat(generateicons): hide device-pc icon as first stage toward removing
  web-apps/genesys-spark-examples/src/utils/generateIcons.js
Due: prettier --write

feat(icon): add display icon updates to v3
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/display-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-display-slash.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(generateicons): hide icon with comment
  web-apps/genesys-spark-examples/src/utils/generateIcons.js
Due: prettier --write

feat(listbox): first item does not receive focus automatically on filter
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

feat(tokens): Added selector card tokens
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): Added selector card tokens pt2
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 3.114.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): add display icons v4
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/display-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-display-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(generateicons): hide device-pc icon in WCL example as first step towards phase out
  web-apps/genesys-spark-examples/src/utils/generateIcons.js
Due: prettier --write

feat(icon): regenerate readme
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

feat(option): add subtext to option
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-types.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(option): [WIP] Move subtext to slot
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-types.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): Added selector card tokens pt3
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 3.115.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(option group): [WIP] Example option group for discussion
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.types.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(popover-list): improved focus handling and added events
  packages/genesys-spark-components/src/components/stable/gux-popover-list/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(listbox): account for option groups in list - initial test
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
Due: prettier --write, eslint --fix

feat(form-field-text-like): add loading spinner
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/gux-form-field-text-like.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/gux-form-field-text-like.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(listbox): tidy up example and fix error
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(tokens): updated border radius value for badge
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(badge): update token for border-radius
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

feat(update badge token): run token data task for new badge token
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

feat(menu): add group to menu options and subtext
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-group/gux-menu-group.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-group/gux-menu-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(menu): add optional title and grouped example
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-group/gux-menu-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): icons and initials
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ban-outline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-outline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/headset-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/subtract-circle.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(rewiew-lottery): adding gillian to reviewer list
  .github/reviewer-lottery.yml
Due: none

feat(token): Add compact button padding
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(month-picker): popup positioning bug
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
Due: none

feat(token): generate token snapshopts for compact button padding
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

Added button bar tokens
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(dropdown listbox dropdown-multi): add subtext to options on dropdowns
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
Due: stylelint --fix, prettier --write, eslint --fix
