Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.109.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.133.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(flyout-menu): accessibility checklist
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/a11yManualChecklist.md
Due: none

chore(flyout-menu): accessibility checklist (#823)
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/a11yManualChecklist.md
Due: none

fix(modal): fixed backdrop color
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

feat(tokens): updated modal backdrop
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

feat(dropdown): option icon position added
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): addressed PR comment
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(tabs-advanced): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/a11yManualChecklist.md
Due: none

chore(other): update some dependencies to latest
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
Due: prettier --write

chore(form-field-text-like): update accessibility manual checklist
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/a11yManualChecklist.md
Due: none

chore(form-field-textarea): update manual a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/a11yManualChecklist.md
Due: none

chore(release): 4.110.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(rich-text-editor): fix e2e test
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/readme.md
Due: prettier --write, eslint --fix

chore(rich-text-editor): fix e2e test (#831)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/readme.md
Due: prettier --write, eslint --fix

chore(time-picker): a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-time-picker/a11yManualChecklist.md
Due: none

chore(accordion): update manual a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-accordion/a11yManualChecklist.md
Due: none

chore(form-field-color): a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/a11yManualChecklist.md
Due: none

chore(tooltip): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-tooltip/a11yManualChecklist.md
Due: none

fix(segmented-control): fix disabled state for segmented-control items
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.tsx
Due: prettier --write, eslint --fix

chore(tokens): update range-slider token names
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

chore(release): 4.110.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(form-field-color): a11y checklist (#835)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/a11yManualChecklist.md
Due: none

chore(time-picker): a11y checklist (#833)
  packages/genesys-spark-components/src/components/stable/gux-time-picker/a11yManualChecklist.md
Due: none

chore(form-field-dropdown): a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/a11yManualChecklist.md
Due: none

feat(form-field-number): allowing increment and decerment buttons to be accessible from a keyboard
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.tsx
Due: prettier --write, eslint --fix

test(form-field-number): updating snapshots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
Due: none

chore(modal): add a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-modal/a11yManualChecklist.md
Due: none

chore(form-field-phone): a11y check
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/a11yManualChecklist.md
Due: none

Updated tokens to reflect WCAG accessibility colour changes.
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(release): 4.111.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(form-field-radio): a11y check
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/a11yManualChecklist.md
Due: none

chore(list): updating selected background color tokens
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

chore(gux-form-field): adding link to a11y check failure
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/a11yManualChecklist.md
Due: none

chore(gux-form-phone): adding link to a11y check failure
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/a11yManualChecklist.md
Due: none

chore(release): 4.111.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(popover-list-beta): Focus first list item on popover show
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
Due: prettier --write, eslint --fix

chore(release): 4.111.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(form-field-range): refactoring some css
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
Due: none

chore(form-field-search): run manual a11y check
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/a11yManualChecklist.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
