Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(all-row-select): added label slot to improve accessibility
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

fix(context-menu): Make inline-size of compact variant 24px (#1090)
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
Due: none

chore(other): added script to identify missing Playwright tests
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/list-e2e-only-files.js
Due: prettier --write

Changed active colour to a lighter shade for accessibility purposes.
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

test(loading-message): added Playwright tests
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/__snapshots__/gux-loading-message.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/gux-loading-message.common.ts
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/gux-loading-message.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/gux-loading-message.e2e.playwright.ts-snapshots/gux-loading-message-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/gux-loading-message.e2e.playwright.ts-snapshots/gux-loading-message-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/gux-loading-message.spec.ts
Due: prettier --write, eslint --fix

chore(flyout-menu): Using gux-announce for accessibility
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/i18n/en.json
Due: prettier --write, eslint --fix

chore(flyout-menu): Translation file added
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write

chore(release): 4.146.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): added new brand icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/8x8.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/apple-business-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/facebook-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/facebook.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/linkedin.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/teams.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/x-twitter.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/zoom.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write, eslint --fix, svgo -i

feat(icon): Add new icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/print-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feature/GDS-2862_Date_Picker/Eszter
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

test(dismiss-button): Add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.spec.ts
Due: prettier --write, eslint --fix

chore(flyout-menu): Fixed snapshot test
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
Due: none

chore(form-description): Added playwright test
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts-snapshots/gux-form-description-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts-snapshots/gux-form-description-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.147.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(table-toolbar): Code refactor
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

chore(form-description): Fixed test html text
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.common.ts
Due: prettier --write, eslint --fix

feat(icon): Add new icons (#1088)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/print-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

test(dismiss-button): Add playwright tests (#1099)
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.spec.ts
Due: prettier --write, eslint --fix

feat(stepper-beta): addition of stepper component
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.types.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(inline-alert): Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.common.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-error-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-error-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-info-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-info-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-success-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-success-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-warning-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-warning-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.spec.ts
Due: prettier --write, eslint --fix

feat(avatar-beta): improved screenreader accessibility
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

fix(segmented-control-item): NVDA interactivity improvements
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

test(inline-alert): Playwright tests (#1098)
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.common.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-error-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-error-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-info-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-info-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-success-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-success-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-warning-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-warning-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.spec.ts
Due: prettier --write, eslint --fix

chore(form-description): Fixed snapshot test
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/__snapshots__/gux-form-description.spec.ts.snap
Due: none

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(icon): added new brand icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/instagram.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/meta.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

fix(calendar): added labels to month increment buttons
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.methods.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

chore(release): 4.148.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

perf(stepper-beta): adding orientations
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/utils/dom/get-attribute-from-parent.ts
Due: stylelint --fix, prettier --write, eslint --fix

test(screen-reader-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/__snapshots__/gux-screen-reader.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/gux-screen-reader.common.ts
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/gux-screen-reader.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/gux-screen-reader.e2e.playwright.ts-snapshots/gux-screen-reader-beta-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/gux-screen-reader.e2e.playwright.ts-snapshots/gux-screen-reader-beta-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/gux-screen-reader.spec.ts
Due: prettier --write, eslint --fix

test(card): added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.common.ts
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-bordered-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-bordered-accent-card-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-borderless-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-borderless-accent-card-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-raised-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-raised-accent-card-2-darwin.png
Due: prettier --write, eslint --fix

fix(selector-card-beta): inherit inline-size
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

fix(tokens): changed active colour
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

perf(stepper-beta): add aria roles and update examples
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
Due: stylelint --fix, prettier --write, eslint --fix

test(card): update playwright tests
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-bordered-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-bordered-accent-card-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-borderless-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-borderless-accent-card-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-raised-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-raised-accent-card-2-darwin.png
Due: prettier --write, eslint --fix

chore(release): 4.149.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
