Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(release): 3.46.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(phone-input): fixing focus and tabbing issues with safari
  src/components/beta/gux-phone-input/gux-phone-input.tsx
  src/components/beta/gux-phone-input/readme.md
Due: prettier --write, eslint --fix

chore(phone-input): collapsing listbox on escape
  src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

feat(gux-tag): support additional colors for tag component
  src/components/beta/gux-tag/example.html
  src/components/beta/gux-tag/gux-tag.less
  src/components/beta/gux-tag/gux-tag.types.ts
  src/components/beta/gux-tag/readme.md
  src/components/beta/gux-tag/tests/gux-tag.e2e.ts
  src/style/color-palette.less
Due: stylelint --fix, prettier --write, eslint --fix

chore(phone-input): fixing mistyped event
  src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

chore(phone-input): fixing slot comment
  src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.tsx
Due: prettier --write, eslint --fix

fix(calendar): fixed month and year localisation
  src/components/stable/gux-calendar/example.html
  src/components/stable/gux-calendar/gux-calendar.service.ts
  src/components/stable/gux-calendar/gux-calendar.tsx
  src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(pr-comment): addressed PR comment
  src/components/stable/gux-calendar/gux-calendar.service.ts
  src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 3.46.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.47.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(truncate): enabled pointer events
  src/components/beta/gux-truncate/gux-truncate.less
Due: stylelint --fix, prettier --write

chore(release): 3.48.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(gux-form-field-error): adjust line height and margin to match design for error message and icon
  src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.less
Due: stylelint --fix, prettier --write

chore(release): 3.48.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(datepicker): fixed pt-pt start of week day
  scripts/generate-start-of-week-file.js
  src/components/stable/gux-datepicker/example.html
  src/i18n/start-of-week.json
Due: stylelint --fix, prettier --write

fix(gux-form-field-error): use spacing variables, stop icon shrinking, update font size to 12px
  src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.less
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/i18n/fi.json
Due: prettier --write

chore(release): 3.48.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.48.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(gux-time-picker): vertically center clock button
  src/components/beta/gux-time-picker/gux-time-picker.less
Due: stylelint --fix, prettier --write

fix(gux-datepicker): vertically center calendar button
  src/components/stable/gux-datepicker/gux-datepicker.less
Due: stylelint --fix, prettier --write

chore(release): 3.49.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(context-menu): add new webcomponent
  src/components/beta/gux-button-slot/readme.md
  src/components/beta/gux-context-menu/example.html
  src/components/beta/gux-context-menu/gux-context-menu.less
  src/components/beta/gux-context-menu/gux-context-menu.tsx
  src/components/beta/gux-context-menu/i18n/en.json
  src/components/beta/gux-context-menu/readme.md
  src/components/beta/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  src/components/beta/gux-context-menu/tests/gux-context-menu.e2e.ts
  src/components/beta/gux-context-menu/tests/gux-context-menu.spec.ts
  src/components/stable/gux-icon/readme.md
  src/components/stable/gux-list/gux-list.tsx
  src/components/stable/gux-list/readme.md
  src/components/stable/gux-popup/readme.md
  src/i18n/translations/en.json
  src/i18n/translations/fi.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(inline-alert): allow text to wrap instead of truncating
  src/components/beta/gux-alert/example.html
  src/components/beta/gux-alert/gux-inline-alert.less
  src/components/beta/gux-alert/gux-inline-alert.tsx
  src/components/beta/gux-alert/readme.md
  src/components/stable/gux-tooltip-title/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.50.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(time-picker): added new step property
  src/components/beta/gux-time-picker/example.html
  src/components/beta/gux-time-picker/gux-time-picker.service.tsx
  src/components/beta/gux-time-picker/gux-time-picker.tsx
  src/components/beta/gux-time-picker/gux-time-picker.type.tsx
  src/components/beta/gux-time-picker/readme.md
  src/components/beta/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.51.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(advanced-tabs): fixed safari dropdown-option click bug
  src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
Due: prettier --write, eslint --fix

fix(dropdown): fixed style of filter text
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.less
  src/components/stable/gux-dropdown/gux-dropdown.less
Due: stylelint --fix, prettier --write

chore(release): 3.52.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(column-manager): added column manager component
  src/components/beta/gux-column-manager/example.html
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.less
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.service.tsx
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  src/components/beta/gux-column-manager/gux-column-manager-item/readme.md
  src/components/beta/gux-column-manager/gux-column-manager-item/tests/gux-column-manager-item.service.spec.ts
  src/components/beta/gux-column-manager/gux-column-manager.less
  src/components/beta/gux-column-manager/gux-column-manager.service.tsx
  src/components/beta/gux-column-manager/gux-column-manager.tsx
  src/components/beta/gux-column-manager/gux-column-manager.type.ts
  src/components/beta/gux-column-manager/i18n/en.json
  src/components/beta/gux-column-manager/readme.md
  src/components/stable/gux-content-search/gux-content-search.tsx
  src/components/stable/gux-content-search/readme.md
  src/components/stable/gux-form-field/components/gux-form-field-checkbox/readme.md
  src/components/stable/gux-icon/readme.md
  src/components/stable/gux-text-highlight/readme.md
  src/i18n/index.ts
  src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(pr-comment): addressed PR comments
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.less
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  src/components/beta/gux-column-manager/gux-column-manager.less
  src/components/beta/gux-column-manager/gux-column-manager.service.tsx
  src/components/beta/gux-column-manager/gux-column-manager.tsx
  src/components/beta/gux-column-manager/i18n/en.json
  src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(ccessibility): added some accessibility announcements
  src/components/beta/gux-announce/readme.md
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.less
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  src/components/beta/gux-column-manager/gux-column-manager-item/i18n/en.json
  src/components/beta/gux-column-manager/gux-column-manager-item/readme.md
  src/components/beta/gux-column-manager/gux-column-manager.tsx
  src/components/beta/gux-column-manager/gux-column-manager.type.ts
  src/components/beta/gux-column-manager/i18n/en.json
  src/components/beta/gux-column-manager/readme.md
  src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.52.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: check MutationObservers before calling disconnect
  src/components/beta/gux-popover-list/gux-popover-list.tsx
  src/components/beta/gux-table/gux-sort-control/gux-sort-control.tsx
  src/components/beta/gux-table/gux-table-select-menu/gux-table-select-popover/gux-table-header-popover.tsx
  src/components/legacy/gux-form-field-legacy/components/gux-input-color/gux-input-color.tsx
  src/components/legacy/gux-form-field-legacy/components/gux-input-number/gux-input-number.tsx
  src/components/legacy/gux-form-field-legacy/components/gux-input-range/gux-input-range.tsx
  src/components/legacy/gux-form-field-legacy/components/gux-input-search/gux-input-search.tsx
  src/components/legacy/gux-form-field-legacy/components/gux-input-select/gux-input-select.tsx
  src/components/legacy/gux-form-field-legacy/components/gux-input-text-like/gux-input-text-like.tsx
  src/components/legacy/gux-form-field-legacy/gux-form-field.tsx
  src/components/legacy/gux-list-legacy/gux-list.tsx
  src/components/stable/gux-advanced-dropdown/gux-advanced-dropdown.tsx
  src/components/stable/gux-content-search/gux-content-search.tsx
  src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.tsx
  src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.tsx
  src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.tsx
  src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.tsx
  src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
  src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.tsx
  src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.tsx
  src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.tsx
  src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.tsx
  src/components/stable/gux-popover/gux-popover.tsx
  src/utils/decorator/on-mutation.ts
  src/utils/decorator/on-resize.ts
Due: prettier --write, eslint --fix

fix(pr-comments): addressed PR comments
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.less
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.service.tsx
  src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  src/components/beta/gux-column-manager/gux-column-manager-item/readme.md
  src/components/beta/gux-column-manager/gux-column-manager-item/tests/gux-column-manager-item.service.spec.ts
  src/components/beta/gux-column-manager/gux-column-manager.less
  src/components/beta/gux-column-manager/gux-column-manager.service.tsx
  src/components/beta/gux-column-manager/gux-column-manager.tsx
  src/components/beta/gux-column-manager/gux-column-manager.types.ts
  src/components/beta/gux-column-manager/i18n/en.json
  src/i18n/index.ts
  src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.53.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(phone-input): generate sprite script
  package-lock.json
  package.json
  scripts/generate-region-flags-sprite-file.js
  src/components/beta/gux-phone-input/components/gux-region-icon/assets/sprites/region-flags.png
  src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-icon.less
  src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-icon.tsx
  src/components/beta/gux-phone-input/components/gux-region-icon/readme.md
  src/components/beta/gux-phone-input/gux-phone-input.tsx
  src/components/stable/gux-form-field/components/gux-form-field-phone/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(phone-input): adding sprite less file
  scripts/generate-region-flags-sprite-file.js
  src/components/beta/gux-phone-input/components/gux-region-icon/assets/sprites/region-flags.less
  src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-icon.tsx
Due: stylelint --fix, prettier --write, eslint --fix
