Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(release): 4.138.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(button): Icon examples clickable in NVDA
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update some dependencies to latest
  package-lock.json
  packages/genesys-spark-components/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(button): more examples
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
Due: stylelint --fix, prettier --write

chore(other): update stylelint-config-standard to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/example.html
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: stylelint --fix, prettier --write

fix(toast): Break word on message
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
Due: none

chore(form-field-text-like): fixed e2e snapshots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
Due: none

chore(calendar): Focus logic added to header buttons
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
Due: prettier --write, eslint --fix

chore(release): 4.138.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(toast): Break word on message (#1036)
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
Due: none

perf(form-field): announcing error states
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update @js-temporal/polyfill dependency to latest
  package-lock.json
  packages/genesys-spark-chart-components/tsconfig.json
  packages/genesys-spark-components-react/tsconfig.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/wrap-stencil.js
  packages/genesys-spark-components/tsconfig.json
Due: prettier --write

test(form-field-number): update snpashots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
Due: none

feat(button-multi): improve screenreader experience
  packages/genesys-spark-components/src/components/stable/gux-button-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(button): fixed legacy tertiary button color
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
Due: stylelint --fix, prettier --write

chore(calendar): Fixed snapshot test
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
Due: none

feat(styles): updated styles on modal-legacy and example pages
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
Due: stylelint --fix, prettier --write

feat(styles): updated styles on warning icons
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/example.html
Due: stylelint --fix, prettier --write

chore(dropdown): Focus listbox option on enter or space key press
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(release): 4.138.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(other): use scss variables in legacy components
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/gux-disclosure-button.scss
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/gux-pagination-buttons-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-item-counts-legacy/gux-pagination-item-counts-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/gux-pagination-items-per-page-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-legacy.scss
Due: none

refactor(other): use global scss variables in stable components
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/gux-skip-navigation-item/gux-skip-navigation-item.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

chore(other): addressed PR comment
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
Due: none

fix(other): improved legacy components dark mode implementation
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.light.scss
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.scss
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(all-row-select): added label slot to improve accessibility
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

fix(form-field-file-beta): small UX fixes
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/components/gux-file-list-item/gux-file-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/example.html
Due: stylelint --fix, prettier --write

fix(dropdown): subtext included in selected option
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

fix(dropdown): subtext included in selected option (#1050)
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

test(accordion): added playwright test
  package-lock.json
  packages/genesys-spark-chart-components/.gitignore
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/playwright.config.ts
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/.gitignore
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/playwright.config.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts-snapshots/gux-accordion-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts-snapshots/gux-accordion-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/stencil.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.139.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(side_panel): large and medium title variant and title-block specific padding
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

chore(other): enable dark mode toggle switch on docs site
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: prettier --write
