Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(form-field-text-like): Fixed snapshot test
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
Due: none

chore(release): 4.117.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(table): figma variables initialization
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): updated some dependencies to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(dropdown-multi): fixing issue with deselecting the only selected option
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
Due: prettier --write, eslint --fix

fix(icon): added img role to svg
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

fix(tooltip): improved accessibility
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

chore(time-picker): Focusing hour input on target container click
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

feat(tokens): created tokens for chat bubbles
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

feat(tokens): Updated chat bubble tokens values
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

feat(tokens): generated CSS vars
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
Due: prettier --write

chore(release): 4.118.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(option-multi): truncate long text
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
Due: none

chore(other): updated typescript dependency
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(rating): Added manual accessibility markdown file changes
  packages/genesys-spark-components/src/components/stable/gux-rating/a11yManualChecklist.md
Due: none

chore(list): manual accessibility checklist
  packages/genesys-spark-components/src/components/stable/gux-list/a11yManualChecklist.md
Due: none

chore(release): 4.119.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(loading-message): added example that highlights aria-live functionality
  packages/genesys-spark-components/src/components/stable/gux-loading-message/example.html
Due: stylelint --fix, prettier --write

fix(option): trim whitespace for subtext selection
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

Added min-width for popover container as requested.
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens): added spark data ui tokens
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui-charts/area_chart.json
  packages/genesys-spark-tokens/data/ui-charts/bar_chart.json
  packages/genesys-spark-tokens/data/ui-charts/bubble_chart.json
  packages/genesys-spark-tokens/data/ui-charts/charts.json
  packages/genesys-spark-tokens/data/ui-charts/column_chart.json
  packages/genesys-spark-tokens/data/ui-charts/donut_chart.json
  packages/genesys-spark-tokens/data/ui-charts/gauge_chart.json
  packages/genesys-spark-tokens/data/ui-charts/heatmap.json
  packages/genesys-spark-tokens/data/ui-charts/line_chart.json
  packages/genesys-spark-tokens/data/ui-charts/pie_chart.json
  packages/genesys-spark-tokens/data/ui-charts/sankey_alluvial.json
  packages/genesys-spark-tokens/data/ui-charts/scatter_chart.json
  packages/genesys-spark-tokens/data/ui-charts/shared.json
  packages/genesys-spark-tokens/data/ui-charts/sparkline.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
Due: prettier --write

chore(link-beta): update manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-link/a11yManualChecklist.md
Due: none

chore(packages/genesys-spark-components-react/package.json): update peer deps for React
  package-lock.json
  packages/genesys-spark-components-react/package.json
Due: prettier --write

chore(form-beta): update manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-form/a11yManualChecklist.md
Due: none

chore(release): 4.119.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tag): increasing outline-offset to fix accessibility issue with color
  packages/genesys-spark-components/src/components/stable/gux-tag/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
Due: none

feat(avatar-group-beta): add to group
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/gux-avatar-group-add-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/gux-avatar-group-add-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(dropdown-multi): accessibility improbvement
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

fix(option-multi): truncate long text (#895)
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
Due: none

chore(avatar-beta): manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-avatar/a11yManualChecklist.md
Due: none

feat(tabs): disabled tab is not focusable
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/__snapshots__/gux-tab.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.spec.ts.snap
Due: prettier --write, eslint --fix

docs(date-beta): completed accesibility check
  packages/genesys-spark-components/src/components/beta/gux-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-time/a11yManualChecklist.md
Due: none

style(tokens): regenerating tokens
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

chore(release): 4.120.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(announce-beta): a11y checklist
  packages/genesys-spark-components/src/components/beta/gux-announce/a11yManualChecklist.md
Due: none

docs(date-time-beta): check a11y list
  packages/genesys-spark-components/src/components/beta/gux-date-time/a11yManualChecklist.md
Due: none

docs(date-time-beta): check a11y list (#912)
  packages/genesys-spark-components/src/components/beta/gux-date-time/a11yManualChecklist.md
Due: none

chore(announce-beta): a11y checklist (#910)
  packages/genesys-spark-components/src/components/beta/gux-announce/a11yManualChecklist.md
Due: none

chore(rich-text-editor-beta): update manual a11y checklist
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/a11yManualChecklist.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
