Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

fix(component): aligning icon and text in copy to clipboard tooltip
  package-lock.json
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.less
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tooltip-content-type.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(gux-tooltip): migrate from popper.js to floating-ui
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.less
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.types.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(component): pr feedback fixes for copy to clipboard component
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/copy-to-clipboard-content-type.ts
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tooltip-content-type.ts
Due: prettier --write, eslint --fix

chore(release): 3.70.4
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): new question icon
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/question-solid.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: stylelint --fix, prettier --write, svgo -i

fix(monorepo): added missing versions file generation
  web-apps/genesys-spark-examples/package.json
  web-apps/genesys-spark-examples/scripts/generate-manifest.js
  web-apps/genesys-spark-examples/scripts/generate-versions-file.mjs
Due: prettier --write

fix(component): pr fixes for copy to clipboard component
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.less
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(component): fixed snapshot test for copy to clipboard component
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: none

fix(jenkins): fixing branch tagging
  Jenkinsfile
Due: none

fix(component): removed class on span for copy to clipboard component
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 3.70.5
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(jenkins): fixed commit tagging
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(release): 3.71.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(jenkins): fix examples manifest bug
  web-apps/genesys-spark-examples/scripts/generate-manifest.js
Due: prettier --write

chore(dependencies): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  playgrounds/vue-3/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.72.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.73.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(on-click-outside): addition of isConnected condition to if guard
  packages/genesys-spark-components/src/utils/decorator/on-click-outside.ts
Due: prettier --write, eslint --fix

fix: fix doc links after monorepo conversion
  packages/genesys-spark-components/documentation/migrations/v3/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-accordion-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-action-button-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-button-multi-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-command-palette-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-dropdown-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-form-field-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-list-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-panel-frame-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-side-panel-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-tabs-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-text-label-legacy/example.html
  web-apps/genesys-spark-examples/src/component-listing/app.js
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

feat(inline-button): added inline button style
  packages/genesys-spark-components/src/components/beta/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/beta/gux-button-slot/gux-button-slot.less
  packages/genesys-spark-components/src/components/beta/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/beta/gux-button-slot/tests/__snapshots__/gux-button-slot.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-button-slot/tests/__snapshots__/gux-button-slot.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-button-slot/tests/gux-button-slot.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-button-slot/tests/gux-button-slot.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.less
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

chore(release): 3.74.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
Due: prettier --write

chore(release): 3.75.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.76.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
Due: prettier --write

fix(jenkins): fixed release tag
  Jenkinsfile
  packages/genesys-spark-components/CHANGELOG.md
Due: none

chore(release): 3.76.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown): use margin for spacing beside gux-option-icon icon
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.less
Due: stylelint --fix, prettier --write

chore(release): 3.76.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
Due: prettier --write

chore(release): 3.76.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(pr-comment): addressed PR comment
  packages/genesys-spark-components/src/components/stable/gux-action-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.types.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.77.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(card): moved accent styles into the shadow dom
  packages/genesys-spark-components/src/components/beta/gux-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-card/gux-card.less
  packages/genesys-spark-components/src/components/beta/gux-card/gux-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-card/tests/__snapshots__/gux-card.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

fix(copy-to-clipboard): removed unnecessary button title attribute
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

chore(release): 3.77.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Make gux-toggle-slider a flexbox
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.less
Due: stylelint --fix, prettier --write
