Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(dropdown-multi): Finished writing playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
Due: prettier --write, eslint --fix

test(other): fix playwright failures
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

test(other): fix playwright failures (#1296)
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

refactor(rating): use popover-beta and run build
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/readme.md
Due: prettier --write, eslint --fix

fix(calendar-beta): fix rollover issue on screenreader text
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.playwright.ts
  packages/genesys-spark-components/src/utils/date/temporal.ts
Due: prettier --write, eslint --fix

fix(calendar-beta): fix rollover issue on screenreader text (#1295)
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.playwright.ts
  packages/genesys-spark-components/src/utils/date/temporal.ts
Due: prettier --write, eslint --fix

feat(prompt-input-beta): Fixed snapshot test
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
Due: none

chore(pagination): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.common.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-advanced-layout-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-advanced-layout-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-advanced-layout-with-current-page-and-custom-items-per-page-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-advanced-layout-with-current-page-and-custom-items-per-page-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-basic-pagination-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-basic-pagination-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-disabled-pagination-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-disabled-pagination-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-simple-layout-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-simple-layout-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-simple-layout-with-disabled-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-simple-layout-with-disabled-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-100-items-per-page-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-100-items-per-page-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-25-items-per-page-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-25-items-per-page-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-50-items-per-page-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-50-items-per-page-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-75-items-per-page-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-75-items-per-page-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-current-page-set-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-current-page-set-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-large-dataset-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-large-dataset-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-maximum-pages-scenario-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-maximum-pages-scenario-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-single-page-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-single-page-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-small-dataset-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-small-dataset-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-zero-items-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-zero-items-2-darwin.png
Due: prettier --write, eslint --fix

chore(dropdown-multi): Small refactor in playwright test code
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(release): 4.164.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(side panel): adding more examples
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
Due: stylelint --fix, prettier --write

style(side panel): indenting first tab
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.light.scss
  packages/genesys-spark-components/src/style/_light-dom.scss
Due: stylelint --fix, prettier --write

feat(locale): added hindi
  packages/genesys-spark-components/scripts/list-missing-translations.js
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-picker/tests/gux-time-picker.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/example.html
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/example.html
  packages/genesys-spark-components/src/i18n/languageList.ts
  packages/genesys-spark-components/src/i18n/locales.json
  packages/genesys-spark-components/src/i18n/start-of-week.json
  packages/genesys-spark-components/src/i18n/translations/hi.json
Due: stylelint --fix, prettier --write, eslint --fix

style(side panel): indenting last tab
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.light.scss
Due: none

docs(side panel): removing comments
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
Due: stylelint --fix, prettier --write

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(side panel): fixing modal not displaying 2nd time
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
Due: stylelint --fix, prettier --write

chore(rich-text-editor-action-rich-style): removed redundant file
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich.style.e2e.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

style(side panel): replacing tokens with sass variables
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.light.scss
Due: none

chore(other): update stencil to latest version
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

chore(tabs-advanced): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts-snapshots/gux-tabs-advanced-render-should-render-a-basic-gux-tabs-advanced-component-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts-snapshots/gux-tabs-advanced-render-should-render-a-basic-gux-tabs-advanced-component-2-darwin.png
Due: prettier --write, eslint --fix

chore(release): 4.164.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): tokens update with main
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: prettier --write

refactor(rating): improve keyboard accessibility
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/readme.md
Due: prettier --write, eslint --fix

feat(tree-view-beta): tree view component single select
  packages/genesys-spark-components/src/components/beta/gux-tree-view/example.html
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/gux-tree-view-leaf.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/gux-tree-view-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-types.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.134.0
  package-lock.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(prompt-input-beta): Consolidated into one event for generation
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

chore(popup): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.common.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-3-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-4-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.playwright.ts-snapshots/gux-popup-render-should-display-component-as-expected-4-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.ts
Due: prettier --write, eslint --fix

chore(tabs-advanced): Added a11y check in playwright file
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(tabs-advanced): Added playwright util for allyCheck
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: prettier --write, eslint --fix

chore(release): 4.164.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/form-stepper- gap - jackie
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/form_control.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

refactor(other): re-add token refs
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

refactor(other): update css map
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: none

fix(dropdown-multi): allow to filter dropdown-multi on focus
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

test(other): fixed Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
