Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(packages/genesys-spark-components-react/package.json): update peer deps for React
  package-lock.json
  packages/genesys-spark-components-react/package.json
Due: prettier --write

chore(release): 4.124.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(calendar): allow for customized slotted days
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-day/base.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/readme.md
  packages/genesys-spark-components/src/style/utils.scss
  packages/genesys-spark/src/style/_mixins.scss
Due: stylelint --fix, prettier --write, eslint --fix

refactor(calendar-beta): Clean up dead code from PR review
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/base.tsx
Due: prettier --write, eslint --fix

chore(calendar-beta): PR styling fixes
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/utility/focus-proxy/focus-proxy.tsx
Due: stylelint --fix, prettier --write, eslint --fix

refactor(calendar-beta): Switch to using Temporal API polyfill for dates
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/i18n/index.ts
  packages/genesys-spark-components/src/utils/date/temporal.ts
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

chore(other): update stencil to v4.22.3
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/test/specTestUtils.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/__snapshots__/gux-form-field-file.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/__snapshots__/gux-form-field-file.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.e2e.ts.snap
  packages/genesys-spark-components/src/test/specTestUtils.ts
Due: prettier --write, eslint --fix

feat(tokens): created the new deprecated set
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

fix(blank-state): hide guidance when not provided
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.tsx
Due: prettier --write, eslint --fix

feat(tokens): added indicators
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui-charts/gauge_chart.json
  packages/genesys-spark-tokens/data/ui-charts/heatmap.json
  packages/genesys-spark-tokens/data/ui-charts/sparkline.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

feat(tokens): generated CSS vars
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
Due: prettier --write

fix(tab): focus ring cut off on bottom
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
Due: none

fix(side-panel-beta): remove flex display from content
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
Due: none

feat(tokens): modified sparkline tokens
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

style(global_nav): aligning menu option to core Azure 600 color
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

style(global_nav) menu_option/return/hover dark mode color modification
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

feat(tokens) updated trendline pt3
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

feat(tokens): rearranged sets
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): updated sparkline
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui-charts/sparkline.json
Due: prettier --write

fix(popover-beta): fix popover-beta and popover-beta-list keyboard a11y
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.124.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(calendar-beta): Update tests, fix some minor a11y issues
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/readme.md
  packages/genesys-spark-components/src/components/utility/focus-proxy/readme.md
  packages/genesys-spark-components/src/style/utils.scss
Due: prettier --write, eslint --fix

chore(other): Fix package-lock.json
  package-lock.json
Due: prettier --write

fix(blank-state): hide guidance when not provided (#933)
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.tsx
Due: prettier --write, eslint --fix

feat(dropdown-multi): reverting combobox change
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

style(global_nav): alignment of menu_option colors for selected status
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(phone-input-beta): manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-phone-input/a11yManualChecklist.md
Due: none

style(global_nav): updates to the select mode of menu_options
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

style(global_nav): dark mode menu_option adjustments
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(icon-tooltip-beta): accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/a11yManualChecklist.md
Due: none

chore(screen-reader-beta): accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/a11yManualChecklist.md
Due: none

chore(month-picker-beta): Added manual accessibility markdown file
  packages/genesys-spark-components/src/components/beta/gux-month-picker/a11yManualChecklist.md
Due: none

feat(tokens): Updated spark data tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui-charts/gauge_chart.json
  packages/genesys-spark-tokens/data/ui-charts/heatmap.json
  packages/genesys-spark-tokens/data/ui-charts/sparkline.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write
