Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

refactor(other): moved token expantion into style dictionary
  package-lock.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
Due: prettier --write

chore(release): 4.80.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): removed comments from generated tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
Due: prettier --write

fix(dropdown): dropdown is now disabled when loading non-filterable list
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(release): 4.80.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): start using node 20
  .github/workflows/add-reviewers.yml
  .github/workflows/main.yml
  .github/workflows/ux-review.yml
  .nvmrc
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/Jenkinsfile
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/Jenkinsfile
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/Jenkinsfile
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(selector-cards): Checkbox variants added (#494)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark/src/style/_checkbox-icons.scss
  packages/genesys-spark/src/style/_radio-icons.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.81.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table-toolbar): change mixin to not create a stacking context
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
Due: none

docs(other): added token usage reports for theming transition
  packages/genesys-spark-tokens/build/index.mjs
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

chore(release): 4.81.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

fix(other): fix new eslint errors
  packages/genesys-spark-chart-components/src/i18n/index.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-screenreader-label/gux-form-field-screenreader-label.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/i18n/index.ts
Due: prettier --write, eslint --fix

fix(tooltip-beta): track base tooltip role in tooltip-beta
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

fix(pagination): Ellipsis button translation
  packages/genesys-spark-components/src/components/stable/gux-pagination/example.html
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.81.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(tooltip-beta): track base tooltip role in tooltip-beta (#576)
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.spec.ts
Due: prettier --write, eslint --fix

chore(other): updated some dependencies to latest
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(pagination): Ellipsis button translation (#593)
  packages/genesys-spark-components/src/components/stable/gux-pagination/example.html
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(dropdown): mixed rtl ltr tester
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): address pr comments
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

chore(release): 4.81.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): updated some dependencies to latest
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
Due: prettier --write, eslint --fix

feat(avatar): add tooltip
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/style/_light-dom.scss
Due: prettier --write, eslint --fix

feat(avatar): add tooltip (#594)
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/style/_light-dom.scss
Due: prettier --write, eslint --fix

chore(release): 4.82.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(dropdown): mixed rtl ltr tester (#592)
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

fix(other): fixed new code token generation
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
Due: prettier --write

chore(popover): Using gux-cta-group to group content buttons
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
Due: stylelint --fix, prettier --write

fix(visualization): don't show vega-lite actions menu by default in gux-visualization
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: prettier --write, eslint --fix

docs(visualization): Add spark column chart visualization spec examples
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

feat(other): add browser region override support for Hong Kong and Singapore regions backport
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.83.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix: gux-button accessibility with icon-only and gux-title
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal-legacy.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.131.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
