Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(gux-pagination): fix incorrect string interpolation variable in finnish localization
  src/components/stable/gux-pagination/gux-pagination-buttons/i18n/fi.json
Due: prettier --write

chore(release): 3.93.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tooltip-title): converting less files to scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
  packages/genesys-spark-components/src/style/spacing.scss
  packages/genesys-spark-components/src/style/variables.scss
Due: prettier --write, eslint --fix

chore(dependencies): updated dependencies
  package-lock.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/.eslintrc.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/check-a11y.mjs
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-tokens/package.json
  playgrounds/vue-3/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/eslint-config-genesys-spark-components/typescript.js
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

chore(release): 3.93.4
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 2.59.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(pr-comment): addressed PR comment
  web-apps/genesys-spark-examples/src/styles/component-viewer.less
Due: stylelint --fix, prettier --write

chore(ux-review): adding guillermo to the ux reviewer list
  .github/workflows/ux-review.yml
Due: none

fix(gux-icon): prevent updates to svgHtml if baseSvgHtml is not set
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

chore(release): 3.93.5
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(notification-toast): converting less files to scss
  packages/genesys-spark-components/src/components/stable/gux-notification-toast/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-notification-toast/gux-notification-toast.tsx
  packages/genesys-spark-components/src/style/color-palette.scss
  packages/genesys-spark-components/src/style/color.scss
  packages/genesys-spark-components/src/style/focus.scss
  packages/genesys-spark-components/src/style/shadows.scss
  packages/genesys-spark-components/src/style/spacing.scss
  packages/genesys-spark-components/src/style/typography.scss
Due: prettier --write, eslint --fix

chore(tooltip-title): fixing scss error
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
Due: none

chore(tooltip-title): removing redundant px
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
Due: none

chore(tooltip-title): reverting: removing redundant px
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
Due: none

chore(notification-toast): fixing unknown variable error
  package-lock.json
  packages/genesys-spark-components/src/style/color.scss
Due: prettier --write

chore(notification-toast): fixing build errors and missed less conversion
  packages/genesys-spark-components/src/components/stable/gux-notification-toast/gux-notification-toast.scss
  packages/genesys-spark-components/src/style/focus.scss
  packages/genesys-spark-components/src/style/roboto.scss
  packages/genesys-spark-components/src/style/typography.scss
Due: none

ci(github actions): run github checks on PRs targeted at beta branches
  .github/workflows/main.yml
Due: none

feat(icons): various requested icons
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/file-pen-question.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/filter-notification.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/list-alphabetical-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/list-roman-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/alarm-clock-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/alarm-snooze-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/backward-step-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-on-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-frown-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-frown-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-laugh-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-laugh-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/forward-step-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/pause-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/play-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/stop-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/subscript-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/superscript-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/volume-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/volume-xmark-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(icons): various requested icons
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
Due: stylelint --fix, prettier --write

feat(gux-time-zone-picker-beta): add a time zone picker component
  package-lock.json
  package.json
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
  packages/genesys-spark-components/scripts/wrap-stencil.js
  packages/genesys-spark-components/src/components/beta/gux-chart-donut/example.html
  packages/genesys-spark-components/src/components/beta/gux-chart-donut/gux-chart-donut.tsx
  packages/genesys-spark-components/src/components/beta/gux-tag/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/generic-zones.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.less
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.93.6
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(typo): removed references to fuscha a typo of fuschia
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tag/gux-tag.less
  packages/genesys-spark-components/src/components/beta/gux-tag/gux-tag.types.ts
  packages/genesys-spark-components/src/components/beta/gux-tag/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tag/tests/gux-tag.e2e.ts
  packages/genesys-spark-components/src/style/color-palette.less
  packages/genesys-spark-components/src/style/css-custom-properties.less
Due: stylelint --fix, prettier --write, eslint --fix

fix(popover): find-element-by-id tries to call getElementById non-document node
  packages/genesys-spark-components/src/utils/dom/find-element-by-id.ts
Due: prettier --write, eslint --fix

docs(migration-guide): started V4 migration guide
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

ci(github-actions): add review lottery to the beta branch
  .github/workflows/add-reviewers.yml
Due: none

chore(release): 3.94.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(style-variables): removed unprefixed spacing variables
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-buttons-beta.less
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover-beta.less
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar.less
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.less
  packages/genesys-spark-components/src/style/css-custom-properties.less
  packages/genesys-spark-components/src/style/examples/spacing.html
  packages/genesys-spark-components/src/style/spacing.less
  packages/genesys-spark-components/src/style/spacing.scss
Due: stylelint --fix, prettier --write

feat(date-time): added ability to set time zone
  packages/genesys-spark-components/src/components/beta/gux-date-time/example.html
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-date/example.html
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/example.html
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.spec.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark-components/src/i18n/time-zone/identifiers.ts
  packages/genesys-spark-components/src/i18n/time-zone/types.ts
Due: stylelint --fix, prettier --write, eslint --fix

refactor(tokens): bring in latest tokens file
  packages/genesys-spark-components/src/style/style.less
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-navigation.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-navigation.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-navigation.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
  packages/genesys-spark-tokens/utils/output-styles.mjs
Due: stylelint --fix, prettier --write

feat(gux-button): add tokens
  packages/genesys-spark-components/src/components/beta/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): icons requested in sprint gds23-2
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/font-regular-highlight.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-to-circle-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/award-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/diagram-nested-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-exclamation-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/hand-back-point-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/list-radio-clean-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/pen-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-user-circle-arrow-left.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(a11y): fixed check-a11y script
  package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/check-a11y.mjs
Due: prettier --write

chore(release): 3.95.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(copy-to-clipboard): removed unused reference to popperjs
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
Due: prettier --write, eslint --fix

refactor(inline-alert): move from beta to stable
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-alert/example.html
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.less
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.tsx
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.types.ts
  packages/genesys-spark-components/src/components/stable/gux-alert/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-alert/readme.md
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/gux-inline-alert.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/gux-inline-alert.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(tokens): updated to latest versions of tokens from UX
  packages/genesys-spark-components/src/style/style.less
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-actions.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-actions.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-actions.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-actions.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

refactor(breadcrumbs): refactored breadcrumbs to use new design system tokens
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.less
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/readme.md
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/example.html
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/gux-breadcrumbs.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/gux-breadcrumbs.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write, eslint --fix

refactor(card): now using design tokens
  packages/genesys-spark-components/src/components/beta/gux-card/gux-card.less
  packages/genesys-spark-components/src/components/beta/gux-card/gux-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(build): fixed icon readme file
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
