Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

fix(time-picker): Added validation input check
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

chore(context-menu): run update position when expanded on load
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

chore(context-menu): update snapshot
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.spec.ts.snap
Due: none

feat(tokens): updated colors as described in GDS-2568
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

fix(popover-list): change strategy to fixed
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
Due: prettier --write, eslint --fix

feat(table): removing unnecessary method
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/tests/gux-all-row-select.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(table): removing unnecessary method
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
Due: none

feat(other): added mode switcher to example docs
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: prettier --write

refactor(other): tokens update
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

test(other): fixed e2e snapshot
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
Due: none

refactor(rich-text-editor): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
Due: prettier --write, eslint --fix

refactor(rich-text-editor): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
Due: stylelint --fix, prettier --write

chore(time-picker): Fixed error handling to be accessible
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

fix(tokens): fixed tokens as per UXQA review
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

chore(tokens): generated CSS snapshot
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

style(other): form-field-input-clear-button
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
Due: none

fix(tokens): fixed tokens as per UXQA review
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

test(other): update token build snapshots
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

refactor(other): updated genesys-spark scss files with updated dist folder references
  packages/genesys-spark/src/style/_focus.scss
  packages/genesys-spark/src/style/_mixins.scss
  packages/genesys-spark/src/style/_typography.scss
  packages/genesys-spark/src/style/flare/global.scss
  packages/genesys-spark/src/style/flare/ui.scss
  packages/genesys-spark/src/style/global.scss
  packages/genesys-spark/src/style/legacy/global.scss
  packages/genesys-spark/src/style/legacy/ui.scss
  packages/genesys-spark/src/style/ui.scss
Due: none

refactor(other): make flare theme the default
  packages/genesys-spark-components/src/style/flare.scss
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

chore(other): removed duplicate flare theme file creation
  packages/genesys-spark-components/scripts/build-themes.js
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
Due: prettier --write

chore(other): fix axe type
  packages/genesys-spark-chart-components/src/test/e2eTestUtils.ts
  packages/genesys-spark-components/src/test/e2eTestUtils.ts
Due: prettier --write, eslint --fix

chore(other): update file name
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): remove resizing, simplify PR
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): remove manual item creation and removal
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
Due: prettier --write, eslint --fix

fix(table): fixed header bottom border style
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: prettier --write

fix(content-search): fixed slotted input background color in legacy theme
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
Due: none

removed color token: blank_state.background_color (transparent black)
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

refactor(blank-state): run new-tokens-data
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

fix(other): form-field-input-clear-button fix styling
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
Due: none

fix(datepicker): remove background color on input
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

fix(copy-to-clipboard): fixed styles
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: prettier --write, eslint --fix

fix(form): fix form-heading styles
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/gux-form-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form.light.scss
Due: none

feat(other): rich-text-editor
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.types.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-column-manager/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/style/_light-dom.scss
Due: stylelint --fix, prettier --write, eslint --fix

refactor(rich-text-editor): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
Due: none

feat(popover-list): Added popover-list-beta component
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover-list-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover-list.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover-list.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover-list.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover-list.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(table): update select all on addition or removal of rows
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/tests/gux-all-row-select.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
Due: stylelint --fix, prettier --write, eslint --fix
