Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.20.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(time-zone-picker): allow custom defaults
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.20.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(all-row-select): update title of readme
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
Due: none

feat(selector-cards): proposed api
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
Due: stylelint --fix, prettier --write

docs(all-row-select): update title of readme (#338)
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
Due: none

chore(release): 4.20.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar): updates for code review
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: prettier --write, eslint --fix

feat(avatar): update accent example and tests
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): try abbr as prop
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: prettier --write, eslint --fix

feat(tokens): Upated figms variables
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(avatar): add accent styles
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): tidy css
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: prettier --write, eslint --fix

tokens: updated tokens' names to replace "status" with "presence"; "break" with "away"; "queue" with "on-queue"
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

Revert "feat(avatar): try abbr as prop"
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: prettier --write, eslint --fix

feat(avatar): upadte example
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

fix(dropdown-multi): elements cannot be navigated with keyboard
  packages/genesys-spark-components/src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.less
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): update snapshot and fallback
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: prettier --write, eslint --fix

fix(calendar-beta): when date selected it will select day before
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
Due: prettier --write, eslint --fix

feat(avatar): add line-height token
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: none

feat(icon): add regular-language-slash icon v4
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-language-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add regular-language-slash icon
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-language-slash.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(tokens): Added line-height to match the font size value GDS-2420
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write

feat(avatar): add accent styles (#330)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.ts
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(time-picker): aM/PM button does not inherit visibility css property when set on component
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

feat(icon): add regular-language-slash icon (#343)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-language-slash.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add regular-language-slash icon v4 (#341)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-language-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(tooltip-base): add tooltip-base component for internal use
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/gux-tooltip-types.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.120.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.21.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(backport): backporting some bug fixes from v4
  packages/genesys-spark-components/src/components/beta/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/beta/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/beta/gux-time-picker/tests/gux-time-picker.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
Due: prettier --write, eslint --fix

fix(time-picker-beta): aM/PM button does not inherit visibility css property when set on component
  packages/genesys-spark-components/src/components/beta/gux-time-picker/gux-time-picker.less
Due: stylelint --fix, prettier --write

chore(month-calendar): address pr comments
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark/src/utils/get-closest-element.ts
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

chore(gux-datepicker): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/src/components/stable/gux-datepicker/readme.md
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/check-regional-dates-cookie.ts
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.21.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.120.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(gux-datepicker): replace two character slash with one character slash for Arabic date
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

fix(gux-table): selected value not updating to reflect checbox state
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
Due: prettier --write, eslint --fix

chore(release): 4.21.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): reusable_label-font-weight-new tokens jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
