Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.174.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): new icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/bullhorn-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/whistle-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

refactor(rich-text-editor-beta): addition of mutation observer
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
Due: prettier --write, eslint --fix

refactor(rich-text-editor-beta): update filesDropped
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(segmented-control-divider): add divider component
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-2-darwin.png
Due: prettier --write, eslint --fix

chore(other): replace deleted stuff in themes.json
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): tokens build
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

refactor(rich-text-editor-beta): drag and drop updates
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): Renamed ai tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

test(other): update playwright tests to use UTC time zone
  packages/genesys-spark-components/playwright.config.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-short-format-2-darwin.png
Due: prettier --write, eslint --fix

chore(form-field-checkbox-group-beta): Added padding token
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
Due: none

chore(flyout-menu): Added missing css tokens
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
Due: none

feat(tokens): Added default AI glow style
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): Updated default AI glow
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): Added AI glow states
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): Updated AI glow values
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

chore(release): 4.175.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(card): update paragraph styling
  packages/genesys-spark-components/src/components/stable/gux-card/example.html
Due: stylelint --fix, prettier --write

test(other): fixed some Playwright snapshots
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts-snapshots/gux-prompt-input-beta-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-error-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-error-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-info-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-info-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-success-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-success-accent-inline-alert-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-warning-accent-inline-alert-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts-snapshots/gux-inline-alert-warning-accent-inline-alert-2-darwin.png
Due: none

style(table_pagination): inclusion of box_shadow and top-padding to support sticky states for the pagination in vertical overflow for data tables
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

perf(card): update card examples
  packages/genesys-spark-components/src/components/stable/gux-card/example.html
Due: stylelint --fix, prettier --write

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

perf(rich-text-editor-beta): update event
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

test(rich-text-editor-beta): update snapshots
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
Due: none

fix(button-slot): set inline-size to initial for inline accent
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
Due: none

chore(column-manager-item): Proof of concept for moving items with mouse click
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
Due: prettier --write, eslint --fix

chore(release): 4.175.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(toggle-slider): update aria-label when changed dynamically
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.tsx
Due: prettier --write, eslint --fix

chore(release): 3.136.0
  package-lock.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(button-slot): add playwright test
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/gux-button-slot.common.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/gux-button-slot.e2e.playwright.ts-snapshots/gux-button-slot-should-render-inline-button-without-width-constraint-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/gux-button-slot.e2e.playwright.ts-snapshots/gux-button-slot-should-render-inline-button-without-width-constraint-2-darwin.png
Due: prettier --write, eslint --fix

chore(other): update @vvo/tzdb dependency to latest
  .amazonq/agents/default.json
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

test(toggle): addition of tests
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Due: prettier --write, eslint --fix

test(button-slot): update snapshot
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/__snapshots__/gux-button-slot.spec.ts.snap
Due: none

feat(side panel): adding mini side panel header
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/gux-side-panel-header-mini.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/gux-side-panel-header-mini.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.types.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(tree-view-beta): tree view component single select
  packages/genesys-spark-components/src/components/beta/gux-tree-view/example.html
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/gux-tree-view-leaf.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/gux-tree-view-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-types.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): added aria decorator
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

chore(other): research
  packages/genesys-spark-components/src/components/beta/gux-tree/example.html
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.common.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts-snapshots/gux-tree-render-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts-snapshots/gux-tree-render-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): Update default AI gradient
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
