Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(other): update stencil to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-donut/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-pie/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/__snapshots__/gux-tab.spec.ts.snap
  packages/genesys-spark-components/src/test/e2eTestUtils.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(all-row-select): added label slot to improve accessibility
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): switched to webappPipelineV2
  .gitignore
  Jenkinsfile
  devops/assets/pipeline.d/deploy.yml
  devops/assets/pipeline.d/service.yml
  devops/examples/pipeline.d/deploy.yml
  devops/examples/pipeline.d/service.yml
  package.json
  packages/genesys-spark-chart-components/scripts/stencil-wrapper.ts
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/hosts.ts
  scripts/create-pipeline-d-folder.js
  web-apps/genesys-spark-examples/Jenkinsfile
  web-apps/genesys-spark-examples/src/index.html
  web-apps/genesys-spark-examples/src/viewer-template.html
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.154.2-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(tab-advanced): Improve NVDA button accessibility
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.spec.ts.snap
Due: prettier --write, eslint --fix

chore(other): fix version
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): address pr comments
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

fix(dropdown): Exclude subtext from selected option
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

test(dropdown): add test for subtext and selected option
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
Due: prettier --write, eslint --fix

fix(flyout-menu): add animation delay when showing
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.common.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
Due: prettier --write, eslint --fix

fix(selector-card-beta): inherit inline-size (#1106)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write

fix(tab-advanced): Improve NVDA button accessibility (#1167)
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.spec.ts.snap
Due: prettier --write, eslint --fix

chore(other): address PR comments
  Jenkinsfile
  devops/assets/pipeline.d/service.yml
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

chore(release): 4.154.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(time-picker): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.common.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts-snapshots/gux-time-picker-Should-render-as-expected-for-12h-clock-type-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts-snapshots/gux-time-picker-Should-render-as-expected-for-12h-clock-type-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts-snapshots/gux-time-picker-Should-render-as-expected-for-24h-clock-type-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts-snapshots/gux-time-picker-Should-render-as-expected-for-24h-clock-type-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts-snapshots/gux-time-picker-Should-render-as-expected-for-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.playwright.ts-snapshots/gux-time-picker-Should-render-as-expected-for-disabled-2-darwin.png
Due: prettier --write, eslint --fix

test(table-toolbar-custom-action): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-ghost-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-ghost-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-primary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-primary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-secondary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-secondary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-a-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-a-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-disabled-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-disabled-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-icon-only-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-icon-only-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.spec.ts
Due: prettier --write, eslint --fix

test(table-toolbar-custom-action): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.spec.ts.snap
Due: none

chore(other): address PR comments
  devops/assets/pipeline.d/service.yml
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
Due: none

chore(release): 4.154.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): fix examples Jenkinsfile
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

fix(tooltip): fixed memory leak
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-sub-list/gux-rich-text-editor-sub-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

test(icon-tooltip-beta): playwright test
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/__snapshots__/gux-icon-tooltip.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.common.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.playwright.ts-snapshots/gux-icon-tooltip-beta-renders-an-icon-tooltip-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.playwright.ts-snapshots/gux-icon-tooltip-beta-renders-an-icon-tooltip-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.ts
Due: prettier --write, eslint --fix

fix(segmented-control-item): Improve NVDA accessibility
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: prettier --write, eslint --fix

fix(other): added missing "Noto Sans Mono" font
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/readme.md
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/index.ts
  web-apps/genesys-spark-examples/src/index.html
Due: stylelint --fix, prettier --write, eslint --fix

test(icon-tooltip-beta): playwright test (#1176)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/__snapshots__/gux-icon-tooltip.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.common.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.playwright.ts-snapshots/gux-icon-tooltip-beta-renders-an-icon-tooltip-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.playwright.ts-snapshots/gux-icon-tooltip-beta-renders-an-icon-tooltip-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.ts
Due: prettier --write, eslint --fix

fix(rich-text-editor-beta): Update buttons for NVDA accessibility
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/gux-rich-text-editor-action-text-highlight.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-menu/gux-rich-text-editor-menu.tsx
Due: prettier --write, eslint --fix

test(table-toolbar): fixed failing e2e test
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/readme.md
Due: prettier --write, eslint --fix

fix(rich-text-editor-beta): Update buttons for NVDA accessibility (#1172)
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/gux-rich-text-editor-action-text-highlight.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-menu/gux-rich-text-editor-menu.tsx
Due: prettier --write, eslint --fix

chore(release): 4.154.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

ci(other): release hack
  devops/examples/pipeline.d/service.yml
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

test(calendar): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.common.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-numberOfMonths-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-numberOfMonths-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-range-calendar-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-range-calendar-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-single-calendar-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-single-calendar-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-startDayOfWeek-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.e2e.playwright.ts-snapshots/gux-calendar-should-render-as-expected-for-startDayOfWeek-2-darwin.png
Due: prettier --write, eslint --fix

chore(icon): added new icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-menu/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-extra-large-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-dashed-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-half-stroke-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/compress-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/download-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/expand-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/keyboard-brightness-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/print-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-circle-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

test(page-loading-spinner): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/tests/gux-page-loading-spinner.common.ts
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/tests/gux-page-loading-spinner.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/tests/gux-page-loading-spinner.e2e.playwright.ts-snapshots/gux-page-loading-spinner-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/tests/gux-page-loading-spinner.e2e.playwright.ts-snapshots/gux-page-loading-spinner-should-render-as-expected-2-darwin.png
Due: prettier --write, eslint --fix

fix(tooltip): fixed memory leak
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-sub-list/gux-rich-text-editor-sub-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

feat(tokens): Sync existing UI tokens to new shadow tokens
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write
