Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(gux-radial-loading): using tokens instead of hardcoded size values
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
Due: none

chore(gux-radial-loading): removed comments
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
Due: none

chore(gux-radial-loading): fixed build error
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
Due: none

chore(release): 4.0.0-beta.69
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(app.js): remove key event
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(icon): added new size property
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/scripts/generate-gux-icon-types-file.js
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
  web-apps/genesys-spark-examples/src/utils/generateIcons.js
  web-apps/genesys-spark-examples/src/utils/generateLegacyIcons.js
Due: stylelint --fix, prettier --write, eslint --fix

fix(table-toolbar): add forceUpdate to MutationObserver
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
Due: prettier --write, eslint --fix

feat(form fields): add outline offset to a number of form fields
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
Due: none

chore(release): 4.0.0-beta.70
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(time-zone-picker): remove stylings from gux-list-divider
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.less
Due: stylelint --fix, prettier --write

feat(tokens): datepicker focus jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

docs(readme.md): add link from README.md to contributing guide
  README.md
Due: none

chore(release): 4.0.0-beta.71
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): release v4
  Jenkinsfile
  docs/migration-guides/v4/readme.md
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

fix(token): fixed token build
  packages/genesys-spark-tokens/utils/get-token-studio-tokens.mjs
Due: none

feat(content-search): align navigation panel on content-search with input text
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
Due: none

fix(gux-tooltip): add support for updating for attribute after component is connected
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

feat(content-search month-picker): add outline offset on focus
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
Due: none

chore(release): 3.112.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(modal): update v4 migration and examples with modal open attribute
  docs/migration-guides/v4/gux-modal-legacy.md
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(tag): adding fix to tag for screenreader
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
Due: prettier --write, eslint --fix

refactor(time-zone-picker): conditionally render defaults header
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
Due: prettier --write, eslint --fix

docs(typo): fixed typo
  docs/migration-guides/v4/gux-modal-legacy.md
Due: none

feat(gux-tooltip): add support for updating for attribute
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

fix(tooltip): set host pointer-events to none
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

fix(tooltip): set host pointer-events to none
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.less
Due: stylelint --fix, prettier --write

feat(tokens): add new tokens to main
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(release): 3.113.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): revert badge radius change as figma works diferently
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
Due: prettier --write

refactor(radial-loading): component now uses css custom properties
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
Due: none

refactor(radial-loading): component now uses sass design system tokens
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
Due: none

feat(migration guide links): point migration guide links to the right place
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/example.html
  web-apps/genesys-spark-examples/src/component-listing/app.js
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
