Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 3.126.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.55.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(table): applying styles to whole row even with sticky columns
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: stylelint --fix, prettier --write

feat(table): removing unused styles
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
Due: stylelint --fix, prettier --write

chore(month-picker): Moved focusout event to parent component
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

fix(tabs): vertical tab component now truncates
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
Due: none

test(avatar): Add accessibility checklist and upate example
  packages/genesys-spark-components/src/components/beta/gux-avatar/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

fix(pagination): remove legacy types import
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.types.ts
Due: prettier --write, eslint --fix

refactor(pagination): update pagination-cursor types
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.tsx
Due: prettier --write, eslint --fix

chore(release): 4.56.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(avatar): Add accessibility checklist and upate example (#483)
  packages/genesys-spark-components/src/components/beta/gux-avatar/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

refactor(other): updated token build tools
  package-lock.json
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/data/search_and_filter.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-searchAndFilter.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-actions.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-searchAndFilter.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-searchAndFilter.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-searchAndFilter.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
  packages/genesys-spark-tokens/utils/output-styles.mjs
Due: stylelint --fix, prettier --write

fix(popover): Closing popover on focus out
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(release): 4.56.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(visualization): remove unecessary changes
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.scss
Due: none

feat(selector-card): Add descriptive variant for radio selector card
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(selector-card): Add descriptive variant for radio selector card (#468)
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(cta_group): adding spacing token
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/actions.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/data_display.json
  packages/genesys-spark-tokens/data/feedback.json
  packages/genesys-spark-tokens/data/form_control.json
  packages/genesys-spark-tokens/data/forms_and_inputs.json
  packages/genesys-spark-tokens/data/global_deprecated.json
  packages/genesys-spark-tokens/data/layout & container.json
  packages/genesys-spark-tokens/data/navigation.json
  packages/genesys-spark-tokens/data/search_and_filter.json
  packages/genesys-spark-tokens/data/semantic.json
  packages/genesys-spark-tokens/data/ui.json
  packages/genesys-spark-tokens/data/ui_deprecated.json
Due: prettier --write

chore(tooltip): Added tests for gux-tooltip-title component
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/__snapshots__/gux-tooltip-title.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.ts
Due: prettier --write, eslint --fix

chore(release): 4.57.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(cta_group): adding button spacing token
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

feat(form-field-checkbox-group): add form-field-checkbox-group component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.58.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(tooltip-beta): fixing invalid html
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/example.html
Due: stylelint --fix, prettier --write

test(tooltip beta): updating tests to reflect preferred html
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.spec.ts
Due: prettier --write, eslint --fix

chore(other): update node to 18.x multiarch
  .nvmrc
  .prettierignore
  Jenkinsfile
  package.json
  packages/genesys-spark-chart-components-react/Jenkinsfile
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/Jenkinsfile
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/Jenkinsfile
Due: prettier --write

chore(other): updated snapshots
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
Due: none

feat(selector-cards): Checkbox variants added
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(form-field-checkbox): Design changes for error message and icon container
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/tests/__snapshots__/gux-pagination-buttons.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.tsx
Due: prettier --write, eslint --fix

feat(tag): renaming to old tokens
  packages/genesys-spark-tokens/data-old/tokens.json
Due: prettier --write

chore(calendar): Added date placeholder locale tests
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
Due: prettier --write, eslint --fix

feat(time-picker): behind feat toggle remove hard coded 24hr format for certain locales
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
Due: prettier --write, eslint --fix

feat(time-picker): behind feat toggle remove hard coded 24 hr format for certain locales
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/beta/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
Due: prettier --write, eslint --fix

chore(other): updated snapshot tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
Due: none

chore(release): 4.59.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): fixing merge conflict
  packages/genesys-spark-tokens/data-old/tokens.json
Due: prettier --write

feat(tokens): generating tokens
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-searchAndFilter.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-searchAndFilter.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-searchAndFilter.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-searchAndFilter.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(tokens): generating tokens
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
Due: prettier --write

feat(other): forms
  packages/genesys-spark-components/src/components/beta/gux-form/example.html
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/gux-form-description.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/gux-form-description.tsx
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/readme.md
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/__snapshots__/gux-form-description.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/gux-form-fieldset-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/gux-form-fieldset-heading.tsx
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/__snapshots__/gux-form-fieldset-heading.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.tsx
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.types.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/readme.md
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/__snapshots__/gux-form-footer.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/gux-form-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/gux-form-heading.tsx
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/__snapshots__/gux-form-heading.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form.light.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form.tsx
  packages/genesys-spark-components/src/components/beta/gux-form/readme.md
  packages/genesys-spark-components/src/components/beta/gux-form/tests/__snapshots__/gux-form.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/tests/__snapshots__/gux-form.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/style/style.scss
Due: stylelint --fix, prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
