Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(tokens): updated tertiary and ghost buttons
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

feat(tokens): Updated segmented control tokens
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): Generated figma vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): generated Figma vars
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(release): 4.132.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(calendar-beta): Sync min/max/disabled from input to calendar
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
Due: prettier --write, eslint --fix

chore(calendar-beta): improved focus & disabled behavior
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
Due: prettier --write, eslint --fix

chore(calendar-beta): Enable full-element disable
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
Due: prettier --write, eslint --fix

fix(copy-to-clipboard): display none when hidden (#982)
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Due: none

fix(context-menu): Move label from icon to screenreader-beta
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-context-menu/readme.md
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
Due: prettier --write, eslint --fix

test(calendar-beta): update snapshots
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
Due: none

feat(tokens): Generated CSS vars
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(release): 4.132.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): LOCAL-10116 updated hindi translations
  packages/genesys-spark-components/src/i18n/translations/hi.json
Due: prettier --write

feat(modal side panel): modal is visible when open prop is initially set
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.spec.ts
Due: prettier --write, eslint --fix

feat(tokens): generated CSS vars
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

feat(tokens): changed the themes name
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Adjusted figma collections
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): ran linter
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): reverted ai color id value
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.133.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): Updated custom accents values (#990)
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

fix(time-zone-beta): fix translations
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/readme.md
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
Due: prettier --write, eslint --fix

fix(popover-beta): add method to close popover
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
Due: prettier --write, eslint --fix

chore(time-picker): Changed minutes and hours inputs to number type
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

chore(release): 4.134.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(copy-to-clipboard): add exclusion
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
Due: prettier --write, eslint --fix

fix(time-zone-beta): fix translations (#992)
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/readme.md
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
Due: prettier --write, eslint --fix

chore(release): 4.134.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(time-picker): Added role spinbutton to hours and minutes inputs
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

chore(time-picker): Fixed aria min/max on hours input
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

chore(form-field-text-like): Moved role=status to inside renderRadialLoading
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
Due: prettier --write, eslint --fix

chore(release): 4.134.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): added hi lang to tests and examples
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/tests/d3-rs-intl.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/example.html
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-time-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
  packages/genesys-spark-components/src/i18n/languageList.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): scss and less tokens are now out of beta
  packages/genesys-spark/scripts/build-token-files.mjs
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
  packages/genesys-spark/snapshot/tokens/flare/ui.less
Due: stylelint --fix, prettier --write

chore(release): 4.135.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(popover-beta): change togglePopover to hidePopover method for dismiss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix
