Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

fix(table-toolbar): update vertical seperation bar, addition of prop for menu
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.less
  src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.less
  src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  src/components/beta/gux-table-toolbar/gux-table-toolbar.less
  src/components/beta/gux-table-toolbar/gux-table-toolbar.service.tsx
  src/components/beta/gux-table-toolbar/gux-table-toolbar.tsx
  src/components/beta/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.60.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(table): fix infinite scale issue
  src/components/beta/gux-table/gux-table.tsx
Due: prettier --write, eslint --fix

chore(release): 3.60.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown-multi): addition of MutationObserver
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
Due: prettier --write, eslint --fix

feat(popover): update to popover design
  src/components/stable/gux-popover/example.html
  src/components/stable/gux-popover/gux-popover.less
  src/components/stable/gux-popover/gux-popover.tsx
  src/components/stable/gux-popover/readme.md
  src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
  src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  src/components/stable/gux-popover/tests/gux-popover.spec.ts
  src/style/shadows.less
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.61.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(stencil-wrapper): load assets using https (#1128)
  scripts/stencil-wrapper.ts
Due: prettier --write, eslint --fix

chore(release): 3.61.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown): addition of mutation observer to dropdown
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(popover-beta): implement new design to popover-beta
  src/components/beta/gux-popover-beta/example.html
  src/components/beta/gux-popover-beta/gux-popover-beta.less
  src/components/beta/gux-popover-beta/gux-popover-beta.tsx
  src/components/beta/gux-popover-beta/readme.md
  src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover-beta.spec.ts.snap
  src/components/beta/gux-popover-beta/tests/gux-popover-beta.e2e.ts
  src/components/beta/gux-popover-beta/tests/gux-popover-beta.spec.ts
  src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
  src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  src/components/stable/gux-popover/tests/gux-popover.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.61.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.62.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(column-manager): checkbox events dispatched on (de)select all checkbox click
  src/components/beta/gux-column-manager/example.html
  src/components/beta/gux-column-manager/gux-column-manager.service.tsx
  src/utils/dom/simulate-native-event.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(pr-comment): addressed PR comment
  src/utils/dom/simulate-native-event.ts
Due: prettier --write, eslint --fix

fix(gux-popup-beta): action-button and button-multi now use floating-ui popup (#1132)
  src/components/beta/gux-popup-beta/gux-popup-beta.less
  src/components/beta/gux-popup-beta/gux-popup-beta.tsx
  src/components/beta/gux-popup-beta/readme.md
  src/components/beta/gux-popup-beta/tests/__snapshots__/gux-popup-beta.e2e.ts.snap
  src/components/beta/gux-popup-beta/tests/__snapshots__/gux-popup-beta.spec.ts.snap
  src/components/beta/gux-popup-beta/tests/gux-popup-beta.e2e.ts
  src/components/beta/gux-popup-beta/tests/gux-popup-beta.spec.ts
  src/components/stable/gux-action-button/gux-action-button.tsx
  src/components/stable/gux-action-button/readme.md
  src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  src/components/stable/gux-button-multi/gux-button-multi.tsx
  src/components/stable/gux-button-multi/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.62.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(popover-beta): change is-open property default to false
  src/components/beta/gux-popover-beta/example.html
  src/components/beta/gux-popover-beta/gux-popover-beta.tsx
  src/components/beta/gux-popover-beta/readme.md
  src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover-beta.spec.ts.snap
  src/components/beta/gux-popover-beta/tests/gux-popover-beta.e2e.ts
  src/components/beta/gux-popover-beta/tests/gux-popover-beta.spec.ts
  src/components/beta/gux-popover-list-beta/gux-popover-list-beta.tsx
  src/components/beta/gux-popover-list-beta/readme.md
  src/components/beta/gux-popover-list-beta/tests/__snapshots__/gux-popover-list-beta.spec.ts.snap
  src/components/beta/gux-popover-list-beta/tests/gux-popover-list-beta.e2e.ts
  src/components/beta/gux-popover-list-beta/tests/gux-popover-list-beta.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.63.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(popover-beta): hiding now done with display not visibility
  src/components/beta/gux-popover-beta/gux-popover-beta.less
  src/components/beta/gux-popover-list-beta/gux-popover-list-beta.less
  src/components/stable/gux-tooltip/gux-tooltip.less
Due: stylelint --fix, prettier --write

test(axe): adding 2 axe test to increase coverage
  src/components/beta/gux-announce/tests/__snapshots__/gux-announce.e2e.ts.snap
  src/components/beta/gux-announce/tests/__snapshots__/gux-announce.spec.ts.snap
  src/components/beta/gux-announce/tests/gux-announce.e2e.ts
  src/components/beta/gux-announce/tests/gux-announce.spec.ts
  src/components/beta/gux-loading-message/tests/gux-loading-message.e2e.ts
Due: prettier --write, eslint --fix

fix(icon-follow): follow icon is updated from the latest 3.x version
  src/components/stable/gux-icon/icons/follow.svg
Due: svgo -i

chore(release): 2.58.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(popover-beta): update to "for" attribute to search shadowDOM
  src/components/beta/gux-popover-beta/gux-popover-beta.tsx
  src/utils/dom/find-element-by-id.ts
Due: prettier --write, eslint --fix

chore(release): 3.64.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(tooltip): added connected check to logging
  src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

feat(gux-popup-beta): replace gux-popup with gux-popup-beta in components (#1145)
  src/components/beta/gux-context-menu/gux-context-menu.tsx
  src/components/beta/gux-context-menu/readme.md
  src/components/beta/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  src/components/beta/gux-dropdown-multi/readme.md
  src/components/beta/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  src/components/beta/gux-month-picker/gux-month-picker.tsx
  src/components/beta/gux-month-picker/readme.md
  src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/readme.md
  src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/tests/__snapshots__/gux-pagination-items-per-page-beta.spec.ts.snap
  src/components/beta/gux-pagination-beta/readme.md
  src/components/beta/gux-phone-input/gux-phone-input.tsx
  src/components/beta/gux-phone-input/readme.md
  src/components/beta/gux-popup-beta/readme.md
  src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  src/components/beta/gux-table-toolbar/readme.md
  src/components/beta/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  src/components/beta/gux-time-picker/gux-time-picker.tsx
  src/components/beta/gux-time-picker/readme.md
  src/components/beta/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  src/components/stable/gux-advanced-dropdown/gux-advanced-dropdown.less
  src/components/stable/gux-advanced-dropdown/gux-advanced-dropdown.tsx
  src/components/stable/gux-advanced-dropdown/readme.md
  src/components/stable/gux-advanced-dropdown/tests/__snapshots__/gux-advanced-dropdown.spec.ts.snap
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-dropdown/readme.md
  src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
  src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.e2e.ts
  src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
  src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  src/components/stable/gux-pagination/readme.md
  src/components/stable/gux-pagination/tests/__snapshots__/gux-pagination.spec.ts.snap
  src/components/stable/gux-popup/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.65.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(focus): update focus styles using outline property (#1141)
  src/style/focus.less
  src/style/mixins.less
Due: stylelint --fix, prettier --write

chore(release): 3.66.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(breadcrumb): changes to the slot now updates all children
  src/components/stable/gux-breadcrumbs/example.html
  src/components/stable/gux-breadcrumbs/gux-breadcrumbs.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.66.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor(popover-list): moved stable component into stable folder
  src/components/legacy/gux-tabs-legacy/gux-tab-legacy/readme.md
  src/components/stable/gux-dismiss-button/readme.md
  src/components/stable/gux-popover-list/gux-popover-list.less
  src/components/stable/gux-popover-list/gux-popover-list.tsx
  src/components/stable/gux-popover-list/gux-popover-list.types.ts
  src/components/stable/gux-popover-list/readme.md
  src/components/stable/gux-popover-list/tests/__snapshots__/gux-popover-list.spec.ts.snap
  src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.ts
  src/components/stable/gux-popover-list/tests/gux-popover-list.spec.ts
  src/components/stable/gux-tabs-advanced/gux-tab-advanced/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(tooltip): addition of findElementByID util to tooltip
  src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

docs(popover-list): added examples to the popover-list components
  src/components/beta/gux-popover-list-beta/example.html
  src/components/stable/gux-popover-list/example.html
Due: stylelint --fix, prettier --write

chore(release): 3.66.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.67.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: add angular 13 playground (#1147)
  playground/angular-v12/src/app/app.component.html
  playground/angular-v12/src/app/app.component.ts
  playground/angular-v13/.browserslistrc
  playground/angular-v13/.editorconfig
  playground/angular-v13/.gitignore
  playground/angular-v13/README.md
  playground/angular-v13/angular.json
  playground/angular-v13/karma.conf.js
  playground/angular-v13/package-lock.json
  playground/angular-v13/package.json
  playground/angular-v13/src/app/app.component.html
  playground/angular-v13/src/app/app.component.less
  playground/angular-v13/src/app/app.component.ts
  playground/angular-v13/src/app/app.module.ts
  playground/angular-v13/src/assets/.gitkeep
  playground/angular-v13/src/environments/environment.prod.ts
  playground/angular-v13/src/environments/environment.ts
  playground/angular-v13/src/favicon.ico
  playground/angular-v13/src/index.html
  playground/angular-v13/src/main.ts
  playground/angular-v13/src/polyfills.ts
  playground/angular-v13/src/styles.less
  playground/angular-v13/tsconfig.app.json
  playground/angular-v13/tsconfig.json
  playground/angular-v13/tsconfig.spec.json
  src/components/beta/gux-chart-scatter-plot/example.html
  src/components/beta/gux-column-manager/example.html
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.67.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
