Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feature-GDS-2862-date-picker - Jackie
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(datepicker): addition of tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(other): update @vvo/tzdb to latest
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
Due: prettier --write, eslint --fix

feat(stepper-beta): addition of stepper component
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.types.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-stepper/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/utils/dom/get-attribute-from-parent.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(dropdown): Exclude subtext from selected option
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

refactor(stepper-beta): remove aria items
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/i18n/en.json
Due: prettier --write, eslint --fix

refactor(stepper-beta): remove translation
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write

fix(popup): removed position on component load
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.spec.ts.snap
Due: prettier --write, eslint --fix

refactor(stepper-beta): utilise css properties
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-components/src/utils/dom/get-attribute-from-parent.ts
Due: prettier --write, eslint --fix

chore(form-description): Added playwright tests
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/__snapshots__/gux-form-description.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts-snapshots/gux-form-description-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts-snapshots/gux-form-description-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.151.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(link-beta): Add playwright tests
  packages/genesys-spark-components/src/components/beta/gux-link/tests/__snapshots__/gux-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.common.ts
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-at-size-small-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-at-size-small-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-default-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-default-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-icon-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-size-small-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-size-small-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.ts
Due: prettier --write, eslint --fix

refactor(datepicker): updates to themes
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

style(tree_view): spacing tokens created w/ partial selection
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

test(tab-panel): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/tests/gux-tab-panel.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/tests/gux-tab-panel.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/tests/gux-tab-panel.e2e.playwright.ts-snapshots/gux-tab-panel-should-render-a-gux-tab-panel-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/tests/gux-tab-panel.e2e.playwright.ts-snapshots/gux-tab-panel-should-render-a-gux-tab-panel-2-darwin.png
Due: prettier --write, eslint --fix

test(link-beta): Add playwright tests (#1125)
  packages/genesys-spark-components/src/components/beta/gux-link/tests/__snapshots__/gux-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.common.ts
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-at-size-small-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-at-size-small-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-default-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-default-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-icon-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-size-small-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.playwright.ts-snapshots/gux-link-beta-should-render-as-expected-standalone-with-size-small-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.ts
Due: prettier --write, eslint --fix

refactor(stepper-beta): add inline sizing
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
Due: none

style(tree_view): spacing completed
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

style(tree_view): border-radius and sizes addition
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

feat(avatar-beta): Make tooltip optional
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.151.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(tree_view): typography and opacity added and applied
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

style(tree_view): color added and partial application
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

style(tree_view): color full application
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

style(tree_view): group-header spacing inclusion
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

fix(flyout-menu): add animation delay when showing
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
Due: stylelint --fix, prettier --write

chore(avatar-beta): update methods
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.151.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): revert OnResize change causing jest issues
  packages/genesys-spark-components/src/utils/decorator/on-resize.ts
Due: prettier --write, eslint --fix

chore(other): add tokens for tree view component
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(table-toolbar): Fixed layout scaled up
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

chore(release): 4.152.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(form-heading): add Playwright test
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/__snapshots__/gux-form-heading.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.playwright.ts-snapshots/gux-form-heading-should-render-as-expected-for-form-heading-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.playwright.ts-snapshots/gux-form-heading-should-render-as-expected-for-form-heading-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.spec.ts
Due: prettier --write, eslint --fix

fix(selector-card-beta): inherit inline-size
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

chore(selector-card-beta): example with resize
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: stylelint --fix, prettier --write

test(form-fieldset-heading): Add Playwright test
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/__snapshots__/gux-form-fieldset-heading.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.playwright.ts-snapshots/gux-form-fieldset-heading-should-render-with-slotted-heading-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.playwright.ts-snapshots/gux-form-fieldset-heading-should-render-with-slotted-heading-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.spec.ts
Due: prettier --write, eslint --fix

test(form-heading): add Playwright test (#1133)
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/__snapshots__/gux-form-heading.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.playwright.ts-snapshots/gux-form-heading-should-render-as-expected-for-form-heading-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.playwright.ts-snapshots/gux-form-heading-should-render-as-expected-for-form-heading-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-heading/tests/gux-form-heading.spec.ts
Due: prettier --write, eslint --fix

feat(avatar-beta): Make tooltip optional
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

test(form-footer): Add Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/__snapshots__/gux-form-footer.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-desktop-placement-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-desktop-placement-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-mobile-placement-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-mobile-placement-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-side-sheet-desktop-placement-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-side-sheet-desktop-placement-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

refactor(submenu): update submenu to have delay
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
Due: stylelint --fix, prettier --write
