Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

refactor(tokens): update tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

refactor(time-picker): updates to focus/states
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

fix(less): remove less related dependencies
  .github/workflows/main.yml
  .npmrc
  Jenkinsfile
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(gux-form-field-radio): svg fixes
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

refactor(gux-flyout-menu): convert to floating ui
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/example.html
  packages/genesys-spark-components/src/components/stable/gux-column-manager/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-form-field-radio): fixed functional component import build error
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(gux-flyout-menu): fix border
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
Due: none

chore(gux-flyout-menu): add active style
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.36
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(translations): added missing translations
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-badge/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

fix(snapshot): fixed broken snapshot
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
Due: none

chore(gux-form-field helpers): shortened gux-form-field helper mixin names
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-legend-label/gux-form-field-legend-label.scss
Due: none

fix(form-field-dropdown): value truncates if longer than space available
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.less
Due: stylelint --fix, prettier --write

chore(gux-flyout-menu): address PR comment
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
Due: prettier --write, eslint --fix

feat: add a new default package with proof-of-concept CDN component loading
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/.gitignore
  packages/genesys-spark/package.json
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/tsconfig.json
  playground/vue-2/package-lock.json
  playground/vue-2/package.json
  playground/vue-2/src/App.vue
  playground/vue-2/src/main.js
Due: prettier --write, eslint --fix

docs(examples): update example styles for v4
  package-lock.json
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
  web-apps/genesys-spark-examples/src/index.html
  web-apps/genesys-spark-examples/src/viewer-template.html
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write

feat(genesys-spark): add asset domain discovery
  package-lock.json
  package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  packages/genesys-spark/rollup.config.js
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/tsconfig.json
Due: prettier --write, eslint --fix

chore(examples): fix weird navigation link color behavior
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: none

fix(genesys-spark): make registering components wait for both js and css to indicate it's ready
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write, eslint --fix

chore(vue3-playground): move vue3 playground in with the rest of the playground apps
  playground/vue-3/.eslintrc.json
  playground/vue-3/.lintstagedrc.json
  playground/vue-3/.stylelintrc.json
  playground/vue-3/LICENSE
  playground/vue-3/index.html
  playground/vue-3/package.json
Due: stylelint --fix, prettier --write

ci(jenkins): update so that docs build has access to the asset location from the component build
  Jenkinsfile
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
  packages/genesys-spark-components/scripts/wrap-stencil.js
  packages/genesys-spark/rollup.config.js
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

docs(genesys-spark): explain monorepo structure and add/include genesys-spark package docs
  README.md
  packages/genesys-spark-components/README.md
  packages/genesys-spark/README.md
Due: none

chore(genesys-spark): sync package version and prepare for publishing
  Jenkinsfile
  package-lock.json
  packages/genesys-spark/package.json
Due: prettier --write

chore(release): 4.0.0-beta.37
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tokens): adding latest tokens
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/style/_typography.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

refactor(tabs-advanced): removed legacy component versino
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-list/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-panel/gux-tab-advanced-panel.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-panel/gux-tab-advanced-panel.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-panel/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tabs-advanced.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tabs-advanced.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/i18n/en.json
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/__snapshots__/gux-tabs-advanced.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/gux-tabs-advanced.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/gux-tabs-advanced.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

refactor(form-field-checkbox): update scss icons
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
Due: none

chore(release): 3.106.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.38
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(form-field): update form-field scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.light.scss
Due: none

feat(icon): Added icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eye-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eye-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/laptop-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/message-bot-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): Added icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eye-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eye-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/laptop-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/message-bot-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(release): 4.0.0-beta.39
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.107.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

ci(jenkins): move changelog generation to the root of the monorepo
  CHANGELOG.md
  Jenkinsfile
  package.json
  packages/genesys-spark-components/package.json
Due: prettier --write

docs: move package/project readmes and migration guides
  docs/CONTRIBUTING.md
  docs/migration-guides/icon-updates-and-consolidation.md
  docs/migration-guides/v2.md
  docs/migration-guides/v3/gux-accordion-legacy.md
  docs/migration-guides/v3/gux-action-button-legacy.md
  docs/migration-guides/v3/gux-button-multi-legacy.md
  docs/migration-guides/v3/gux-dropdown-legacy.md
  docs/migration-guides/v3/gux-form-field-legacy.md
  docs/migration-guides/v3/gux-list-legacy.md
  docs/migration-guides/v3/gux-tabs-legacy.md
  docs/migration-guides/v3/readme.md
  docs/migration-guides/v4/color-palette.md
  docs/migration-guides/v4/gux-action-toast-legacy.md
  docs/migration-guides/v4/gux-advanced-dropdown-legacy.md
  docs/migration-guides/v4/gux-error-message-beta.md
  docs/migration-guides/v4/gux-notification-toast-legacy.md
  docs/migration-guides/v4/gux-pagination-legacy.md
  docs/migration-guides/v4/gux-simple-toast-legacy.md
  docs/migration-guides/v4/gux-switch-legacy.md
  docs/migration-guides/v4/installation.md
  docs/migration-guides/v4/readme.md
  docs/migration-guides/v4/shadows.md
  docs/migration-guides/v4/spacing.md
  packages/genesys-spark-components-react/README.md
  packages/genesys-spark-components/documentation/REACT_INTEGRATION.md
Due: none

refactor(gux-flyout-menu): convert subcomponents to shadow dom
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
Due: prettier --write, eslint --fix

fix(tokens): updating to latest tokens
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark/package.json
Due: stylelint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
