Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(other): logical properties on nested stable components
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-divider/gux-list-divider.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
Due: prettier --write

chore(release): 4.98.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table-toolbar): fix tooltip overlapping menu when expanded
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
Due: prettier --write, eslint --fix

chore(other): logical properties on nested stable components (#712)
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-divider/gux-list-divider.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
Due: prettier --write

fix(table): added safari repaint bug workaround
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
Due: prettier --write, eslint --fix

fix(table-toolbar): hide tooltip when menu is expanded
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
Due: prettier --write, eslint --fix

feat(tabs): tab panel will now fill its container
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
Due: none

fix(table-toolbar): always show label when in the condensed display
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

chore(release): 4.98.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tokens): adding some dark mode tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: prettier --write

docs(visualization): add spark examples for line charts (#713)
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

fix(label-info): Pass formatting through to tooltip
  packages/genesys-spark-components/src/components/beta/gux-label-info/example.html
  packages/genesys-spark-components/src/components/beta/gux-label-info/gux-label-info.tsx
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/example.html
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): redo tooltip handling
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/gux-label-info.tsx
  packages/genesys-spark-components/src/components/beta/gux-label-info/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

feat(copy-to-clipboard): detect overflow in tooltip position
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/utils/dom/overflow-detection.ts
Due: prettier --write, eslint --fix

feat(copy-to-clipboard): detect overflow in tooltip position (#611)
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/utils/dom/overflow-detection.ts
Due: prettier --write, eslint --fix

fix(label-info): Pass formatting through to tooltip (#703)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/example.html
  packages/genesys-spark-components/src/components/beta/gux-label-info/gux-label-info.tsx
  packages/genesys-spark-components/src/components/beta/gux-label-info/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

docs(visualization): add spark scatter plot examples
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

docs(visualization): add spark donut and pie chart examples
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

refactor(rich-text-editor): address pr comment
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update dependencies
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-label-info/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.scss
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table): header showing above popups
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

chore(other): added jest config to fix ci test runs
  packages/genesys-spark-components/package.json
Due: prettier --write

fix(listbox): Added disabled prop
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.100.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(dropdown-multi): block tag from expanding listbox when removed
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.tsx
Due: prettier --write, eslint --fix

feat(side panel): side panel component
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/gux-side-panel-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/gux-side-panel-heading.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.types.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/mixins.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(dropdown-multi): block tag from expanding listbox when removed (#726)
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.tsx
Due: prettier --write, eslint --fix

style(side panel): cleaning up token discrepancies
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
Due: prettier --write

style(side panel): running css linter
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
Due: stylelint --fix, prettier --write

feat(avatar-group): Basic grouping and keyboard nav
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/utils/string/generate-initials.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(dropdown): fix option-icon alignment
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
Due: stylelint --fix, prettier --write

feat(avatar-group): Basic grouping and keyboard nav (#707)
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/utils/string/generate-initials.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.101.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(table): removing workarounds for has selector
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

fix(dropdown): fix option-icon alignment
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.scss
Due: none

chore(table): removing commented out code
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

chore(table): removing unneeded style
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

fix(table-toolbar): always show label when in the condensed display
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
