Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(gux-icon): only validate screenreader-text if attached to a document
  src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

chore(phone-input): adding stylelint ignore to file generation
  scripts/generate-region-flags-sprite-file.js
  src/components/beta/gux-phone-input/components/gux-region-icon/assets/sprites/region-flags.less
Due: stylelint --fix, prettier --write

fix(button-multi): align button and button-multi colours for disabled state
  src/components/stable/gux-button-multi/gux-button-multi.tsx
Due: prettier --write, eslint --fix

chore(phone-input): fixing path to icon sprite file
  scripts/generate-region-flags-sprite-file.js
  src/components/beta/gux-phone-input/components/gux-region-icon/assets/sprites/region-flags.less
  src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-icon.less
  src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-icon.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(phone-input): switching i to span
  src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-icon.tsx
Due: prettier --write, eslint --fix

chore(release): 3.53.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.53.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.53.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(tabs-advanced): fix issue where "enter" key does not open dropdown
  src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
Due: prettier --write, eslint --fix

chore(release): 3.53.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(phone-input): defaulting required to false for screenreader
  src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.tsx
Due: prettier --write, eslint --fix

refactor(tabs-advanced): add vertical seperator, align text vertically
  src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.less
Due: stylelint --fix, prettier --write

chore(phone-input): defaulting required to false for screenreader
  src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

chore: update dependencies
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  playground/angular-v12/package-lock.json
  playground/angular-v12/package.json
  playground/ember-3/package-lock.json
  playground/ember-3/package.json
  playground/knockout-3/package-lock.json
  playground/vue-2/package-lock.json
  playground/vue-2/package.json
  playground/vue-3/package-lock.json
Due: prettier --write

chore(release): 3.54.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.54.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor(dropdown): change to behaviour of adding option to dropdown with unknown value set
  src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(stencil-wrapper): load assets from region domain
  Jenkinsfile
  scripts/stencil-wrapper.ts
  stencil.config.ts
Due: prettier --write, eslint --fix

chore(release): 3.54.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.54.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(textarea): textarea width and height incorrect in some instances
  src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.less
Due: stylelint --fix, prettier --write

ci(pr): add conor to the list of reviewers
  .github/reviewer-lottery.yml
Due: none

chore(dependencies): updated dependencies to wanted
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  src/components/beta/gux-phone-input/readme.md
Due: prettier --write

feat(css): add -focused and -focused-within classes for small focus ring
  src/style/focus.less
Due: stylelint --fix, prettier --write

fix(toggle): fixed some accessibility issues
  src/components/beta/gux-announce/readme.md
  src/components/beta/gux-phone-input/readme.md
  src/components/stable/gux-toggle/example.html
  src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.tsx
  src/components/stable/gux-toggle/gux-toggle.tsx
  src/components/stable/gux-toggle/i18n/en.json
  src/components/stable/gux-toggle/readme.md
  src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
  src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(translations): translation updates
  src/components/stable/gux-dropdown/i18n/pt-pt.json
  src/i18n/translations/cs.json
  src/i18n/translations/da.json
  src/i18n/translations/de.json
  src/i18n/translations/es-es.json
  src/i18n/translations/es.json
  src/i18n/translations/fi.json
  src/i18n/translations/fr-ca.json
  src/i18n/translations/fr.json
  src/i18n/translations/it.json
  src/i18n/translations/ja.json
  src/i18n/translations/ko.json
  src/i18n/translations/nl.json
  src/i18n/translations/no.json
  src/i18n/translations/pl.json
  src/i18n/translations/pt-br.json
  src/i18n/translations/ru.json
  src/i18n/translations/sv.json
  src/i18n/translations/th.json
  src/i18n/translations/tr.json
  src/i18n/translations/zh-cn.json
  src/i18n/translations/zh-tw.json
Due: prettier --write

Updating to standard MIT license
  LICENSE
Due: none

fix(jenkins): fixing failed push of version bump
  package-lock.json
  package.json
  src/i18n/translations/cs.json
  src/i18n/translations/da.json
  src/i18n/translations/de.json
  src/i18n/translations/es-es.json
  src/i18n/translations/es.json
  src/i18n/translations/fi.json
  src/i18n/translations/fr-ca.json
  src/i18n/translations/fr.json
  src/i18n/translations/it.json
  src/i18n/translations/ja.json
  src/i18n/translations/ko.json
  src/i18n/translations/nl.json
  src/i18n/translations/no.json
  src/i18n/translations/pl.json
  src/i18n/translations/pt-br.json
  src/i18n/translations/pt-pt.json
  src/i18n/translations/ru.json
  src/i18n/translations/sv.json
  src/i18n/translations/th.json
  src/i18n/translations/tr.json
  src/i18n/translations/zh-cn.json
  src/i18n/translations/zh-tw.json
Due: prettier --write

chore(release): 3.56.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(translations): translation updates
  src/i18n/translations/cs.json
  src/i18n/translations/da.json
  src/i18n/translations/de.json
  src/i18n/translations/es-es.json
  src/i18n/translations/es.json
  src/i18n/translations/fi.json
  src/i18n/translations/fr-ca.json
  src/i18n/translations/fr.json
  src/i18n/translations/it.json
  src/i18n/translations/ja.json
  src/i18n/translations/ko.json
  src/i18n/translations/nl.json
  src/i18n/translations/no.json
  src/i18n/translations/pl.json
  src/i18n/translations/pt-br.json
  src/i18n/translations/ru.json
  src/i18n/translations/sv.json
  src/i18n/translations/th.json
  src/i18n/translations/tr.json
  src/i18n/translations/zh-cn.json
  src/i18n/translations/zh-tw.json
Due: prettier --write

fix(stencil-wrapper): add protocol to cdn url
  scripts/stencil-wrapper.ts
Due: prettier --write, eslint --fix

chore(release): 3.56.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Feature/gds 1486 modal accessibility improvements (#1078)
  docs/src/component-viewer/app.js
  src/components/stable/gux-modal/gux-modal.tsx
  src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 3.56.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(localisation): centralised en file is now getting localised by the translation team
  scripts/update-en-i18n.js
Due: prettier --write

chore(release): 3.57.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(translations): translation updates
  src/i18n/translations/de.json
  src/i18n/translations/es-es.json
  src/i18n/translations/es.json
  src/i18n/translations/it.json
  src/i18n/translations/pt-br.json
  src/i18n/translations/ru.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
