Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(tokens): Generated figma vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Generated Figma styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Adjusted AI glow on the default state
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): Generated CSS vars
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
Due: stylelint --fix, prettier --write

feat(tokens): fixed figma style ID references
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(column-manager): Fixed up logic for reordering items on mouse click
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.tsx
Due: prettier --write, eslint --fix

chore(release): 4.175.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(avatar-beta): Example border fix
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

fix(chart-line-beta): a11y fix min target size
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/gux-chart-line.tsx
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(tag): added content slot
  packages/genesys-spark-components/src/components/stable/gux-tag/example.html
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): use Gregorian calendar for all locales
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark/snapshot/index.d.ts
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): add comparison icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/greater-than-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/less-than-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/not-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(avatar-beta): Example border fix (#1407)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

chore(column-manager): Fixed 0 index issue with column manager mouse click logic
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.tsx
Due: prettier --write, eslint --fix

feature:tokens-checkboxgroup/padding
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(release): 4.175.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown-multi): dropdown not opening after closing through the chevron button
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

test(dropdown-multi): update snapshot
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: none

chore(segmented-control-divider): add divider component
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-2-darwin.png
Due: prettier --write, eslint --fix

chore(other): replace deleted stuff in themes.json
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): tokens build
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

fix(tag): stopping screenreader text from bleeding out in some cases
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
Due: prettier --write, eslint --fix

feat(tokens): Updated AI gradients
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
Due: stylelint --fix, prettier --write

chore(release): 4.176.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(gux-dropdown): Use all slotted option content for selected text and filtering, not just the first node
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/utils/dom/get-text-content-from-nodes.ts
Due: prettier --write, eslint --fix

chore(release): 4.177.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(other): excluding test files from coverage
  packages/genesys-spark-components/jest.config.ts
  packages/genesys-spark-components/src/utils/array/async-filter.spec.ts
  packages/genesys-spark-components/src/utils/error/log-error.spec.ts
  packages/genesys-spark-components/src/utils/number/clamp.spec.ts
Due: prettier --write, eslint --fix

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): added aria decorator
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

chore(other): research
  packages/genesys-spark-components/src/components/beta/gux-tree/example.html
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.common.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts-snapshots/gux-tree-render-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts-snapshots/gux-tree-render-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(tree-beta): add service file and click logic
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.service.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/tree-node-types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix
