Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(segmented-control-beta): fixed long list rendering
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.common.ts
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.spec.ts
Due: prettier --write, eslint --fix

fix(other): fix anchor tag focus ring when certain elements are nested
  packages/genesys-spark-components/src/components/stable/gux-truncate/example.html
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.scss
  packages/genesys-spark/snapshot/css/global-typography.css
  packages/genesys-spark/snapshot/css/global-typography.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/scss/_typography.scss
  packages/genesys-spark/src/style/_typography.scss
  packages/genesys-spark/src/style/examples/typography.html
Due: stylelint --fix, prettier --write

chore(release): 4.173.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feauture/notifcation-indicator-token-test fix color tokens for notification-indicator component Eszter
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feauture/notifcation-indicator-token-test Created a test color token for notification badge Eszter
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feauture/notifcation-indicator-token-test pushing tokens again if the missing one is fixed
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

style(global_nav): creation of Figma variables & styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): run new-tokens-data
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: prettier --write

chore(other): tokens updates
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): added aria decorator
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

chore(other): update dependencies
  package-lock.json
  package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feauture/notifcation-indicator-token-test added a trial_token for enable push Eszter
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

chore(tokens): added a trial_token for enable push
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

chore(release): 4.173.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feauture/notifcation-indicator-token-test added 2 color tokens to legacy for notification Eszter
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feauture/notifcation-indicator-token-test deleted trial token Eszter
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

fix(form-field): Prevent icon shrinking on long text
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
Due: none

chore(other): replace deleted stuff in themes.json
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(segmented-control-divider): add divider component
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-thirty-items-2-darwin.png
Due: prettier --write, eslint --fix

fix(form-field): Prevent icon shrinking on long text (#1388)
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
Due: none

chore(release): 3.135.0
  package-lock.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update Playwright to latest
  .amazonq/agents/default.json
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(other): update style-dictionary dependency to latest
  package-lock.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(icon): added new icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-left-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/badge-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ballot-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bullseye-pointer-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-nodes-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/equals-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eraser-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/greater-than-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/grid-2-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/laptop-mobile-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/less-than-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lightbulb-message-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lighthouse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/link-simple-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/location-dot-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-open-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/shield-keyhole-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/square-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/trash-arrow-up-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/trophy-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-simple-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

fix(time-zone-beta): normalize deprecated time zone strings
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.service.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/example.html
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/i18n/time-zone/types.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.spec.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): added new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/badge-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ballot-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bullseye-pointer-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-nodes-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/download-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eraser-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/grid-2-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/keyboard-brightness-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lighthouse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/link-simple-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/location-dot-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-open-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/shield-keyhole-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-simple-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(release): 4.173.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(card): fix stylings of slotted elements on example page
  packages/genesys-spark-components/src/components/stable/gux-card/example.html
Due: stylelint --fix, prettier --write

chore(other): update style-dictionary dependency to latest
  .amazonq/agents/default.json
  package-lock.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(rich-text-editor-beta): POC for drag and drop functionality
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(side-panel-beta): Reverted expandable/collapsible slot code I had added
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.types.ts
Due: prettier --write, eslint --fix

chore(time-zone-beta): update tests
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.spec.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.ts
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
