Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

style(side_panel): deprecation of renamed side_panel token (side_panel.header.icon_gap)
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

fix(popover): Add tabindex -1 to gux-popover wrapper div
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(release): 4.144.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(segmented-control-item): Add aria-current to selected item (#1069)
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: prettier --write, eslint --fix

feat(icon): added google brand icon
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/brand.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/current.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/deprecated.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/legacy.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/restricted.html
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/google.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(truncate): added new tooltip-placement attribute
  packages/genesys-spark-components/src/components/stable/gux-truncate/example.html
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(side panel): animate modal in fron side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.tsx
Due: prettier --write, eslint --fix

feat(side panel): animate modal in fron side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
Due: none

feat(side panel): animate modal in fron side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
Due: none

chore(other): updated @floating-ui/dom to latest
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(button): more examples
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
Due: stylelint --fix, prettier --write

chore(button): aria-label for gux-button
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(button): Icon examples clickable in NVDA
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

Revert "chore(button): aria-label for gux-button"
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

docs(button): Recommend gux-button-slot for icon only buttons
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

style(side_panel): tokens for side panel enhancements
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

chore(calendar): Focus logic added to header buttons
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
Due: prettier --write, eslint --fix

fix(segmented-control-item): NVDA interactivity improvements
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

Revert "docs(button): Recommend gux-button-slot for icon only buttons"
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

Revert "Revert "chore(button): aria-label for gux-button""
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feature: GDS-2862_Date_Picker/date_picker_gaps
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feature:GDS-2862_Date_Picker- jackie
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(avatar-beta): improved screenreader accessibility
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.145.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(option): colour was changed for accessibility purposes
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

fix(option): colour was changed for accessibility purposes (#1086)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

chore(avatar-beta): update snapshots
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: none

feat(icon): Add new icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/apple-business-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/print-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(table-toolbar): Fixed layout scaled up
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

fix(context-menu): Make inline-size of compact variant 24px
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
Due: none

chore(avatar-beta): button aria label
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.145.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown): change tooltip placement to default to the right
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

chore(icon): update messenger icon and lint-staged command
  packages/genesys-spark-components/.lintstagedrc.json
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/apple-business-messenger.svg
Due: prettier --write, svgo -i

feature/stepper/jackie - stepper 1
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(other): add tokens for stepper component
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(other): fixed token usage reports
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
