Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.161.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(segmented-control-item): Improve NVDA accessibility (#1174)
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

refactor(rating): add aria-label functionality fix isOpen state
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/example.html
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): add laptop, lightbulb and trophy icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/laptop-mobile-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lightbulb-message-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/trophy-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add laptop, lightbulb and trophy icons (#1289)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/laptop-mobile-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lightbulb-message-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/trophy-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

perf(rating): fix button underline and cursor
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
Due: prettier --write, eslint --fix

feat(stepper): added missing tokens
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(prompt-input-beta): Fixed stop generation button click functionality
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.ts
Due: prettier --write, eslint --fix

feat(prompt-input-beta): Writing playwright tests
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts-snapshots/gux-prompt-input-beta-should-render-component-as-expected-2-darwin.png
Due: prettier --write, eslint --fix

feat(prompt-input-beta): Fixed playwright tests
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts
Due: prettier --write, eslint --fix

feat(prompt-input-beta): Fixed comment
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
Due: prettier --write, eslint --fix

feat(prompt-input-beta): Fixed readme
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/readme.md
Due: none

chore(release): 4.162.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(rating): update props and align popover
  packages/genesys-spark-components/src/components/stable/gux-rating/example.html
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(devops): use webappPipelineV2
  .gitignore
  Jenkinsfile
  devops/assets.release/pipeline.d/deploy.yml
  devops/assets.release/pipeline.d/service.yml
  devops/assets/pipeline.d/deploy.yml
  devops/assets/pipeline.d/service.yml
  devops/examples/pipeline.d/deploy.yml
  devops/examples/pipeline.d/service.yml
  jenkinsfiles/components.Jenkinsfile
  jenkinsfiles/docs.Jenkinsfile
  jenkinsfiles/react.Jenkinsfile
  package.json
  scripts/create-pipeline-d-folder.js
  web-apps/genesys-spark-examples/Jenkinsfile
Due: prettier --write

feat(prompt-input-beta): Fixed snapshot tests
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts
Due: prettier --write, eslint --fix

feat(select-all): addition of select-all feature
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(calendar-beta): fix rollover issue on screenreader text
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.playwright.ts
  packages/genesys-spark-components/src/utils/date/temporal.ts
Due: prettier --write, eslint --fix

feat(stepper): added missing tokens (#1291)
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feature/form-stepper- gap - jackie
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): Updated missing tokens
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): generated CSS vars
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
Due: stylelint --fix, prettier --write

test(other): fix playwright failures
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

feat(tokens): Generated CSS variables
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: prettier --write

chore(release): 4.163.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/form-stepper-gap
  packages/genesys-spark-tokens/data/ui/form_control.json
Due: prettier --write

feature/form-stepper-gap
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

GDS-3175_notification_badge Created by Eszter
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

GDS-3175_notification_badge
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens): Updated Variables
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(dropdown-multi): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-2-darwin.png
Due: prettier --write, eslint --fix

feat(tokens): Updated token names
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): Updated naming based on feedback
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
Due: stylelint --fix, prettier --write

chore(dropdown-multi): Added more playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(release): 4.164.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
