Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(popover-beta): add method to focus popover
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(side panel): animate modal in from side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.ts
Due: prettier --write, eslint --fix

style(prompt_input): additional of color, border, sizing and spacing
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(release): 4.157.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): fix vega loader issue
  package-lock.json
  packages/genesys-spark-chart-components/package.json
Due: prettier --write

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

refactor(other): remove caret
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-donut/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-pie/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write

chore(other): Display non-component examples in docs
  packages/genesys-spark/scripts/generate-component-data.mjs
  web-apps/genesys-spark-examples/src/component-listing/app.js
Due: prettier --write

style(prompt_input): adding tokens for prompt input
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(chat-input-beta): Added axe exclusion for the color-contrast for now
  packages/genesys-spark-components/src/components/beta/gux-chat-input/tests/__snapshots__/gux-chat-input-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-chat-input/tests/gux-chat-input-beta.e2e.ts
Due: prettier --write, eslint --fix

chore(other): Display non-component examples in docs (#1229)
  packages/genesys-spark/scripts/generate-component-data.mjs
  web-apps/genesys-spark-examples/src/component-listing/app.js
Due: prettier --write

feat(inline-dropdown-beta): add disabled state
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.scss
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.tsx
Due: prettier --write, eslint --fix

chore(release): 4.157.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(tag): stopping screenreader text from bleeding out in some cases
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark/src/style/_mixins.scss
Due: none

fix(dropdown-multi): fix nvda issue on intiial disabled state
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/utils/dom/calculate-input-disabled-state.ts
Due: prettier --write, eslint --fix

chore(dropdown-multi): aria-label approach
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

style(mixins): generating mixins
  packages/genesys-spark/snapshot/scss/_mixins.scss
Due: none

chore(dropdown-multi): switch from divs to spans
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

fix(dropdown-multi): fix for nvda disabled on initial load issue
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

feat(select-all): addition of select-all feature
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

fix(form-field): Improve consistency with visual label
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-visual-label/gux-form-field-visual-label.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(time-zone-picker-beta): Added playwright tests
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(time-zone-picker-beta): Playwright snapshots
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-should-render-component-as-expected-1-2-darwin.png
Due: none

chore(other): update stencil dependency to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-day/tests/__snapshots__/gux-day.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/tests/__snapshots__/gux-action-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal-legacy.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/__snapshots__/gux-dismiss-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/tests/__snapshots__/gux-list-item.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/tests/__snapshots__/gux-skip-navigation-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/__snapshots__/gux-sort-control.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
Due: prettier --write

fix(dropdown-multi): fix for nvda disabled on initial load
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

fix(form-field): Improve consistency with visual label (#1231)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-visual-label/gux-form-field-visual-label.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

style(rating_group): addition of spacing values for responsive states
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

fix(context-menu): fix cropped outline
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
Due: none

fix(context-menu): fix cropped outline (#1239)
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
Due: none

fix(segmented-control-item): Improve NVDA accessibility
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: prettier --write, eslint --fix

feat(other): use Gregorian calendar for all locales
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark/snapshot/index.d.ts
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.157.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(toast): fixed typo on example page
  packages/genesys-spark-components/src/components/stable/gux-toast/example.html
Due: stylelint --fix, prettier --write

perf(select-all): wip updates
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(time-zone-picker-beta): Fixed playwright tests
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.common.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-beta-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-beta-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

chore(time-zone-picker-beta): Fixed playwright key press issue
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
