Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(pagination-legacy): Curtail input from expanding on Firefox
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/gux-pagination-buttons-legacy.scss
Due: none

fix(pagination): curtail expanding input on Firefox (#460)
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.less
Due: stylelint --fix, prettier --write

fix(pagination-legacy): Curtail input from expanding on Firefox (#461)
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/gux-pagination-buttons-legacy.scss
Due: none

fix(form-field-number): Add spacing on right of clear button
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
Due: none

test(form-field-phone): Add tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.spec.ts
Due: prettier --write, eslint --fix

test(form-field-dropdown): Update spec snapshot
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: none

docs(dropdown): Add example for subtext
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
Due: stylelint --fix, prettier --write

fix(form-field-range): Fix tooltip info
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

chore(release): 3.124.5
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.52.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): help text gap new token jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): input help text new token jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): help text new tokens jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(other): add token data
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
Due: stylelint --fix, prettier --write

feat(icon): add new panel and location icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-collapse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-large-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-medium-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/location-dot-slash-regular.svg
Due: prettier --write, eslint --fix, svgo -i

fix(tokens): removed gap_sm token
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
Due: stylelint --fix, prettier --write

chore(dropdown): Fix selected option - rough draft
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(icon): add panel and location icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-collapse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-large-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-medium-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/location-dot-slash-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add new panel and location icons (#469)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-collapse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-large-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-medium-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/location-dot-slash-regular.svg
Due: prettier --write, eslint --fix, svgo -i

fix(form-field-range): Fix tooltip info (#465)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

feat(icon): add panel and location icons (#470)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-collapse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-large-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-medium-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/location-dot-slash-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

test(form-field-phone): Add tests (#463)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.spec.ts
Due: prettier --write, eslint --fix

fix(form-field-number): Add spacing on right of clear button (#462)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
Due: none

chore(release): 3.125.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.53.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(dropdown): Add example for subtext and amend selected option for display (#464)
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): splitted JSON
  packages/genesys-spark-tokens/.prettierignore
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/actions.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/data_display.json
  packages/genesys-spark-tokens/data/feedback.json
  packages/genesys-spark-tokens/data/form_control.json
  packages/genesys-spark-tokens/data/forms_and_inputs.json
  packages/genesys-spark-tokens/data/global_deprecated.json
  packages/genesys-spark-tokens/data/layout & container.json
  packages/genesys-spark-tokens/data/navigation.json
  packages/genesys-spark-tokens/data/search_and_filter.json
  packages/genesys-spark-tokens/data/semantic.json
  packages/genesys-spark-tokens/data/ui.json
  packages/genesys-spark-tokens/data/ui_deprecated.json
  packages/genesys-spark-tokens/utils/get-all-token-studio-files.mjs
Due: prettier --write

feat(tag): adding size and emphasis props
  packages/genesys-spark-components/src/components/stable/gux-tag/example.html
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.types.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.spec.ts
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): Add sparkles and panel small icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/custom/sparkles-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add icon for small panel right
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-right-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

fix(on-click-outside): popup now collapses when clicking another frame
  packages/genesys-spark-components/src/utils/decorator/on-click-outside.ts
Due: prettier --write, eslint --fix

fix(other): form
  packages/genesys-spark-components/src/utils/decorator/on-click-outside.ts
Due: prettier --write, eslint --fix

fix(translations): backported Ukrainian translations
  packages/genesys-spark-components/src/i18n/translations/uk.json
Due: prettier --write

fix(other): popup
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

chore(form-field-radio-group): fix comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
Due: prettier --write, eslint --fix

chore(release): 3.125.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.54.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(time-zone-picker): added localised examples
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
Due: stylelint --fix, prettier --write

feat(icon): Add sparkles and panel small icons (#474)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/custom/sparkles-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add icon for small panel right (#475)
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/panel-small-right-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
