Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

test(other): fixed e2e tests
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/__snapshots__/gux-switch.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.ts
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(other): use Gregorian calendar for all locales
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark/snapshot/index.d.ts
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(button-slot): fix icon size
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
Due: stylelint --fix, prettier --write

chore(tooltip-title): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.playwright.ts-snapshots/gux-tooltip-title-should-render-tooltip-with-long-text-to-truncate-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.playwright.ts-snapshots/gux-tooltip-title-should-render-tooltip-with-long-text-to-truncate-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.playwright.ts-snapshots/gux-tooltip-title-should-render-tooltip-with-short-text-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.playwright.ts-snapshots/gux-tooltip-title-should-render-tooltip-with-short-text-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/tests/gux-tooltip-title.e2e.ts
Due: prettier --write, eslint --fix

feat(tokens): Added AI colors
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
Due: stylelint --fix, prettier --write

chore(release): 4.164.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown-multi): fix for nvda disabled on initial load (#1234)
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

fix(segmented-control-beta): fix nvda issue where buttons not clickable
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: prettier --write, eslint --fix

test(other): addressed PR comment
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/__snapshots__/gux-switch.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/gux-switch.e2e.ts
Due: prettier --write, eslint --fix

test(table): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-2-darwin.png
Due: prettier --write, eslint --fix

chore(release): 4.165.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(form-field): addition of character count feature
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

fix(form-field-search): fixed clear buttons tooltip
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.tsx
Due: prettier --write, eslint --fix

refactor(form-field-text-like): improve accessibility
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/i18n/en.json
Due: prettier --write, eslint --fix

refactor(form-field-text-like): remove spacing
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.tsx
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

refactor(form-field-text-like): use grid layout
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.tsx
Due: prettier --write, eslint --fix

feature/GDS-2961-blank_state Eszter
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

fix(table-toolbar-action): focus area narrower than space available
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-ghost-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-ghost-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-primary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-primary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-secondary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-secondary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-a-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-a-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-disabled-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-disabled-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-icon-only-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-icon-only-toolbar-custom-action-2-darwin.png
Due: none

chore(other): fix readmes
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
Due: none

feature/GDS-2961-blank_state Eszter color tokens
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(chat-input): Added initial logic
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.common.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts-snapshots/gux-prompt-input-beta-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts-snapshots/gux-prompt-input-beta-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feature/GDS-2961-blank_state Eszter sizing tokens
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

fix(tabs): change tab styling so it does not rely on attribute selector
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.tsx
Due: prettier --write, eslint --fix

chore(release): 4.166.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): tokens update with main
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

test(form-field-file): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/__snapshots__/gux-form-field-file.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/__snapshots__/gux-form-field-file.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-12be9-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-20310--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-3a228-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-4ea8e-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-59e61-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-a0632-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-a48fd-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-comp-a5768--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-file-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-file.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-file.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-file.spec.ts
Due: prettier --write, eslint --fix

fix(dropdown-multi): fix for nvda disabled dropdown
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: prettier --write, eslint --fix

fix(table-toolbar-action): focus area narrower than space available (#1318)
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-ghost-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-ghost-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-primary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-primary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-secondary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-Should-render-as-expected-for-secondary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-a-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-a-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-disabled-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-disabled-toolbar-custom-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-icon-only-toolbar-custom-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.playwright.ts-snapshots/gux-table-toolbar-custom-action-should-render-icon-only-toolbar-custom-action-2-darwin.png
Due: none

refactor(dropdown): update snapshots
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: none

chore(tabs-advanced): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts-snapshots/gux-tabs-advanced-render-should-render-a-basic-gux-tabs-advanced-component-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.playwright.ts-snapshots/gux-tabs-advanced-render-should-render-a-basic-gux-tabs-advanced-component-2-darwin.png
Due: prettier --write, eslint --fix

chore(modal): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.common.ts
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-large-modal-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-large-modal-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-medium-modal-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-medium-modal-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-with-just-left-align-buttons-to-be-deprecated-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-with-just-left-align-buttons-to-be-deprecated-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-with-just-right-align-buttons-to-be-deprecated-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-with-just-right-align-buttons-to-be-deprecated-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-with-separate-button-slots-to-be-deprecated-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-with-separate-button-slots-to-be-deprecated-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-without-a-title-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-without-a-title-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-without-buttons-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-modal-without-buttons-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-small-modal-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-small-modal-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-small-modal-by-default-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.playwright.ts-snapshots/gux-modal-should-render-small-modal-by-default-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.ts
Due: prettier --write, eslint --fix
