Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(blank-state-beta): add linear graident and other tokens
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.scss
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/gux-illustration.scss
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/illustrations/background-shapes/narrow.svg
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/illustrations/background-shapes/wide.svg
Due: svgo -i

feat(icon): updated brand icons
  packages/genesys-spark-components/.lintstagedrc.json
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/8x8.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/apple-business-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/google.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/instagram.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/meta.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/teams.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/zoom.svg
Due: prettier --write, svgo -i

chore(side-panel-beta): Side panel expandable logic
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-side-panel/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.common.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.181.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(truncate): add ability to change tooltip accent
  packages/genesys-spark-components/src/components/stable/gux-truncate/example.html
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.common.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-display-dark-tooltip-accent-when-toolip-accent-set-to-dark-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-display-dark-tooltip-accent-when-toolip-accent-set-to-dark-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-div-if-it-is-not-overflowing-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-div-if-it-is-not-overflowing-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-span-if-it-is-not-overflowing-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-span-if-it-is-not-overflowing-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-text-node-if-it-is-not-overflowing-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-text-node-if-it-is-not-overflowing-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-after-max-lines-displayed-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-after-max-lines-displayed-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-in-a-table-cell-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-in-a-table-cell-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-div-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-div-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-span-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-span-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-text-node-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-text-node-2-darwin.png
Due: stylelint --fix, prettier --write, eslint --fix

test(truncate): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/__snapshots__/gux-truncate.spec.ts.snap
Due: none

chore(side panel): interim changes for wip
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/gux-side-panel-header-mini.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/gux-side-panel-header-mini.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header-mini/tests/gux-side-panel-header-mini.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

fix(select-all): Fix removeEventListener
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.tsx
Due: prettier --write, eslint --fix

update license
  LICENSE
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
