Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.48.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.124.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(visualization): adds a container-width style to gux visualizations
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.scss
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: prettier --write, eslint --fix

feat(tokens): form footer jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(other): form
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

feat(tooltip): using the content slot
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/example.html
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
Due: stylelint --fix, prettier --write, eslint --fix

test(datepicker): add additional tests for regional dates
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.spec.ts
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/use-regional-dates.ts
  packages/genesys-spark/src/utils/get-closest-element.ts
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

fix(datepicker): fixed tests
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.spec.ts
Due: prettier --write, eslint --fix

chore(datepicker): ran "npm run new-tokens-data" on branch
  .gitignore
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(datepicker): New tokens for datepicker
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(release): 4.48.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(datepicker): Using hover and focus tokens on calendar icon
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

feat(modal): using css to show or hide the button footer
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
Due: prettier --write, eslint --fix

fix(button): remove border-radius from inline buttons
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
Due: none

feat(modal): fixing class name
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Tabbing from nextYear to month area issue fixed
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

chore(release): 4.49.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): fixed memory leak in click outside decorator
  packages/genesys-spark-components/src/utils/decorator/on-click-outside.ts
  packages/genesys-spark-components/src/utils/decorator/on-mutation.ts
  packages/genesys-spark-components/src/utils/decorator/on-resize.ts
Due: prettier --write, eslint --fix

chore(month-picker): Visibility logic fix
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Fixed expand logic on calendar
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Not using prop for expanded
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Renamed function to be more clear
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Removed unneeded method
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

test(gux-date): backport regional date tests
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-picker/tests/gux-time-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.spec.ts
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/languageList.ts
  packages/genesys-spark/src/utils/get-closest-element.ts
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

chore(release): 4.50.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(table): improving table row hover
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

feat(tokens): add formfooter tokens jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(other): tokens
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

test(date): add spec tests
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.spec.ts
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/languageList.ts
  packages/genesys-spark-components/src/i18n/use-regional-dates.ts
  packages/genesys-spark/src/utils/get-closest-element.ts
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

chore(release): 3.124.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): fixed build error
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark/src/utils/get-closest-element.ts
Due: prettier --write, eslint --fix

chore(release): 4.51.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.124.4
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): add border_radius tooltip trigger - jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(other): Token for label icon border-radius
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
Due: stylelint --fix, prettier --write

feat(tokens): Label icon tooltip border radius (#459)
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
Due: stylelint --fix, prettier --write

feat(table): improving row hover color
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

chore(release): 4.52.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(pagination): curtail expanding input on Firefox
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.less
Due: stylelint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
