Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

test(rating): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/__snapshots__/gux-rating.spec.ts.snap
Due: none

feat(segmented-control-beta): Styling change
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-basic-segmented-control-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-basic-segmented-control-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-disabled-segmented-control-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-disabled-segmented-control-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-icon-only-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-icon-only-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-icons-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-icons-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-individual-disabled-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-individual-disabled-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-selected-value-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-selected-value-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-two-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-two-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/scss/_mixins.scss
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
  packages/genesys-spark/src/style/_mixins.scss
Due: stylelint --fix, prettier --write, eslint --fix

Added new tokens to the segmented control.
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(tokens): Deprecated segmented control, border radius tokens
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write, eslint --fix

Added elevation to the active state of segmented control.
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(tokens): Segmented control new tokens
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(radial-loading): Initial changes
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/example.html
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.service.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.types.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(radial-loading): Update tests and tidy example
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/example.html
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/__snapshots__/gux-radial-loading.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.common.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-around-icon-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-around-icon-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-around-icon-light-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-around-icon-light-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

style(global_nav): creation of Figma variables & styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(toast): fixed message word break
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.common.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-action-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-action-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-error-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-error-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-info-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-info-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-success-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-success-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-toast-with-a-long-message-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-toast-with-a-long-message-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-toast-with-a-long-word-in-the-message-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-toast-with-a-long-word-in-the-message-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-warning-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-warning-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.spec.ts
Due: prettier --write, eslint --fix

chore(other): run new-tokens-data
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(release): 4.171.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(prompt_input): inclusion of scroll-enabled padding for the label_container
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

test(icon): improved icon tests
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/list-spec-files.js
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.common.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-decorative-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-decorative-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-icon-with-screenreader-text-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-icon-with-screenreader-text-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-inherit-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-inherit-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-large-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-large-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-medium-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-medium-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-small-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.e2e.playwright.ts-snapshots/gux-icon-should-render-small-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.spec.ts
Due: prettier --write, eslint --fix

chore(other): token for prompt-input
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

fix(prompt-input-beta): add vertical scroll state
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
Due: prettier --write, eslint --fix

refactor(prompt-input-beta): add padding for scrollbar
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
Due: none

chore(other): fix merge conflicts and run new-tokens-data
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: prettier --write

chore(release): 4.171.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/remove shadows from logos
  packages/genesys-spark-tokens/data/ui/graphic_assets.json
Due: prettier --write

fix(dropdown-multi): fix options not clearing when clear button pressed
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
Due: prettier --write, eslint --fix

chore(release): 4.172.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(blank-state-beta): reduce background shapes to two svgs
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/gux-illustration.scss
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/gux-illustration.service.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/illustrations/background-shapes/gradient-narrow.svg
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/illustrations/background-shapes/narrow.svg
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/illustrations/background-shapes/solid-wide.svg
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/illustrations/background-shapes/wide.svg
Due: prettier --write, eslint --fix, svgo -i

feat(tag): added content slot
  packages/genesys-spark-components/src/components/stable/gux-tag/example.html
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(screen-reader-beta): remove component from contributing to layout
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/gux-screen-reader.scss
Due: none

fix(icon): improved error handling
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

feat(icon): addition of ai custom icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-checkbox-partial-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-checkbox-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-radio-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(other): replace deleted stuff in themes.json
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(segmented-control-divider): add divider component
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/gux-segmented-control-divider.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-divider/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
