Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
Due: prettier --write

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
Due: prettier --write

chore(release): 4.9.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
Due: prettier --write

fix(toolbar): fix resizing behaviour
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.constants.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

feat(table-toolbar): remove fixed width for filter
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
Due: none

chore(build): copy genesys-spark utils into genesys-spark-components on build
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/copy-genesys-spark-utils.mjs
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.10.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(type page): update the typography page
  packages/genesys-spark-components/src/style/examples/typography.html
  packages/genesys-spark-components/src/style/style-reset-typography.scss
Due: stylelint --fix, prettier --write

chore(release): 4.10.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(accordion): added open and close events
  packages/genesys-spark-components/src/components/stable/gux-accordion/example.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.tsx
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/readme.md
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion.tsx
Due: stylelint --fix, prettier --write, eslint --fix

Created new tokens: date_picker.icon_hover and date_picker.icon_focus as part of the date picker component updates. GDS-1925 GDS-2312
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(time-zone-picker): search for cities which do not exist in list
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
Due: prettier --write, eslint --fix

chore(release): 4.11.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(time-zone-picker): return closest city to user entry
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
Due: prettier --write, eslint --fix

feat(icons): icon updates in v3
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/face-smile-hearts-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-left-to-line-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-line-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/flag-checkered-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wifi-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/x-twitter.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

chore(release): 4.12.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(time-zone-picker): address pr comments
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
Due: prettier --write, eslint --fix

fix(time-zone-picker): update logic
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
Due: prettier --write, eslint --fix

feat(phone-input): update styling
  packages/genesys-spark-components/src/components/beta/gux-flag-icon/gux-flag-icon.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

feat(phone-input): styling changes
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.scss
Due: stylelint --fix, prettier --write

feat(tokens): Upated figms variables
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(phone-input): tidy implementation
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Due: none

feat(token): Added padding for the disabled variant of the phone input dropdown
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): Added spacing tokens for the phone input dropdown
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(phone-input): apply tokens, change icon display
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(time-zone-picker): sort by city
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
Due: prettier --write, eslint --fix

feat(icon): deprecate icon added mistakenly
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/arrow-right-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/legacy-icon-names.ts
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(script): fix local development errors
  web-apps/genesys-spark-examples/package.json
  web-apps/genesys-spark-examples/scripts/dev-examples-start.sh
Due: prettier --write

Revert "feat(icon): deprecate icon added mistakenly"
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/legacy-icon-names.ts
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): deprecate mistaken icon addition from last month
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.service.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/arrow-right-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/legacy-icon-names.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add some new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-left-to-line-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-line-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/flag-checkered-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wifi-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/x-twitter.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

fix(charts): fixed charts deploy
  .eslintignore
  .gitignore
  Jenkinsfile
  docs/JENKINS.md
  package.json
  packages/genesys-spark-chart-components/scripts/generate-manifest.js
  packages/genesys-spark-components/scripts/version-helper.js
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  scripts/create-dist-folder.js
  scripts/create-manifest.js
  scripts/version-helper.js
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
  web-apps/genesys-spark-examples/src/viewer-template.html
Due: stylelint --fix, prettier --write

chore(release): 4.12.1-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(publish): remove temp dry run tag
  Jenkinsfile
Due: none

chore(release): 4.12.1-beta.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
