Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

chore(form-field-text-like): add populated color to scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

feat(tokens): aligned toggle bordfer radius style
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): generated CSS vars
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

fix(time-picker): Added leading zero to hour
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.106.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(card): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-card/a11yManualChecklist.md
Due: none

chore(tag): remove hex values
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
Due: none

chore(form-field-text-like): add populated color to scss (#782)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

chore(inline-alert): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/a11yManualChecklist.md
Due: none

chore(dismiss-button): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/a11yManualChecklist.md
Due: none

chore(column-manager): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-column-manager/a11yManualChecklist.md
Due: none

chore(tabs): remove hex codes from tabs-list.scss, use gux-button-slot instead
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.e2e.ts.snap
Due: prettier --write, eslint --fix

chore(text-highlight): update a11y check manual
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/a11yManualChecklist.md
Due: none

chore(tabs): remove hex codes from tabs-list.scss, use gux-button-slot instead (#781)
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.e2e.ts.snap
Due: prettier --write, eslint --fix

chore(blank state): updating a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-blank-state/a11yManualChecklist.md
Due: none

chore(tag): check accessibility
  packages/genesys-spark-components/scripts/check-a11y.mjs
  packages/genesys-spark-components/src/components/stable/gux-tag/a11yManualChecklist.md
Due: none

chore(time-picker): Using pad string method
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
Due: prettier --write, eslint --fix

test(time-picker): Fixed failing test
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.ts
Due: prettier --write, eslint --fix

fix/GDS-2631- Minor size and gap updates that resulted fro Figma improvements and bug fixes
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

test(time-picker): Fixed test
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.107.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(button slot): updating a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-button-slot/a11yManualChecklist.md
Due: none

chore(button): updating a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-button/a11yManualChecklist.md
Due: none

chore(content-search): update a11y manual check
  packages/genesys-spark-components/src/components/stable/gux-content-search/a11yManualChecklist.md
Due: none

chore(datepicker): add tokens to css properties
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

chore(datepicker): update css properties with tokens
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

chore(table): replace hex with tokens
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
Due: none

feat(tokens): Added missing advanced tabs tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(toast): update manual a11y testing
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toast/a11yManualChecklist.md
Due: none

chore(release): 4.107.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(table): replace hex with tokens (#798)
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
Due: none

chore(column-manager): add tokens
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write, eslint --fix

chore(icon): checklist
  packages/genesys-spark-components/src/components/stable/gux-icon/a11yManualChecklist.md
  packages/genesys-spark/src/hosts.ts
Due: prettier --write, eslint --fix

chore(other): update parse5 to latest
  package-lock.json
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/readme.md
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(radial-loading): updated a11y checklists
  packages/genesys-spark-components/src/components/stable/gux-loading-message/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/a11yManualChecklist.md
Due: none

chore(column-manager): add tokens (#799)
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write, eslint --fix

fix(popover-list-beta): Opening popover list on click
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
Due: prettier --write, eslint --fix

fix(time-picker): Added leading zero to hour
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.107.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
