Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

refactor(calendar-beta): Clean up dead code from PR review
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/base.tsx
Due: prettier --write, eslint --fix

refactor(calendar-beta): Switch to using Temporal API polyfill for dates
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/i18n/index.ts
  packages/genesys-spark-components/src/utils/date/temporal.ts
Due: prettier --write, eslint --fix

test(calendar-beta): Update tests, fix some minor a11y issues
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/readme.md
  packages/genesys-spark-components/src/components/utility/focus-proxy/readme.md
  packages/genesys-spark-components/src/style/utils.scss
Due: prettier --write, eslint --fix

chore(other): Fix package-lock.json
  package-lock.json
Due: prettier --write

chore(calendar-beta): Clean up file organization
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-day/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/utility/focus-proxy/readme.md
Due: prettier --write, eslint --fix

ci(other): Update eslint rules to find uses of `console.log`
  packages/genesys-spark-components/eslint.config.mjs
  shared-configs/eslint-config-genesys-spark-components/typescript.mjs
Due: none

fix(calendar-beta): Remove slotted days, as it was causing flickering
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/utility/focus-proxy/focus-proxy.tsx
  packages/genesys-spark-components/src/components/utility/focus-proxy/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(calendar-beta): Lots of minor fixes and tweaks via manual exploration
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/tests/__snapshots__/gux-day.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-day/tests/gux-day.spec.ts
  packages/genesys-spark-components/src/i18n/index.ts
Due: stylelint --fix, prettier --write, eslint --fix

test(other): small changes to pass tests
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark/snapshot/scss/_mixins.scss
Due: none

chore(calendar-beta): move files up so they show in docs
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.spec.ts
Due: prettier --write, eslint --fix

chore(segmented-control-beta): accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/a11yManualChecklist.md
Due: none

feat(tokens): updated foreground sucess color
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

test(calendar-beta): skipping e2e tests
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-day/tests/__snapshots__/gux-day.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-day/tests/gux-day.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

test(calendar-beta): Update tests for removal of slotted days
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-day/tests/__snapshots__/gux-day.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-day/tests/gux-day.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.129.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(segmented-control-beta): accessibility checklist (#962)
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/a11yManualChecklist.md
Due: none

chore(calendar-beta): manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
Due: none

chore(calendar-beta): manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/a11yManualChecklist.md
Due: none

fix(option): trim whitespace for subtext selection
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(other): tokens theme file is now normalised on lint
  package.json
  packages/genesys-spark-tokens/.lintstagedrc.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/scripts/normalise-themes.mjs
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

chore(other): updated some dependencies to latest
  package-lock.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(form-field-file-beta): moved error slot location
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.tsx
Due: prettier --write, eslint --fix

chore(icons): added new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/calendar-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/calendar-minus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-solid.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(dropdown): change implementation
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(badge): change regular badge token color for info and success variant in dark mode
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

test(calendar): updating a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-calendar/a11yManualChecklist.md
Due: none

feat(tokens): Added AI tokens
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): generate Figma variables
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 3.133.5
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.129.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(calendar-beta): PR changes part 1
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/utils/date/temporal.ts
Due: prettier --write, eslint --fix

fix(popover): removed min width
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
Due: none

fix(dropdown-multi): fixing issue when user sets value to empty string
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
Due: prettier --write, eslint --fix

fix(option): trim whitespace for subtext selection (#899)
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(tokens): Added AI tokens
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): Updated ai tonal subtle
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

feat(tokens): Updated AI tonal subtle accent
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write
