Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.140.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(other): use scss variables in all components
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form.light.scss
  packages/genesys-spark-components/src/components/beta/gux-link/gux-link.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/gux-pagination-buttons-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-item-counts-legacy/gux-pagination-item-counts-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/gux-pagination-items-per-page-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-legacy.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/components/gux-file-list-item/gux-file-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/gux-pagination-item-counts.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
Due: none

feat(other): Added official dark mode support
  docs/dark-mode.md
Due: none

fix(dropdown-multi): add render timeout when slot content changes
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

feat(button-multi): improve screenreader experience (#1045)
  packages/genesys-spark-components/src/components/stable/gux-button-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.141.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(all-row-select): added label slot to improve accessibility
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(accordion): added playwright test
  package-lock.json
  packages/genesys-spark-components/.gitignore
  packages/genesys-spark-components/eslint.config.mjs
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/playwright.config.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts-snapshots/gux-accordion-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts-snapshots/gux-accordion-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/stencil.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(calendar): Added event.preventDefault()
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
Due: prettier --write, eslint --fix

chore(calendar): Fixed sass variables
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
Due: none

docs(other): updated all readmes
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
Due: none

style(side_panel): padding changes finalized
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

style(side_panel): application of max height for description
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

fix(button): Icon examples clickable in NVDA
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(button): more examples
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
Due: stylelint --fix, prettier --write

chore(button): aria-label for gux-button
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(tabs): tabs disabled by boolean attribute and attribute with string set to true
  packages/genesys-spark-components/src/components/stable/gux-tabs/example.html
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/gux-tabs.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/gux-tabs.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.141.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/stepper/jackie - stepper 1
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(other): added explicit dev server root
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

feature/stepper/jack - stepper 2
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

fix(inline-dropdown-beta): address UX feedback
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/example.html
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.scss
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.142.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(rich-text-editor-beta): remove gap when there is no toolbar
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
Due: prettier --write, eslint --fix

feature-GDS-2862-date-picker - Jackie
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feature/gds-2933-stepper - jackie
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

test(other): fux e2e tests
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/.gitignore
  packages/genesys-spark-components/eslint.config.mjs
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

test(button): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-danger-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-danger-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-default-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-default-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-danger-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-danger-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-default-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-default-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-ghost-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-ghost-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-inline-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-inline-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-invalid-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-invalid-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-primary-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-primary-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-secondary-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-secondary-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-tertiary-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-disabled-tertiary-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-ghost-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-ghost-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-inline-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-inline-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-invalid-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-invalid-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-primary-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-primary-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-secondary-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-secondary-button-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-tertiary-button-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-tertiary-button-2-darwin.png
Due: prettier --write, eslint --fix

test(breadcrumbs): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-3-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-4-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-4-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-5-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-5-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-6-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts-snapshots/gux-breadcrumbs-should-render-component-as-expected-6-2-darwin.png
Due: prettier --write, eslint --fix

test(blank-state): added Playwright test
  packages/genesys-spark-components/src/components/stable/gux-blank-state/tests/gux-blank-state.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-blank-state/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-renders-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-blank-state/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-renders-2-darwin.png
Due: prettier --write, eslint --fix

test(action-button): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts-snapshots/gux-action-button-renders-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts-snapshots/gux-action-button-renders-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts-snapshots/gux-action-button-renders-3-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts-snapshots/gux-action-button-renders-4-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.tsx
Due: prettier --write, eslint --fix

test(other): fixed unit snapshots
  packages/genesys-spark-components/.gitignore
  packages/genesys-spark-components/eslint.config.mjs
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/tests/__snapshots__/gux-list-item.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

refactor(rich-text-editor-beta): change filter to some
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
Due: prettier --write, eslint --fix

test(truncate): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/gux-badge.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-blank-state/tests/gux-blank-state.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/__snapshots__/gux-truncate.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.common.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-div-if-it-is-not-overflowing-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-div-if-it-is-not-overflowing-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-span-if-it-is-not-overflowing-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-span-if-it-is-not-overflowing-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-text-node-if-it-is-not-overflowing-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-not-truncate-slotted-text-node-if-it-is-not-overflowing-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-after-max-lines-displayed-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-after-max-lines-displayed-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-in-a-table-cell-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-in-a-table-cell-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-div-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-div-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-span-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-span-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-text-node-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-text-node-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.spec.ts
  packages/genesys-spark-components/src/test/commonTestUtils.ts
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
  packages/genesys-spark-components/src/test/specTestUtils.ts
Due: prettier --write, eslint --fix

chore(inline-dropdown-beta): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.scss
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.tsx
  packages/genesys-spark-components/src/components/beta/gux-status-indicator/example.html
  packages/genesys-spark-components/src/components/beta/gux-status-indicator/gux-status-indicator.scss
  packages/genesys-spark-components/src/components/beta/gux-status-indicator/gux-status-indicator.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.142.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
