Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(tokens): Fixed issue with alerts
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.72.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(datepicker): show above label first in examples
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
Due: stylelint --fix, prettier --write

feat(datepicker): change font-weight on label (#557)
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: stylelint --fix, prettier --write

feat(tokens): Tab tokens update pt1
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(release): 4.73.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): Fixed avatar tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

fix(tokens): Replaced hardoced values on avator color tokens
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(tokens): Updated styles and vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Updated tabs tokens pt2
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(other): remove package-lock.json from playgrounds
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  playground/angular-v12/package-lock.json
  playground/angular-v13/package-lock.json
  playground/ember-3/package-lock.json
  playground/knockout-3/package-lock.json
  playground/vue-2/package-lock.json
  playground/vue-3/package-lock.json
Due: prettier --write

feat(tokens): Updated tabs tokens pt3
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(other): troubleshooting
  package-lock.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  playground/vue-3/package-lock.json
Due: prettier --write

chore(release): 4.73.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(selector-cards): Checkbox variants added
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-card): use existing mixins
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

chore(selector-card): fix selecting by description
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-cards): styling tidy up
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card-icons.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark/src/style/_checkbox-icons.scss
  packages/genesys-spark/src/style/_radio-icons.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-card): remove description click
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
Due: prettier --write, eslint --fix

chore(selector-card): fix long word truncation
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-card): remove tooltip
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-card): centralise icons
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card-icons.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio-icons.scss
  packages/genesys-spark/src/style/_checkbox-icons.scss
  packages/genesys-spark/src/style/_radio-icons.scss
Due: none

chore: adding Angular 15 playground
  playground/angular-v15/.editorconfig
  playground/angular-v15/.gitignore
  playground/angular-v15/README.md
  playground/angular-v15/angular.json
  playground/angular-v15/package.json
  playground/angular-v15/src/app/app.component.html
  playground/angular-v15/src/app/app.component.scss
  playground/angular-v15/src/app/app.component.spec.ts
  playground/angular-v15/src/app/app.component.ts
  playground/angular-v15/src/app/app.module.ts
  playground/angular-v15/src/assets/.gitkeep
  playground/angular-v15/src/favicon.ico
  playground/angular-v15/src/index.html
  playground/angular-v15/src/main.ts
  playground/angular-v15/src/styles.scss
  playground/angular-v15/tsconfig.app.json
  playground/angular-v15/tsconfig.json
  playground/angular-v15/tsconfig.spec.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): form field example updates
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.74.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(side-sheet): ux and pr comments
  packages/genesys-spark-components/src/components/beta/gux-cta-group/gux-cta-group.scss
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/components
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet-heading/gux-side-sheet-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet-heading/gux-side-sheet-heading.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet.scss
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(cta group): make responsive and allow buttons to truncate if necessary
  packages/genesys-spark-components/src/components/beta/gux-cta-group/gux-cta-group.scss
Due: none

feat(form-field-radio-group): required and indicator mark added to groups
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(modal): fix heading token discrepancy
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

chore(release): 4.74.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(listbox): remove default box-shadow style
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
Due: none

feat(side sheet): token updates
  packages/genesys-spark-tokens/data-old/tokens.json
Due: prettier --write

feat(side sheet): token to trigger a change
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/actions.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/core_deprecated.json
  packages/genesys-spark-tokens/data/data_display.json
  packages/genesys-spark-tokens/data/feedback.json
  packages/genesys-spark-tokens/data/form_control.json
  packages/genesys-spark-tokens/data/forms_and_inputs.json
  packages/genesys-spark-tokens/data/global_deprecated.json
  packages/genesys-spark-tokens/data/layout & container.json
  packages/genesys-spark-tokens/data/navigation.json
  packages/genesys-spark-tokens/data/search_and_filter.json
  packages/genesys-spark-tokens/data/semantic.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui.json
  packages/genesys-spark-tokens/data/ui_deprecated.json
Due: prettier --write

feat(side sheet): tokens updates
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-navigation.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-navigation.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-navigation.scss
Due: stylelint --fix, prettier --write

feat(form-field-radio-group): required and indicator mark added to groups (#563)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.75.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
