Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(other): Fixed package-lock.json issue in angular playground
  package-lock.json
  package.json
  playground/angular-v13/package-lock.json
Due: prettier --write

chore(other): Added vue playground script
  package.json
  playground/vue-3/README.md
  playground/vue-3/package-lock.json
Due: prettier --write

fix(form-field-radio-group): update radio group spacing
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.63.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): Added ember playground script to monorepo
  package.json
  playground/ember-3/README.md
  playground/ember-3/package-lock.json
Due: prettier --write

chore(month-picker): Fixed issue with min/max boundaries
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
Due: prettier --write, eslint --fix

chore(form-field-checkbox-group): address API comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.service.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens) - UI theming fix spinner
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/form_control.json
Due: prettier --write

feat(tokens): UI theming - fix spinner
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens): UI theming fix tooltip
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(popover): Fixing autofocus in popover
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(popover): Removed focus ring on popover-content element
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(popover): Function rename
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

feat(tokens): UI theming - fix tooltip
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(popover): ariadescrbe-by logic fix
  packages/genesys-spark-components/src/components/stable/gux-popover-list/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(popover-list): aria-describeby logic fix
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
Due: prettier --write, eslint --fix

chore(release): 4.63.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(form-field-select): clicking downarrow now displays the dropdown
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
Due: none

feat(time-zone-picker): allow custom defaults
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-divider/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(popover): Focusing on content element now for popover
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(popover): Focus logic fix for popover content
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(popover): Fixed snapshot test
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
Due: none

chore(popover): Fixed popover snapshot tests
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/__snapshots__/gux-popover-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
Due: none

fix(table): fix disabled row select bug in vue
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
  playground/vue-2/.npmrc
  playground/vue-2/package-lock.json
  playground/vue-3/.npmrc
  playground/vue-3/index.html
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.64.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(dropdown): Draft implementation of the slot for text
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
Due: stylelint --fix, prettier --write, eslint --fix

test(dropdown): update snapshots
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

style(copy-to-clipboard): Constrain width of copy component
  package.json
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(other): fix vue 2 playground
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  playground/vue-2/package-lock.json
  playground/vue-2/tsconfig.json
  playground/vue-3/package-lock.json
Due: prettier --write

fix(table): disabled pagination overlapping context-menu
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
Due: none

chore(release): 4.64.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(gux-table): fix checkbox row disabled bug affecting Vue
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-table/gux-table.tsx
  playgrounds/vue-3/index.html
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.64.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(side sheet): side sheet component
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet-heading.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet.scss
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/gux-side-sheet.types.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-sheet/readme.md
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(form-field-checkbox-group): address PR comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.service.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(chart-column): Adds the ability to set custom label and domain colors for applicable charts
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/gux-chart-column.tsx
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/gux-chart-line.tsx
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/gux-chart-scatter-plot.tsx
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.scss
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
  packages/genesys-spark-chart-components/src/utils/theme/color-palette.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.64.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.127.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(icon): menu updates
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/current.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/deprecated.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/legacy.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/restricted.html
  packages/genesys-spark-components/src/components/stable/gux-icon/docs/spark.html
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
Due: stylelint --fix, prettier --write
