Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(popover-beta): Fixed border container styles
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
Due: stylelint --fix, prettier --write

Selector Card Changes
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

Radius updates to modal, toast and popover
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

new tokens for monospace font family (code block)
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

refactor(other): update tokens to reflect new color updates
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

refactor(other): run new tokens data
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

test(rich-text-editor): add spec and e2e tests
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.spec.ts
Due: prettier --write, eslint --fix

docs(other): added migration info about the legacy theme
  docs/migration-guides/v4/readme.md
Due: none

feat(copy-to-clipboard): detect overflow in tooltip position
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/example.html
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: stylelint --fix, prettier --write, eslint --fix

test(rich-text-editor): update snapshots
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
Due: none

fix(tokens): updated token names based on pr feddback
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

fix(popover-beta): Fixed flip placement
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(popover-beta): Not hardcoding flip container element
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(tokens): Updated info border color
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
Due: prettier --write

chore(other): revert puppeteer dependency
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

chore(release): 4.91.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(other): run new-tokens-data
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

test(other): reduce jest workers to 1
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
Due: prettier --write

fix(tokens): regenerated figma styles and vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.91.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(selector-cards): add badge to examples file
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
Due: stylelint --fix, prettier --write

fix(selector-cards): update paddings
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
Due: none

removed color token: blank_state.background_color (transparent black)
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.scss
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

feat(selector-cards): update checkbox and radiobutton size
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

fix(tokens): fixed toggle border radii tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(other): tokens update files
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

chore(context-menu): add NaN check to popover position
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.spec.ts.snap
Due: prettier --write, eslint --fix

fix(tokens): fixed toggle border radii tokens (#678)
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

chore(button): fixing issue with screenreader reading stuff twice
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
Due: stylelint --fix, prettier --write

fix(flyout-menu): apply box-sizing to flyout menu options
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
Due: none

fix(table): fixed header bottom border style
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: prettier --write

chore(button): updating snapshot
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.e2e.ts.snap
Due: none

chore(button): updating snapshot after main sync
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
Due: none

Selector Card Changes
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
Due: prettier --write

chore(release): 4.92.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): fixed jest tests
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-button/tests/__snapshots__/gux-button.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.ts
Due: prettier --write, eslint --fix

chore(other): removed duplicate flare theme file creation
  packages/genesys-spark-components/scripts/build-themes.js
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
Due: prettier --write

test(other): update token build snapshots
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write
