Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(gux-datepicker): fixed icon focus styling
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

fix(tokens) Remove px units from spineer's sizing tokens for COMUI-2226
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(time-zone-picker): syncing with newer changes in v3
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
  packages/genesys-spark-components/src/utils/date/time-zone.ts
Due: prettier --write, eslint --fix

chore(time-zone-picker): fixing tests
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.61
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(gux-form-field): gux-form-field error text vertical alignment fix
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
Due: none

docs(migration): updated migration guide
  docs/migration-guides/v4/readme.md
Due: none

fix(action button): centering position of chevron
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
Due: none

feat(tokens): new tokens context_menu jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(build): possible fix to node version issue with github build
  .github/workflows/main.yml
Due: none

fix(flyout-menu): fixed UX issues
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
Due: prettier --write, eslint --fix

docs(migration-guide): various fixes identified in bug hunt
  docs/migration-guides/v4/readme.md
Due: none

refactor(toggle): prevent clickable area expanding past toggle-slider
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Due: prettier --write, eslint --fix

chore(build): updating setup-node version
  .github/workflows/main.yml
Due: none

style(lint): linted codebase
  packages/genesys-spark-components/.lintstagedrc.json
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
  packages/genesys-spark-components/src/components/stable/gux-loading-message/gux-loading-message.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark/test/hosts.spec.ts
Due: prettier --write, eslint --fix

refactor(card-migration-guide): add card migration
  docs/migration-guides/v4/readme.md
Due: none

refactor(phone-input): ux review comments
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Due: none

chore(release): 4.0.0-beta.62
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(gux-form-field-color): added border styles
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/style/style.scss
Due: none

fix(context-menu): fixed alignment of list item
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.scss
Due: none

chore(docs): address pr comments
  docs/migration-guides/v4/readme.md
Due: none

fix(toggle): prevent clickable area expanding past toggle-slider
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.less
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(gux-toggle): missing token fixes
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
Due: none

added themes
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 3.109.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(calendar): remove stylings if same date selected
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
Due: prettier --write, eslint --fix

feat(icons): adding new requested icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-column-after.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-column-before.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-row-after.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-row-before.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/delete-column.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/delete-row.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/delete-table.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/wrap-text-inline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/wrap-text-tight.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/wrap-text-top-bottom.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bookmark-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/check-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-zip-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/table-cells-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/table-columns-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

docs(action-button-legacy): added new migration docs
  docs/migration-guides/v4/gux-action-button-legacy.md
  docs/migration-guides/v4/readme.md
Due: none

feat(icons): adding requested icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-column-after.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-column-before.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-row-after.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/add-row-before.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/delete-column.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/delete-row.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/delete-table.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/wrap-text-inline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/wrap-text-tight.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/wrap-text-top-bottom.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bookmark-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/check-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-zip-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/table-cells-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/table-columns-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

fix(button-multi): fixed css token
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
Due: none

chore(release): 3.110.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(v4 migration): add notes about CSS variable support
  docs/migration-guides/v4/readme.md
Due: none

docs(legacy-migrations): updated legacy migration guides
  docs/migration-guides/v4/gux-accordion-legacy.md
  docs/migration-guides/v4/gux-action-button-legacy.md
  docs/migration-guides/v4/gux-button-multi-legacy.md
  docs/migration-guides/v4/gux-dropdown-legacy.md
  docs/migration-guides/v4/gux-form-field-legacy.md
  docs/migration-guides/v4/gux-list-legacy.md
  docs/migration-guides/v4/gux-tabs-legacy.md
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(z-index): default values
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/style/_zindex.scss
  packages/genesys-spark-components/src/style/examples/z-index.html
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
