Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(tokens): Changed margins to paddings
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(utils): remove duplicate genesys-spark utils
  packages/genesys-spark-components/genesys-spark/src/utils/get-closest-element.js
  packages/genesys-spark-components/genesys-spark/src/utils/intl.js
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/copy-genesys-spark-utils.mjs
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
Due: prettier --write, eslint --fix

chore(utils): removed unused utils
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
Due: prettier --write, eslint --fix

chore(other): address PR comments
  changelog.config.js
Due: prettier --write

chore(release): 3.122.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.27.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(date-time): use current time in date-time example
  packages/genesys-spark-components/src/components/beta/gux-date-time/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.28.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(genesys-spark): fixed broken types reference
  packages/genesys-spark/package.json
Due: prettier --write

chore(label): draft API for feedback
  packages/genesys-spark-components/src/components/beta/gux-label/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.28.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(datetime): remove JS from example
  packages/genesys-spark-components/src/components/beta/gux-date-time/example.html
Due: stylelint --fix, prettier --write

feat(date-time): use current time in date-time example (#390)
  packages/genesys-spark-components/src/components/beta/gux-date-time/example.html
Due: stylelint --fix, prettier --write

feat(pagination): change dropdown size to fit-content
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
Due: none

feat(pagination): change width to fit-content
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/gux-pagination-items-per-page-beta.less
Due: stylelint --fix, prettier --write

feat(pagination): change dropdown size to fit-content (#393)
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
Due: none

fix(charts): fixed charts deploy
  .eslintignore
  .gitignore
  Jenkinsfile
  docs/JENKINS.md
  package.json
  packages/genesys-spark-chart-components/scripts/generate-manifest.js
  packages/genesys-spark-components/scripts/version-helper.js
  scripts/create-dist-folder.js
  scripts/create-manifest.js
  scripts/version-helper.js
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
  web-apps/genesys-spark-examples/src/viewer-template.html
Due: stylelint --fix, prettier --write

feat(avatar): use focus helpers
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

feat(avatar): trying out avatar component for focus style
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): add focus styled examples
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

feat(avatar): code review updates
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
Due: prettier --write, eslint --fix

feat(avatar): code review updates and tests
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/style/style.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(content-search): fix truncation issue on Safari, Firefox
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
Due: prettier --write, eslint --fix

chore(content-search): tester of other language examples
  packages/genesys-spark-components/src/components/stable/gux-content-search/example.html
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
Due: stylelint --fix, prettier --write

feat(button-slot): allow the slotting of links in gux-button-slot
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.light.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/__snapshots__/gux-button-slot.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/__snapshots__/gux-button-slot.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/gux-button-slot.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/tests/gux-button-slot.spec.ts
  packages/genesys-spark-components/src/style/style.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(publish): remove temp dry run tag
  Jenkinsfile
Due: none

chore(release): 4.29.0-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

feat(pagination): change width to fit-content (#394)
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/gux-pagination-items-per-page-beta.less
Due: stylelint --fix, prettier --write

chore(release): 3.123.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.29.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(content-search): replace truncate remove max-lines
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 4.29.1-beta.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
