Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

docs(button-slot): Update icon gap to match Figma
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
Due: stylelint --fix, prettier --write

docs(button-slot): Update icon gap to match Figma (#914)
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
Due: stylelint --fix, prettier --write

chore(selector-cards-beta): update manual a11y checklist
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/a11yManualChecklist.md
Due: none

feat(rich-text-editor): addition of responsive design
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/gux-rich-style-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-sub-list/gux-rich-text-editor-sub-list.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-sub-list/gux-rich-text-editor-sub-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-sub-list/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-menu/gux-rich-text-editor-menu.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-menu/gux-rich-text-editor-menu.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-menu/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/utils/decorator/on-resize.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): modified calendar header text
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

chore(cta-group): Manual accessibility markdown file update
  packages/genesys-spark-components/src/components/beta/gux-cta-group/a11yManualChecklist.md
Due: none

chore(popover-list-beta): Updated accessibility markdown file
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/a11yManualChecklist.md
Due: none

feat (tokens): color updates to ui, mode and themes tokens per Darcies's direction (part 1)
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(release): 4.121.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat (tokens): updates to ui tokens in the global nav per Darcie's direction part 2
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

feat(avatar-group-beta): add to group (#874)
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/gux-avatar-group-add-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/gux-avatar-group-add-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(other): fixes memory leak by updating stencil to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

chore(icon): added new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/amb.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/sun-bright-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/message-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wrench-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(gux-icon): added new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/amb.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/sun-bright-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/message-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wrench-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat (tokens): modified the panel stroke token on light mode to be transparent
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

fix(list): address accessibility console error
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.tsx
Due: prettier --write, eslint --fix

chore(popover-beta): Added manual accessibility checklist
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/a11yManualChecklist.md
Due: none

chore(release): 3.133.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.122.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(global_nav): initial color token iterations from Darcie Hart
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

styles(global_nav): inclusion of side_menu dark mode divider token
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

style(global_nav): amendment to side_menu divider dark mode color token
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

perf(other): fix tabindex in datepicker
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
Due: prettier --write, eslint --fix

style(global_nav): updating side_menu dark mode to haze 850
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

style(global_nav): core color tokens alignment
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

style(global_nav): panel gradient tokens aligned to designer specs
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

chore(label-info-beta): manual accessibility checklist, add form field example
  packages/genesys-spark-components/src/components/beta/gux-label-info/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/example.html
Due: stylelint --fix, prettier --write

fix(modal): fixed backgroud color token
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

style(global_nav): dark mode and designer feedback styling modifications
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

chore(release): 3.133.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.123.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(token): removed deprecated sets
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-sub-list/gux-rich-text-editor-sub-list.scss
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core_deprecated.json
  packages/genesys-spark-tokens/data/semantic_deprecated.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

fix(tooltip): add animation delay for when showing tooltip
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

test(other): fixed e2e tests
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-add-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/gux-tabs.e2e.ts
Due: prettier --write, eslint --fix

chore(time-zone-beta): Added manual accessibility markdown file
  packages/genesys-spark-components/src/components/beta/gux-time-zone/a11yManualChecklist.md
Due: none

feat(tokens): created the new deprecated set
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/deprecated.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

fix(list): remove invalid focus target descendant from list
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
Due: prettier --write, eslint --fix
