Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(tooltip-beta): Updated manual accessibility markdown file
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/a11yManualChecklist.md
Due: none

chore(release): 4.125.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(screen-reader-beta): accessibility checklist (#941)
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/a11yManualChecklist.md
Due: none

chore(icon-tooltip-beta): accessibility checklist (#940)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/a11yManualChecklist.md
Due: none

feat(other): added less and sass tokens
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/test/index.mjs
  packages/genesys-spark/.lintstagedrc.json
  packages/genesys-spark/package.json
  packages/genesys-spark/scripts/build-token-files.mjs
  packages/genesys-spark/scripts/snapshot.mjs
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

test(other): modify dir-compare config
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
  packages/genesys-spark/scripts/build-style-sheets.sh
  packages/genesys-spark/scripts/snapshot.mjs
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update snapshot
  packages/genesys-spark/package.json
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(other): added less and sass tokens
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/test/index.mjs
  packages/genesys-spark/.lintstagedrc.json
  packages/genesys-spark/package.json
  packages/genesys-spark/scripts/build-token-files.mjs
  packages/genesys-spark/scripts/snapshot.mjs
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
Due: stylelint --fix, prettier --write

chore(translations): update translations
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/list-missing-translations.js
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

feat(tokens): created the new deprecated set
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

chore(other): update stencil to v4.22.3
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/test/specTestUtils.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/__snapshots__/gux-form-field-file.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/__snapshots__/gux-form-field-file.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.e2e.ts.snap
  packages/genesys-spark-components/src/test/specTestUtils.ts
Due: prettier --write, eslint --fix

chore(tokens): generating tokens
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

chore(popover-beta): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
Due: prettier --write, eslint --fix

chore(release): 3.133.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.126.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(global_nav): alignment of menu_option color usage
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

test(tokens): updating snapshots
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global-typography.css.map
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/scss/_mixins.scss
  packages/genesys-spark/snapshot/scss/_typography.scss
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

style(global_nav): alignment of dark mode to designer preference for menu_options
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

test(phone-input-beta): fixed tests
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: prettier --write, eslint --fix

fix(pagination-beta): fixed translations
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-buttons-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-item-counts-beta/gux-pagination-item-counts-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/gux-pagination-items-per-page-beta.tsx
Due: prettier --write, eslint --fix

feat(tokens): rearrange $themes file
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

chore(avatar-group-beta): add manual a11y check
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

feat(table): updating table borders
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

test(tokens): updating snapshots
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

test(tokens): updating snapshots
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

test(tokens): updating snapshots
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(side-panel-beta): add manual a11y check
  packages/genesys-spark-components/src/components/beta/gux-side-panel/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 3.133.4
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.127.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(button-slot): a11y check
  packages/genesys-spark-components/src/components/stable/gux-button-slot/a11yManualChecklist.md
Due: none

chore(other): tokens theme file is now normalised on lint
  package.json
  packages/genesys-spark-tokens/.lintstagedrc.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/scripts/normalise-themes.mjs
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

fix(form-field-file-beta): moved error slot location
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.tsx
Due: prettier --write, eslint --fix

chore(other): update lint dependencies
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(toggle): changed toggle error icon
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
Due: prettier --write, eslint --fix

feat(icon): added new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/calendar-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/calendar-minus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-solid.svg
Due: prettier --write, eslint --fix, svgo -i

chore(tooltip-beta): Manual accessibility role check fix
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/a11yManualChecklist.md
Due: none

chore(release): 4.128.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(calendar): allow for customized slotted days
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/readme.md
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/tests.service.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/gux-calendar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-day/base.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/beta/gux-day/readme.md
  packages/genesys-spark-components/src/style/utils.scss
  packages/genesys-spark/src/style/_mixins.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(calendar-beta): PR styling fixes
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.scss
  packages/genesys-spark-components/src/components/beta/gux-day/gux-day.tsx
  packages/genesys-spark-components/src/components/utility/focus-proxy/focus-proxy.tsx
Due: stylelint --fix, prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
