Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

refactor(other): updated genesys-spark scss files with updated dist folder references
  packages/genesys-spark/src/style/_focus.scss
  packages/genesys-spark/src/style/_mixins.scss
  packages/genesys-spark/src/style/_typography.scss
  packages/genesys-spark/src/style/flare/global.scss
  packages/genesys-spark/src/style/flare/ui.scss
  packages/genesys-spark/src/style/global.scss
  packages/genesys-spark/src/style/legacy/global.scss
  packages/genesys-spark/src/style/legacy/ui.scss
  packages/genesys-spark/src/style/ui.scss
Due: none

refactor(other): make flare theme the default
  packages/genesys-spark-components/src/style/flare.scss
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

chore(other): updated token snapshots
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-ui.scss
Due: prettier --write

chore(other): update dependencies
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: prettier --write, eslint --fix

chore(release): 4.93.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): use logical properties with beta components
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-cta-group/gux-cta-group.scss
  packages/genesys-spark-components/src/components/beta/gux-flag-icon/gux-flag-icon.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form.light.scss
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/gux-icon-tooltip.scss
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/gux-label-info.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: prettier --write

chore(other): use logical properties with beta components (#613)
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-cta-group/gux-cta-group.scss
  packages/genesys-spark-components/src/components/beta/gux-flag-icon/gux-flag-icon.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form.light.scss
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/gux-icon-tooltip.scss
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/gux-label-info.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write

docs(other): added report of unused ui tokens
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
Due: prettier --write

chore(release): 4.93.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(tabs): add optional chaining operator for initalisation
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.tsx
Due: prettier --write, eslint --fix

chore(release): 4.93.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar): use the same focus ring on small avatars
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.ts
Due: prettier --write, eslint --fix

chore(other): updated publish tag based on branch
  Jenkinsfile
Due: none

feat(avatar): use the same focus ring on small avatars (#688)
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.ts
Due: prettier --write, eslint --fix

feat(avatar-group): add grouped avatar
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): add overflow basic
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): add accent change
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): adding popover-list
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): list items
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
Due: prettier --write, eslint --fix

chore(avatar-group): add basic resizing
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): add click for list item
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): update implementation
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update file name
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): remove resizing, simplify PR
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): remove manual item creation and removal
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
Due: prettier --write, eslint --fix

chore(avatar-group): wip
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): overflow fix
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.service.ts
Due: prettier --write, eslint --fix

chore(avatar-group): update to support link on screenreader
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
Due: prettier --write, eslint --fix

chore(avatar-group): keyboard navigation first attempt
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/readme.md
  packages/genesys-spark-components/src/components/stable/gux-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): update avatar list itme
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.types.ts
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.tsx
Due: prettier --write, eslint --fix

chore(avatar-group): gux-avatar-list-item
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/readme.md
Due: prettier --write, eslint --fix

chore(avatar-group): add translation
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/gux-avatar-list-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/tests/__snapshots__/gux-avatar-list-item.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/tests/__snapshots__/gux-avatar-list-item.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/tests/gux-avatar-list-item.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-list-item/tests/gux-avatar-list-item.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/readme.md
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.scss
  packages/genesys-spark-components/src/components/stable/gux-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.tsx
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): update focusable
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
Due: none

chore(release): 4.94.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(other): rich-text-editor
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.types.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-column-manager/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/style/_light-dom.scss
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): account for some unused tokens
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-tokens/dist-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/dist-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/dist-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/dist-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/dist-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/dist-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/dist-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/dist-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/dist-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/dist-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/dist-new/scss/gse-legacy-light-ui.scss
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
Due: prettier --write

feat(tokens):testing darkmode tokens with the set background.system/custom_accents/bold used mostly in tags and avatar initials.
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

chore(other): update token snapshots
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-ui.scss
Due: prettier --write

feat(other): added mode switcher to example docs
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
