Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(side-panel-beta): Removed collapse slot name type
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.types.ts
Due: prettier --write, eslint --fix

featt(tokens): moved alert tokens from unordered to feedback
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(side-panel-beta): Fixed playwright tests
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.types.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.common.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-basic-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-basic-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-and-badge-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-and-badge-2-darwin.png
Due: stylelint --fix, prettier --write, eslint --fix

chore(side-panel-beta): Removed debug code
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(release): 4.179.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(tooltip): enforced uniqueness of tooltips
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.playwright.ts
  packages/genesys-spark-components/src/utils/tooltip/tooltip-manager.spec.ts
  packages/genesys-spark-components/src/utils/tooltip/tooltip-manager.ts
Due: prettier --write, eslint --fix

chore(side-panel-beta): Fixed playwright tests and accessibility issues
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-expandable-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-expandable-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-size-small-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-size-small-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-and-footer-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-and-footer-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-and-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-side-panel-with-header-and-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

feat(form-field-time-picker): Update AM PM to reflect regional date times behind feat toggle
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.179.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(context-menu): now using token for offset
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.tsx
  packages/genesys-spark-components/src/utils/tokens/parse-px-value.spec.ts
  packages/genesys-spark-components/src/utils/tokens/parse-px-value.ts
Due: prettier --write, eslint --fix

chore(other): update dependencies
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-a-gux-blank-state-component-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-a-gux-blank-state-component-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-a-5d9d1-n-secondary-call-to-action-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-a-82270-d-when-additional-guidance-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-a-9d67a-n-secondary-call-to-action-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-a-dccda-d-when-additional-guidance-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-as-expected-when-image-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-as-expected-when-image-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-with-alignment-center-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-with-alignment-center-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-with-alignment-left-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-with-alignment-left-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-with-no-padding-attribute-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/tests/gux-blank-state.e2e.playwright.ts-snapshots/gux-blank-state-beta-should-render-component-with-no-padding-attribute-2-darwin.png
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown): add listbox role to component
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

chore(form-field-time-picker): address PR comments
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

chore(other): addressed PR comment
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

chore(flyout-menu): Added caret arrow css
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
Due: none

chore(flyout-menu): Fixed caret width
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
Due: none

chore(tree-beta): update select click logic and label accessibility
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/gux-branch-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/gux-branch-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/gux-leaf-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/gux-leaf-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-tree-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tests/__snapshots__/gux-tree-multi.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 4.180.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(form_foooter): adjustment of horizontal_padding spacing
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

chore(side-panel-beta): Fixed dismiss button styling for expandable state
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
Due: prettier --write, eslint --fix

fix(toggle): added aria-disabled attribute
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.common.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-checked-loading-toggle-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-checked-loading-toggle-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-checked-toggle-with-error-message-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-checked-toggle-with-error-message-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-disabled-toggle-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-disabled-toggle-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-disabled-toggle-with-label-and-error-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-disabled-toggle-with-label-and-error-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-inline-toggle-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-inline-toggle-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-inline-toggle-with-label-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-inline-toggle-with-label-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-loading-toggle-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-loading-toggle-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-loading-toggle-with-label-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-loading-toggle-with-label-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-toggle-with-error-message-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-toggle-with-error-message-2-darwin.png
Due: prettier --write, eslint --fix

chore(side-panel-beta): Fixed up logic for rendering dismiss button
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.common.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-expandable-side-panel-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.playwright.ts-snapshots/gux-side-panel-beta-Should-render-expandable-side-panel-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(side-panel-beta): Fixed readmes
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
Due: none

chore(release): 4.180.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

chore(other): added audio spike components
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-audio-preview/example.html
  packages/genesys-spark-components/src/components/beta/gux-audio-preview/gux-audio-preview.scss
  packages/genesys-spark-components/src/components/beta/gux-audio-preview/gux-audio-preview.tsx
  packages/genesys-spark-components/src/components/beta/gux-audio-preview/readme.md
  packages/genesys-spark-components/src/components/beta/gux-audio-upload/example.html
  packages/genesys-spark-components/src/components/beta/gux-audio-upload/gux-audio-upload.scss
  packages/genesys-spark-components/src/components/beta/gux-audio-upload/gux-audio-upload.tsx
  packages/genesys-spark-components/src/components/beta/gux-audio-upload/readme.md
  packages/genesys-spark-components/src/utils/audio/create-wavesurfer.ts
  web-apps/genesys-spark-examples/scripts/generate-manifest.js
  web-apps/genesys-spark-examples/sounds/gb.mp3
  web-apps/genesys-spark-examples/sounds/ie.mp3
  web-apps/genesys-spark-examples/sounds/us.mp3
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write, eslint --fix

fix(listbox): fixed icon placement when subtext is present
  .amazonq/agents/default.json
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/__snapshots__/gux-listbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.common.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-basic-gux-listbox-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-basic-gux-listbox-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-in-disabled-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-in-disabled-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-in-loading-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-in-loading-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-empty-message-when-all-options-filtered-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-empty-message-when-all-options-filtered-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-icon-options-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-icon-options-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-option-groups-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-option-groups-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-selected-value-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-selected-value-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-subtext-options-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.e2e.playwright.ts-snapshots/gux-listbox-should-render-gux-listbox-with-subtext-options-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-listbox/tests/gux-listbox.spec.ts
Due: prettier --write, eslint --fix

feat(tree-view-beta): tree view component single select
  packages/genesys-spark-components/src/components/beta/gux-tree/example.html
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/gux-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-branch/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/gux-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-leaf/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.scss
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.service.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/gux-tree.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/__snapshots__/gux-tree.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.common.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts-snapshots/gux-tree-render-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.e2e.playwright.ts-snapshots/gux-tree-render-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tests/gux-tree.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-tree/tree-node-types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): add new icon
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-arrow-down-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(tree-multi-beta): change selection logic
  .amazonq/agents/default.json
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/gux-branch-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/gux-branch-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/gux-leaf-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/gux-leaf-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-tree-multi.tsx
Due: prettier --write, eslint --fix

feat(tree-multi-beta): added new component
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-illustration/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/example.html
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/gux-branch-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/gux-branch-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-branch-multi/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/gux-leaf-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/gux-leaf-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-leaf-multi/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-tree-multi.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-tree-multi.service.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/gux-tree-multi.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tests/__snapshots__/gux-tree-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tests/gux-tree-multi.common.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tests/gux-tree-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tests/gux-tree-multi.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tests/gux-tree-multi.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-tree-multi/tree-node-types.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(side-panel-beta): Added dismiss button toolbar icon type
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(side-panel-beta): Added dismiss button snapshots
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-Should-render-dismiss-button-with-default-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-Should-render-dismiss-button-with-default-icon-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-Should-render-dismiss-button-with-toolbar-icon-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-Should-render-dismiss-button-with-toolbar-icon-2-darwin.png
Due: none

chore(side-panel-beta): Fixed icon type prop reference for dismiss button
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/__snapshots__/gux-dismiss-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(side-panel-beta): Fixed failing snapshots
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/__snapshots__/gux-dismiss-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts-snapshots/gux-dismiss-button-Should-render-dismiss-button-with-toolbar-icon-2-darwin.png
Due: none

chore(side-panel-beta): Removed readme note that's not relevant anymore about shadow part
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
Due: none

chore(release): 4.180.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
