Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

fix(avatar): remove title attribute from abbr element
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: prettier --write, eslint --fix

feat(icon): Add heart, comment, lock icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lighthouse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-open-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-solid.svg
Due: prettier --write, eslint --fix, svgo -i

chore(other): readmes
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

feat(icon): aDd comment, heart and lock icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lighthouse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-open-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-solid.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): Add heart, comment, lock icons (#568)
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lighthouse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-open-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feat(icon): aDd comment, heart and lock icons (#569)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/heart-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lighthouse-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-open-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/lock-solid.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(release): 3.130.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.76.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(modal): remove scrollbars from dialog element
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

updated form_control.label.gap to form_control.form_field.gap
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/ui/form_control.json
Due: prettier --write

fix(token): updated form field gap token on old data
  packages/genesys-spark-tokens/data-old/tokens.json
Due: prettier --write

chore(other): tokens
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

feat(other): Update form field gap
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-visual-label/gux-form-field-visual-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/gux-form-field-label-indicator.scss
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
Due: stylelint --fix, prettier --write

feat(avatar): remove duplication in screenreader content for change photo
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
Due: prettier --write, eslint --fix

feat(avatar): remove duplication in screenreader content for change photo (#574)
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 4.77.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update dev dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/i18n/index.ts
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/tests/gux-icon-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/gux-modal-legacy.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-screenreader-label/gux-form-field-screenreader-label.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/i18n/index.ts
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

style(modal): apply padding-top to modal-header instead of container
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

feat(form-fields): Update the spacing on form fields (#571)
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-visual-label/gux-form-field-visual-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/gux-form-field-label-indicator.scss
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/ui/form_control.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
Due: stylelint --fix, prettier --write

style(modal): dynamic gux-modal footer buttons getting cut off
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

feat(phone-input): add phone-number-type prop to allow displaying toll-free number as placeholder [PLTRES-442]
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/__snapshots__/gux-phone-input.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(phone-input): add phone-number-type prop to allow displaying toll-free number as placeholder [PLTRES-442]
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(other): improve playgrounds usability
  package-lock.json
  package.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  playground.angular.json
  playground.ember.json
  playground.knockout.json
  playground.vue.json
  playground/angular-v12/.gitignore
  playground/angular-v12/package-lock.json
  playground/angular-v13/.gitignore
  playground/angular-v13/.npmrc
  playground/angular-v13/README.md
  playground/angular-v13/package-lock.json
  playground/angular-v13/package.json
  playground/angular-v13/src/index.html
  playground/angular-v15/.gitignore
  playground/ember-3/.gitignore
  playground/ember-3/.npmrc
  playground/ember-3/README.md
  playground/ember-3/app/index.html
  playground/ember-3/package-lock.json
  playground/knockout-3/.gitignore
  playground/knockout-3/.npmrc
  playground/knockout-3/README.md
  playground/knockout-3/index.html
  playground/knockout-3/package-lock.json
  playground/vue-2/.gitignore
  playground/vue-2/package-lock.json
  playground/vue-3/.gitignore
  playground/vue-3/README.md
  playground/vue-3/package-lock.json
Due: stylelint --fix, prettier --write

chore(release): 4.78.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown): filterable dropdown/multi disabled state not updating correctly
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(avatar): Add uc app screenreader text to avatar
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
Due: prettier --write, eslint --fix

feat(phone-input): convert phone number type to libphonenumber enum when prop changes [PLTRES-442]
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

feat(tokens): updated ui tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/core_deprecated.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/actions.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/form_control.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/data/ui/search_and_filter.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

feat(tokens): updated label.gap to form_field.gap per COMUI-3033
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/form_control.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/search_and_filter.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

feat(tokens): Updated vars in figma
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(other): fixed token snapshot tests
  packages/genesys-spark-tokens/.prettierignore
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
  packages/genesys-spark-tokens/test/index.mjs
Due: prettier --write

feat(phone-input): update snapshots [PLTRES-442]
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/__snapshots__/gux-phone-input.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: prettier --write, eslint --fix

chore(release): 4.78.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(phone-input): add phone-number-type prop to allow displaying toll-free number as placeholder [PLTRES-442] (#577)
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/__snapshots__/gux-phone-input.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): add browser region override support for Hong Kong and Singapore regions
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
  packages/genesys-spark/tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 4.79.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar): Add uc app screenreader text to avatar (#572)
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
Due: prettier --write, eslint --fix

feat(selector-cards): Checkbox variants added
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark/src/style/_checkbox-icons.scss
  packages/genesys-spark/src/style/_radio-icons.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(phone-input): added fallbacks for international toll-free placeholder numbers
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

fix(phone-input): added fallbacks for international toll-free placeholder numbers (#581)
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix
