Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

fix(jenkins): fix version sync
  Jenkinsfile
Due: none

chore(release): 3.81.5
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(build): fix build
  Jenkinsfile
Due: none

fix(build): fixed react components build
  Jenkinsfile
Due: none

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
Due: prettier --write

feat(gux-icon): adding binocular icons from v3 to v2
  src/components/stable/gux-icon/icons/custom/binoculars-slash-regular.svg
  src/components/stable/gux-icon/icons/fa/binoculars-regular.svg
Due: svgo -i

chore(gux-icon): adding binocular icons to generateIcons file
  docs/src/utils/generateIcons.js
Due: prettier --write

feat(icon): added calculator icon
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/calculator-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, svgo -i

fix(jenkinsfile): fixed bash script triple quotes bug
  Jenkinsfile
Due: none

fix(version): fixing broken version number
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

build(files): remove files added by Jenkins in error
  .gitignore
  packages/genesys-spark-components/.gitignore
Due: none

fix(gitignore): remove entries
  .gitignore
  packages/genesys-spark-components/.gitignore
Due: none

fix(gitignore): add files to ignore
  .gitignore
  packages/genesys-spark-components/.gitignore
Due: none

fix(jenkinsfile): fixed git commit steps
  Jenkinsfile
Due: none

chore(release): 3.82.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
Due: prettier --write

chore(release): 3.82.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
Due: prettier --write

chore(release): 2.59.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/he.json
Due: prettier --write

fix(table): set fixed width on row selection column
  packages/genesys-spark-components/src/components/beta/gux-table/gux-table.light.less
Due: stylelint --fix, prettier --write

fix(gux-dropdown): truncate long text and show tooltip (#1237)
  packages/genesys-spark-components/src/components/beta/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/tests/__snapshots__/gux-pagination-items-per-page-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-truncate/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.less
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.less
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.less
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/__snapshots__/gux-pagination.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.83.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(gux-form-field-dropdown): improve label accessibility (#1219)
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.84.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

perf(popover): allow popover to search shadowRoot
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(gux-dropdown): handle options with value set as empty string (#1265)
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

fix(gux-tabs-advanced): scroll should show whole tab
  deploy/infra/build_env.json
  deploy/infra/pipeline.d/build.json
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.less
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.less
Due: stylelint --fix, prettier --write, eslint --fix

build(jenkins): remove files committed by Jenkins in error
  .gitignore
  deploy/infra/build_env.json
  deploy/infra/pipeline.d/build.json
Due: prettier --write

fix(jenkins): added deploy folder to gitignore
  .gitignore
Due: none

chore(release): 3.84.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
Due: prettier --write

fix(popover-beta): fixed bug where popover updated when not connected to DOM
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list-beta.tsx
Due: prettier --write, eslint --fix

chore(release): 3.84.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
Due: prettier --write
