Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(tokens): UI theming data table and context menu
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): UI Theming fix padding
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): UI theming sliders
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): UI theming slider
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(selector-card): fix selecting by description
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-card): fix long word truncation
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

feat(selector-cards): Checkbox variants added
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(selector-card): use existing mixins
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

chore(selector-card): centralise icons
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card-icons.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio-icons.scss
  packages/genesys-spark/src/style/_checkbox-icons.scss
  packages/genesys-spark/src/style/_radio-icons.scss
Due: none

chore(selector-cards): styling tidy up
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card-icons.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio-icons.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark/src/style/_checkbox-icons.scss
  packages/genesys-spark/src/style/_radio-icons.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): Updated checkbox tokens
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated slider tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated color picker
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated styles and vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Updated toggle tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): updated vars and syles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(tokens): Updated toggle tokens
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated selector card tokens
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(release): 3.129.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.71.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(selector-card): remove description click
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
Due: prettier --write, eslint --fix

feat(tokens): UI theming Avatar size and space
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(datepicker): change font-weight on label
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

fix: click events aren't triggering for line charts
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: prettier --write, eslint --fix

feat(tokens): Updated avatar tokens pt1
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(tokens): Updated avatar tokens pt2
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

chore(other): Playground index css and js changes
  playground.angular.json
  playground.ember.json
  playground.knockout.json
  playground.vue.json
  playground/angular-v13/src/index.html
  playground/ember-3/app/index.html
  playground/knockout-3/index.html
Due: stylelint --fix, prettier --write

chore(other): Playground test
  playground/vue-3/index.html
Due: stylelint --fix, prettier --write

feat(tokens): updated accordion tokens pt1
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

feat(tokens): updated accordion tokens pt2
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

feat(tokens): updated vars and styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(time-zone): Add gux-time-zone to v4 (#549)
  packages/genesys-spark-components/src/components/beta/gux-time-zone/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.service.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): Resolving gux icon merge conflict
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  playground/knockout-3/index.html
Due: stylelint --fix, prettier --write

feat(tokens): Added side sheet tokens
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

chore(other): Fixed up playgrounds
  package.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  playground.angular.json
  playground.ember.json
  playground.knockout.json
  playground.vue.json
  playground/angular-v13/README.md
  playground/angular-v13/package.json
  playground/angular-v13/src/index.html
  playground/ember-3/README.md
  playground/ember-3/app/index.html
  playground/knockout-3/README.md
  playground/knockout-3/index.html
  playground/vue-3/README.md
Due: stylelint --fix, prettier --write

chore(other): Playground file fixes
  package-lock.json
Due: prettier --write

feat(tokens): Update side sheet tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens) Generated styles and vars for side sheet
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write
