Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(avatar): add tokens for change photo overlay
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write

color, opacity and size tokens for the avatar add and change image interaction
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(avatar): code review updates
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): wIP changes for photo change
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/camera-solid.svg
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(avatar): update tests
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: none

build(dependencies): removed unused dependency
  package-lock.json
  packages/genesys-spark-chart-components/package.json
Due: prettier --write

fix(tooltip): fixed overflow-wrap for long words
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/__snapshots__/gux-tooltip.spec.ts.snap
Due: prettier --write, eslint --fix

docs(modal): added autofocus examples
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
Due: stylelint --fix, prettier --write

feat(modal): allow modal to be reopened
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
Due: prettier --write, eslint --fix

docs(other): add commit guidelines to contributing.md
  docs/CONTRIBUTING.md
Due: none

feat(avatar): add focus styled examples (#359)
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/style/style.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(form-field-number): add default transparent border to arrow buttons to reserve space for hover
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
Due: none

chore(release): 4.30.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): adding icons for new label work
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-info-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-question-regular.svg
Due: prettier --write, eslint --fix, svgo -i

fix(charts): fixed charts deploy
  .eslintignore
  .gitignore
  Jenkinsfile
  docs/JENKINS.md
  package.json
  packages/genesys-spark-chart-components/scripts/generate-manifest.js
  packages/genesys-spark-components/scripts/version-helper.js
  scripts/create-dist-folder.js
  scripts/create-manifest.js
  scripts/version-helper.js
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
  web-apps/genesys-spark-examples/src/viewer-template.html
Due: stylelint --fix, prettier --write

feat(icon): adding icons for new label work (#399)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-info-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-question-regular.svg
Due: prettier --write, eslint --fix, svgo -i

chore(build): fix build
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(release): 4.31.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(modal): pr suggestion
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
Due: prettier --write, eslint --fix

feat(action-button): setting max-height on popup to match dropdown
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
Due: none

feat(tokens): gap radiobuttons/checkbox forms - jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): gap forms groups - jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(gux-accordion): allowing user to highlight text
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
Due: none

chore(release): 4.31.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(inline-alert): text alignment when wrapping
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/example.html
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.scss
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(form-field-input-clear-button): change class name to match component
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.tsx
Due: prettier --write, eslint --fix

feat(inline-alert): updated snapshots
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/readme.md
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
Due: none

chore(release): 4.32.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(form-field-input-clear-button): change class name to match component (#406)
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.tsx
Due: prettier --write, eslint --fix

feat(tokens): change form_control.help.gap to 4px - jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): generating new tokens
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(release): 4.33.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.33.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(gux-date): add var for toggling regional dates
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.ts
  packages/genesys-spark-components/src/i18n/read-regional-dates-cookie.ts
  packages/genesys-spark-components/src/i18n/read-regional-dates-var.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.34.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(content-search): fix truncation issue on Safari, Firefox
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
Due: prettier --write, eslint --fix

feat(content-search): replace truncate remove max-lines
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
Due: prettier --write, eslint --fix

chore(content-search): tester of other language examples
  packages/genesys-spark-components/src/components/stable/gux-content-search/example.html
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
Due: stylelint --fix, prettier --write

Revert "feat(content-search): wIP: Issue comments"
  packages/genesys-spark-components/src/components/stable/gux-content-search/example.html
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/utils/dom/get-text-content-from-nodes.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(content-search): wIP: Issue comments
  packages/genesys-spark-components/src/components/stable/gux-content-search/example.html
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/utils/dom/get-text-content-from-nodes.ts
Due: stylelint --fix, prettier --write, eslint --fix
