Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(release): 4.111.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(form-field-select): check-a11y list update
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/a11yManualChecklist.md
Due: none

chore(form-field-select): check-a11y list update (#850)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/a11yManualChecklist.md
Due: none

chore(form-field-time-zone-picker): accessibility checklist
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/a11yManualChecklist.md
Due: none

fix(other): fixed example docs event and attribute sections
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/scripts/component-metadata-generator.ts
  packages/genesys-spark-chart-components/scripts/generate-component-data.js
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/component-metadata-generator.ts
  packages/genesys-spark-components/scripts/generate-component-data.js
  packages/genesys-spark-components/stencil.config.ts
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/components/attribute-group.js
  web-apps/genesys-spark-examples/src/component-viewer/components/checkbox-attribute.js
  web-apps/genesys-spark-examples/src/component-viewer/components/code-attribute.js
  web-apps/genesys-spark-examples/src/component-viewer/components/select-attribute.js
  web-apps/genesys-spark-examples/src/component-viewer/components/text-attribute.js
  web-apps/genesys-spark-examples/src/styles/component-viewer.scss
Due: prettier --write, eslint --fix

chore(form-field-time-zone-picker): accessibility checklist (#851)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/a11yManualChecklist.md
Due: none

chore(release): 4.111.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(rich-text-editor): update failing snapshot
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(form-field-error): aligning error icon with top row of error message
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
Due: none

chore(rich-text-editor): update failing snapshot (#853)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(form-field-range): adding missing handle height token
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
Due: none

feat(form-field-checkbox): adding aria attributes to help with error accessibility
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
Due: prettier --write, eslint --fix

fix(inline-alert): fix screen-reader stylings
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/gux-screen-reader.scss
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.scss
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/readme.md
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
Due: prettier --write, eslint --fix

test(form-field-number): updating snapshots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 4.111.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): reorganize figma styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.111.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar-group): overflow
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar-group): overflow (#806)
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): reorganize figma styles (#858)
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(form-field-text-like): Added loading aria describeby
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
Due: prettier --write, eslint --fix

chore(release): 4.112.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(rich-text-editor): addition of color picker feature
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/gux-rich-text-editor-action-text-highlight.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/gux-rich-text-editor-action-text-highlight.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-highlight-list-item/gux-rich-highlight-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-highlight-list-item/gux-rich-highlight-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-highlight-list-item/gux-rich-highlight-list-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-highlight-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

test(form-field): adding missing snapshot tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/__snapshots__/gux-form-field-file.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/tests/gux-form-field-file.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/gux-form-field-text-like.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
Due: prettier --write, eslint --fix

chore(form-field-range): update accessibilty manual checklist
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/a11yManualChecklist.md
Due: none

chore(form-field-text-like): Fixed snapshot tests
  packages/genesys-spark-components/src/components/beta/gux-form/tests/__snapshots__/gux-form.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
Due: none

chore(form-field-text-like): Snapshot tests
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.e2e.ts.snap
Due: none

chore(release): 4.113.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): fix e2e tests
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich.style.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-highlight-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
Due: prettier --write, eslint --fix

chore(form-field-text-like): Manual accessibility updates
  packages/genesys-spark-components/src/components/beta/gux-form/tests/__snapshots__/gux-form.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
Due: prettier --write, eslint --fix

chore(form-field-text-like): Fixed snapshot test
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.spec.ts.snap
Due: none

fix(time-picker): handle invalid values
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
Due: prettier --write, eslint --fix

chore(release): 4.113.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): dont expand shadow tokens
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-card/gux-card.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
  packages/genesys-spark/src/style/_mixins.scss
Due: prettier --write

fix(dropdown-multi): typeahead text not showing
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
Due: prettier --write, eslint --fix

test(form-field-checkbox): snapshot updates
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
Due: prettier --write, eslint --fix

chore(listbox): Add styles for no matches text
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
Due: none

chore(form-field-text-like): Snapshot fix
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/tests/__snapshots__/gux-pagination-buttons.spec.ts.snap
Due: none
