Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.95.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(popover-beta): Added popover-beta component that uses the native popover-api
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

fix(visualization): Add chart memory leak fix from components v3
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: prettier --write, eslint --fix

chore(release): 4.96.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): linted recent code commits
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
Due: none

feat(segmented-control): added disabled state
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(segmented-control): addressed PR comment
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
Due: none

chore(other): addressed PR comments
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
Due: none

docs(visualization): Add spark bar chart examples
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

fix(rich-text-editor): fix broken e2e tests
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.types.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.96.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update beta component html to logical properties
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-month-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/example.html
Due: stylelint --fix, prettier --write

chore(other): update beta component html to logical properties (#698)
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-month-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.96.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar-group): Add avatar grouping
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): logical properties for stable compoments pt1
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.light.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.light.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-card/gux-card.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
  packages/genesys-spark-components/src/components/stable/gux-loading-message/gux-loading-message.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: prettier --write

chore(avatar-group): code review updates
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
Due: prettier --write, eslint --fix

chore(avatar-group): code review
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

feat(tokens): modified building script
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-semantic-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-semantic-mode.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-semantic-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-semantic-mode.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-flare-semantic-theme.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-semantic-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-semantic-mode.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-legacy-semantic-theme.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-semantic-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-semantic-mode.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-semantic-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-semantic-mode.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-semantic-theme.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-semantic-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-semantic-mode.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-legacy-semantic-theme.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
  packages/genesys-spark/src/style/flare/global.scss
  packages/genesys-spark/src/style/global.scss
  packages/genesys-spark/src/style/legacy/global.scss
Due: prettier --write

chore(other): logical properties for stable compoments pt1 (#699)
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.light.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.light.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-card/gux-card.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
  packages/genesys-spark-components/src/components/stable/gux-loading-message/gux-loading-message.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: prettier --write

refactor(rich-text-editor): UX review
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): reworked token file creation
  packages/genesys-spark-tokens/snapshot/json/gse-flare-light-semantic-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-flare-light-semantic-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark-tokens/utils/create-themes.mjs
  packages/genesys-spark/src/style/flare/global.scss
  packages/genesys-spark/src/style/flare/ui.scss
  packages/genesys-spark/src/style/global.scss
  packages/genesys-spark/src/style/legacy/global.scss
  packages/genesys-spark/src/style/legacy/ui.scss
  packages/genesys-spark/src/style/ui.scss
Due: prettier --write

docs(visualization): add spark examples for line charts
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

feat(tokens): dark mode batch 1
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

feat(tokens): batch 3
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

chore(release): 4.96.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar-group): Basic implementation as menu
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(avatar-group): tidy events
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group-item/gux-avatar-group-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
Due: prettier --write, eslint --fix

chore(other): logical properties on stable components pt2
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/gux-skip-navigation-list.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.scss
Due: prettier --write

chore(release): 4.97.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Removing Modal variant from Form Footer component - hence removing tokens.
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(form): remove modal-desktop footer variant
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.types.ts
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write, eslint --fix

fix(content-search): add missing tokens
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/search_and_filter.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

feat(selector-cards): stretch height
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

chore(other): logical properties on stable components pt2 (#708)
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/gux-skip-navigation-list.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.scss
Due: prettier --write

chore(other): logical properties on gux-form-field
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/gux-form-field-file.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-visual-label/gux-form-field-visual-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
Due: prettier --write

feat(form-footer): Remove modal-desktop variant and tokens (#709)
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.types.ts
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write, eslint --fix

chore(form-field-file): added new tokens
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write, eslint --fix

feat(selector-cards): stretch height (#710)
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

chore(other): logical properties on gux-form-field (#711)
  packages/genesys-spark-components/.stylelintrc.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/gux-form-field-file.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-visual-label/gux-form-field-visual-label.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
