Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
Due: prettier --write

chore(gux-modal): hardcoding viewport styles in modal for now
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

chore(z-index): add semantic tokens
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/style/_zindex.scss
  packages/genesys-spark-components/src/style/examples/z-index.html
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
Due: stylelint --fix, prettier --write

chore(zindex): update docs
  docs/migration-guides/v4/readme.md
  docs/migration-guides/v4/z-index.md
  packages/genesys-spark-components/README.md
  packages/genesys-spark-components/src/style/examples/z-index.html
Due: stylelint --fix, prettier --write

feat(tokens): gap token for star rating
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens grouped_menu jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens grouped menu jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.0.0-beta.63
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat: Basic test toggle component
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/example.html
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/gux-test-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/gux-test-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/gux-test-toggle.types.ts
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/readme.md
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/tests/__snapshots__/gux-test-toggle.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/tests/__snapshots__/gux-test-toggle.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/tests/gux-test-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-test-toggle/tests/gux-test-toggle.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): gap for rating component
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(disclosure-button): added focus state
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/gux-disclosure-button.scss
Due: none

fix(disclosure-button): added focus state
  packages/genesys-spark-components/src/components/stable/gux-disclosure-button/gux-disclosure-button.less
Due: stylelint --fix, prettier --write

feat(tokens): various token updates from ux
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(tokens): add z-index tokens back to design-tokens branch
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(tag): replacing gux-tooltip-title with gux-truncate
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: prettier --write, eslint --fix

Revert "fix(tag): replacing gux-tooltip-title with gux-truncate"
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: prettier --write, eslint --fix

fix(tag): fixing gux-tooltip-title
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

fix(tag): fixing gux-tooltip-title when span is slotted
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

fix(switch-legacy): added focus-visible ring
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.scss
Due: none

fix(token): updated badge border radius token
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

build(version): fixed version number
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.110.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.64
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(switch): added focus visible ring
  packages/genesys-spark-components/src/components/stable/gux-switch/gux-switch-item/gux-switch-item.less
Due: stylelint --fix, prettier --write

fix(genesys-spark): make sure package.json points to generated type location
  packages/genesys-spark/package.json
Due: prettier --write

feat(tokens): delete disabled opacity context menu jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(dropdown): fixed keyboard navigation issue
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

feat(all-row-select): added disabled property
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
Due: prettier --write, eslint --fix

feat(badge): centred icon in badge
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
Due: none

feat(rating): adding space and some flexibility for component width
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(release): 4.0.0-beta.65
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.111.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(time-picker): set ko, zh-CN and zh-CN locales to use 24h clock
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: prettier --write, eslint --fix

refactor(toggle): addition of new check icon
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.tsx
Due: prettier --write, eslint --fix

refactor(toggle): addition of check icon
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
Due: none

refactor(toggle): address pr comments
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
Due: none

feat(badge, tooltip-title, tabs): set fixed height of icon and centre for tooltip title
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.scss
Due: none

feat(button): account for border width in tertiary icon button padding
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
Due: none

feat(phone-input): set bg color to token
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Due: none
