Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(gux-context-menu): adopt new tokens
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
Due: none

feat(context-menu): add compact and default padding tokens
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
Due: none

fix(gux-action-button): added placement prop in gux-popup and changed action button placement val
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
Due: prettier --write, eslint --fix

feat(tables): adding fixed columns to tables
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tables): add styling to fixed column header
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

feat(avatar): small updates
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): small updates
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(gux-popup): setting placement to bottom-end for gux-button-multi
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

feat(menu): add optional title and grouped example
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-group/gux-menu-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(menu): add group to menu options and subtext
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/example.html
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-group/gux-menu-group.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-group/gux-menu-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(dropdown dropdown-multi listbox): add grouped options to dropdown-multi
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(listbox): fix broken test on phone input
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

feat(listbox): navigate groups by keyboard
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(dropdown): add groups to listbox
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(listbox dropdown): tidy examples for grouped options
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
Due: stylelint --fix, prettier --write

feat(listbox): add logic to hide divider on last group
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

feat(options): updates for code review
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

feat(options): add slot change check for subtext
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
Due: prettier --write, eslint --fix

feat(icon): add new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-down-left-arrow-up-right-to-center-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-bracket-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-right-down-left-from-center-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-down-to-people-light.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-rotate-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): update icon to regular
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-down-to-people-light.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-down-to-people-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): update icon
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-down-to-people-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(redo icon changes): redo icon changes
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-down-left-arrow-up-right-to-center-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-bracket-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-right-down-left-from-center-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-rotate-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon updates): icon update
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-down-left-and-arrow-up-right-to-center-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-right-and-arrow-down-left-from-center-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(update icon names to fa names): update icon names to fa names
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-down-left-and-arrow-up-right-to-center-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-up-right-and-arrow-down-left-from-center-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(option-group): changes for initial code review
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(optiongroup): updates from feedback
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.types.ts
Due: prettier --write, eslint --fix

feat(options): code review improvements
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
Due: prettier --write, eslint --fix

chore(jenkinsfile): add maintenance tag to v3 npm publish
  Jenkinsfile
  jenkinsfiles/components.Jenkinsfile
  jenkinsfiles/react.Jenkinsfile
  packages/genesys-spark-components-react/Jenkinsfile
Due: none

feat(table): add fixed columns example to examples page
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
Due: stylelint --fix, prettier --write

feat(listbox): basic search in listbox only
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.types.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(jenkinsfile): maintenance branch should not be MAINLINE build type for the docs
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

fix(gux-action-button): added placement prop in gux-popup and changed action button placement val
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
Due: prettier --write, eslint --fix

feat(tokens): Removed unused component tokens
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(jenkinsfile): docs maintenance release branch should be build type feature
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

feat: saving current WIP state
  notes.txt
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
Due: stylelint --fix, prettier --write

feat(listbox): add grouping to listbox
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(option-group): hide disabled prop for now
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(visualization): wired new packages to the example doc
  .prettierignore
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-donut/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-pie/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/readme.md
  packages/genesys-spark-components/stencil.config.ts
  packages/genesys-spark-visualizations/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark/README.md
  packages/genesys-spark/rollup.config.js
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/test/hosts.spec.ts
  start.json
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-specs.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
  web-apps/genesys-spark-examples/webpack.config.js
Due: prettier --write, eslint --fix

feat(listbox): fix option icon issue
  packages/genesys-spark-components/scripts/generate-component-data.js
  packages/genesys-spark-components/src/components/stable/gux-listbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/option-group/gux-option-group.tsx
Due: stylelint --fix, prettier --write, eslint --fix
