Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.69.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): UI theming datatable sizes
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(tokens): UI theming datatable color
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(tokens): UI theming colours datatable
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(tokens): UI Theming Datatable text
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(tokens): UI theming datatable
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(form-field-checkbox-group): update label style and disabled state
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
Due: none

fix(form-field-radio-group): add group label disabled state
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
Due: none

chore(form-field-checkbox-group): update tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
Due: prettier --write, eslint --fix

docs(form-field-checkbox): update html file to match UX guidelines
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/example.html
Due: stylelint --fix, prettier --write

chore(form-field-radio): update html file to address UX comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/example.html
Due: stylelint --fix, prettier --write

docs(form-field-radio-group): update html file to reflect UX guidelines
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
Due: stylelint --fix, prettier --write

chore(form-field-checkbox-group): update html to match UX guidelines
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
Due: stylelint --fix, prettier --write

feat(tokens): Added calendar tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Upated styles and vars for calendar
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(tokens): Updated calendar text style
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

fix(tokens): Fix calendar day header text
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): UI Theming tabletool bar
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

chore: changing prop to camel case
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

fix(advanced-dropdown-legacy): Add focus ring
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
Due: none

fix(advanced-dropdown-legacy): Add focus ring (#551)
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
Due: none

chore(other): package-lock.json removal code taken out
  package.json
Due: prettier --write

feat(tokens): Updated modals
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens): Updated modal styles and vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Update input padding
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/form_control.json
Due: prettier --write

feat(tokens): Updated time picker
  packages/genesys-spark-tokens/data/ui/form_control.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated time picker styles and vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.69.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): Running playground and web components concurrently
  package.json
  playground.angular.json
  playground.ember.json
  playground.knockout.json
  playground.vue.json
Due: prettier --write

feat(icon): Add new icons redo, undo, eraser, link-simple and grid-2-plus
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/redo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/undo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eraser-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/grid-2-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/link-simple-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feat(tokens): Updated radio buttons tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Updated radio vars and styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.70.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): Add new icons redo, undo, eraser, link-simple and grid-2-plus (#555)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/redo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/undo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eraser-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/grid-2-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/link-simple-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

fix(month-picker): Fixed tabbing issues
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

style(copy-to-clipboard): remove min-width
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Due: none

chore(release): 4.71.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): form-field
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/utils/dom/focus-input-element.ts
Due: prettier --write, eslint --fix

feat(icon): add redo, undo, eraser, grid-2-plus and link-simple icons to v3
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/redo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/undo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eraser-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/grid-2-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/link-simple-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add redo, undo, eraser, grid-2-plus and link-simple icons to v3 (#556)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/redo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/undo-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/eraser-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/grid-2-plus-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/link-simple-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
