Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(gux-time-zone-picker-beta): add a time zone picker component
  package-lock.json
  package.json
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
  packages/genesys-spark-components/scripts/wrap-stencil.js
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/generic-zones.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-visualizations/src/components/beta/gux-chart-donut/example.html
  packages/genesys-spark-visualizations/src/components/beta/gux-chart-donut/gux-chart-donut.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(defaults for time zone picker): allows consumers to set a list of defaults for time zone picker
  package-lock.json
  package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
  packages/genesys-spark-components/scripts/wrap-stencil.js
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.less
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-divider/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.e2e.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-visualizations/src/components/beta/gux-chart-donut/example.html
  packages/genesys-spark-visualizations/src/components/beta/gux-chart-donut/gux-chart-donut.tsx
Due: stylelint --fix, prettier --write, eslint --fix

refactor(gux-phone-input): emit region instead of bubbled event on region change
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.19
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(form field radio reskin): implemented form field radio button reskin for v4
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.light.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-form-field-radio reskin): fixed error and help functional components
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
Due: none

docs(gux-advanced-dropdown): v4 migration guide for gux-advanced-dropdown
  packages/genesys-spark-components/documentation/migrations/v4/gux-advanced-dropdown-legacy.md
Due: none

chore(release): 4.0.0-beta.20
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(pop-up): fix floating ui implementation
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/__snapshots__/gux-popup.spec.ts.snap
  packages/genesys-spark-components/src/utils/dom/has-parent-element.ts
Due: prettier --write, eslint --fix

feat(icon): requested icons for sprint gds23-4
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/person-running.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-plus-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/comment-dots-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/function-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/square-dashed-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

refactor(radial-loading): changed spinner colors
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.scss
  packages/genesys-spark-components/src/style/_functions.scss
Due: none

feat(dropdown): v4 updates
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.less
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

refactor(tokens): add links tokens
  packages/genesys-spark-components/src/style/typography.scss
Due: none

feat(form field range v4 upgrade): upgraded form field range component to v4
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-form-field-range reskin): fixed up functional component styles
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
Due: none

chore(release): 4.0.0-beta.21
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.103.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tokens): updating tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-layoutContainer.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-layoutContainer.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-layoutContainer.scss
Due: stylelint --fix, prettier --write

chore(dropdown): updating readme
  packages/genesys-spark-components/src/components/stable/gux-dropdown/readme.md
Due: none

refactor(radial-loading): updated design
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.tsx
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.service.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.tsx
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/__snapshots__/gux-radial-loading.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.tsx
Due: prettier --write, eslint --fix

feat(icon): new icons from GDS23-5
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/co-browse.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/google.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/microsoft.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wand-magic-sparkles-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/windows.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(style): remaining colors
  packages/genesys-spark-components/documentation/migrations/v4/color-palette.md
  packages/genesys-spark-components/src/components/beta/gux-badge/gux-badge.less
  packages/genesys-spark-components/src/components/beta/gux-context-menu/gux-context-menu.less
  packages/genesys-spark-components/src/components/beta/gux-dropdown-multi/gux-dropdown-multi.less
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/gux-flyout-menu.less
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.less
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/gux-menu/gux-menu.less
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.less
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.less
  packages/genesys-spark-components/src/components/beta/gux-tag/gux-tag.less
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-advanced-dropdown/dropdown-option/gux-dropdown-option.less
  packages/genesys-spark-components/src/components/stable/gux-advanced-dropdown/gux-advanced-dropdown.less
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.less
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.less
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-legend-label/gux-form-field-legend-label.less
  packages/genesys-spark-components/src/components/stable/gux-switch/gux-switch-item/gux-switch-item.less
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.less
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.less
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.less
  packages/genesys-spark-components/src/style/color.less
  packages/genesys-spark-components/src/style/color.scss
  packages/genesys-spark-components/src/style/css-custom-properties.less
  packages/genesys-spark-components/src/style/shared/text-input.less
  packages/genesys-spark-visualizations/src/components/beta/gux-chart-column/gux-chart-column.less
  packages/genesys-spark-visualizations/src/components/beta/gux-visualization/gux-visualization.less
Due: stylelint --fix, prettier --write

chore(readme): update markdown files
  packages/genesys-spark-components/documentation/migrations/v4/color-palette.md
  packages/genesys-spark-components/documentation/migrations/v4/shadows.md
  packages/genesys-spark-components/documentation/migrations/v4/spacing.md
Due: none

chore(release): 4.0.0-beta.22
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(pagination-beta): token adoption
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-buttons-beta.less
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-buttons-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-buttons-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.less
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.scss
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-item-counts-beta/gux-pagination-item-counts-beta.less
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-item-counts-beta/gux-pagination-item-counts-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-item-counts-beta/gux-pagination-item-counts-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/gux-pagination-items-per-page-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/gux-pagination-items-per-page-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/tests/__snapshots__/gux-pagination-items-per-page-beta.spec.ts.snap
  packages/genesys-spark-tokens/data/tokens.json
Due: stylelint --fix, prettier --write, eslint --fix

refactor(table-toolbar): token adoption
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.less
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-tokens/data/tokens.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(tokens): updated tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(style): address PR comments
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.scss
Due: none

refactor(table-toolbar): update migration guide
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

docs(gux-phone-input): document new properties, events, and methods
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.0.0-beta.23
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(timezones): added missing timezones
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/i18n/time-zone/identifiers.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.spec.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.ts
Due: prettier --write, eslint --fix

fix(tokens): updated snapshots
  packages/genesys-spark-tokens/snapshot/css/gse-ui-layoutContainer.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-layoutContainer.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-layoutContainer.scss
Due: stylelint --fix, prettier --write

refactor(badge): badge component is now v4 ready
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/scripts/update-en-i18n.js
  packages/genesys-spark-components/src/components/beta/gux-badge/example.html
  packages/genesys-spark-components/src/components/beta/gux-badge/gux-badge.less
  packages/genesys-spark-components/src/components/beta/gux-badge/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-badge/readme.md
  packages/genesys-spark-components/src/components/beta/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-badge/tests/gux-badge.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-badge/tests/gux-badge.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-tag/example.html
  packages/genesys-spark-components/src/components/stable/gux-badge/example.html
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.tsx
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.types.ts
  packages/genesys-spark-components/src/components/stable/gux-badge/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-badge/readme.md
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/gux-badge.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/gux-badge.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix
