Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.154.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): fix pipeline
  devops/assets/pipeline.d/deploy.yml
  devops/examples/pipeline.d/service.yml
Due: none

style(rating): typography inclusion, md & lg gap inclusion, label color inclusion
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

feat(form-field): addition of character count feature
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
Due: stylelint --fix, prettier --write, eslint --fix

test(form-field): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.spec.ts.snap
Due: none

test(form-field): update snapshots
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/tests/__snapshots__/gux-pagination-buttons.spec.ts.snap
Due: none

fix(accordion-section): matched border to Figma design
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts-snapshots/gux-accordion-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts-snapshots/gux-accordion-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-1-darwin.png
Due: prettier --write, eslint --fix

test(form-beta): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.e2e.playwright.ts-snapshots/gux-form-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.e2e.playwright.ts-snapshots/gux-form-should-render-as-expected-2-darwin.png
Due: prettier --write, eslint --fix

fix(accordion): fixed duplicate headers in Voiceover
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.tsx
Due: prettier --write, eslint --fix

test(selector-card-beta): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.common.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.playwright.ts-snapshots/gux-selector-card-Should-render-as-expected-for-descriptive-variant-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.playwright.ts-snapshots/gux-selector-card-Should-render-as-expected-for-descriptive-variant-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.playwright.ts-snapshots/gux-selector-card-Should-render-as-expected-for-simple-variant-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.e2e.playwright.ts-snapshots/gux-selector-card-Should-render-as-expected-for-simple-variant-2-darwin.png
Due: prettier --write, eslint --fix

feat(tokens): Updated style references
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Sorted id references
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(copy-to-clipboard): add keydown event listeners
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
Due: prettier --write, eslint --fix

chore(other): update deploy
  .nvmrc
  Jenkinsfile
  devops/assets/pipeline.d/deploy.yml
  package-lock.json
  package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.e2e.playwright.ts-snapshots/gux-form-should-render-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/tests/gux-form.e2e.playwright.ts-snapshots/gux-form-should-render-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/Jenkinsfile
Due: prettier --write, eslint --fix

chore(release): 4.154.7
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update lint dependencies
  docs/CONTRIBUTING.md
  docs/migration-guides/v2/icon-updates-and-consolidation.md
  docs/migration-guides/v3/gux-accordion-legacy.md
  docs/migration-guides/v3/gux-tabs-legacy.md
  docs/migration-guides/v3/readme.md
  docs/migration-guides/v4/gux-accordion-legacy.md
  docs/migration-guides/v4/gux-dropdown-legacy.md
  docs/migration-guides/v4/gux-tabs-legacy.md
  docs/migration-guides/v4/readme.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/documentation/A11Y_TESTING.md
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  packages/genesys-spark/snapshot/css/reset.css
  packages/genesys-spark/snapshot/reset.css
  packages/genesys-spark/snapshot/scss/reset.scss
  packages/genesys-spark/src/style/reset.scss
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: stylelint --fix, prettier --write

fix(copy-to-clipboard): add keydown event listeners
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: prettier --write, eslint --fix

feat: add genesys-spark-utils package
  package-lock.json
  packages/genesys-spark-utils/.gitignore
  packages/genesys-spark-utils/.lintstagedrc.json
  packages/genesys-spark-utils/.prettierignore
  packages/genesys-spark-utils/LICENSE
  packages/genesys-spark-utils/README.md
  packages/genesys-spark-utils/eslint.config.mjs
  packages/genesys-spark-utils/jest.config.js
  packages/genesys-spark-utils/package.json
  packages/genesys-spark-utils/rollup.config.js
  packages/genesys-spark-utils/scripts/clean.sh
  packages/genesys-spark-utils/tsconfig.json
Due: prettier --write

feat(tokens): Sync existing UI tokens to new shadow tokens
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): Added deprecation descriptions to tokens
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(tokens): Added deprecation notices to shadow colors
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(tokens): Added new shadow tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): Generated figma variables
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.155.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(copy-to-clipboard): attach onKeyDown to the button element
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
Due: prettier --write, eslint --fix

feat(side panel): animate modal in fron side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
Due: none

feat(side panel): animate modal in fron side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
Due: none

feat(side panel): animate modal in fron side
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.tsx
Due: prettier --write, eslint --fix

chore(release): 4.155.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

(style)toast: update to fixed width for title and message of toast
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

refactor(copy-to-clipboard): remove div for nvda
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: prettier --write, eslint --fix

style(menu_option): applying fixed height to menu option (32px)
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

refactor(copy-to-clipboard): add aria-label
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
Due: prettier --write, eslint --fix

test(copy-to-clipboard): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: none

chore(other): updated pipeline for non release builds
  Jenkinsfile
  devops/assets.release/pipeline.d/deploy.yml
  devops/assets.release/pipeline.d/service.yml
  package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
