Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(link): updating tokens
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

fix(other): check-a11y
  packages/genesys-spark-components/scripts/check-a11y.mjs
Due: none

feat(form-field-file-beta): added new component
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/__snapshots__/gux-form-field-file.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/gux-form-field-file.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/gux-form-field-file.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(pagination-cursor): All accessibility checks pass now
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/a11yManualChecklist.md
Due: none

docs(visualization): add bar chart target line example
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.105.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(action-button): update accessibility checklist
  packages/genesys-spark-components/src/components/stable/gux-action-button/a11yManualChecklist.md
Due: none

chore(action-button): update accessibility checklist (#764)
  packages/genesys-spark-components/src/components/stable/gux-action-button/a11yManualChecklist.md
Due: none

chore(button-multi): check manual a11y
  packages/genesys-spark-components/src/components/stable/gux-button-multi/a11yManualChecklist.md
Due: none

chore(pagination): manual a11y check
  packages/genesys-spark-components/src/components/stable/gux-pagination/a11yManualChecklist.md
Due: none

refactor(button-multi): add link for ticket
  packages/genesys-spark-components/src/components/stable/gux-button-multi/a11yManualChecklist.md
Due: none

creating vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(copy-to-clipboard): updated accessibility log
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/i18n/en.json
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

generated Figma vars from tokens
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

inline link token fix
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

chore(pagination-cursor): update script
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/a11yManualChecklist.md
Due: none

chore(release): 4.105.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

reverting padding change
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

chore(link): updating tokens
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

fix(toggle): remove unused hex values
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
Due: none

fix(calendar): style changes in preparation for dark mode
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark/src/style/_focus.scss
Due: prettier --write, eslint --fix

feat(rating): can now increment the value using left and right arrows
  packages/genesys-spark-components/src/components/stable/gux-rating/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
Due: prettier --write, eslint --fix

feat: override CDN URL via assetsUrl option to registerSparkComponents
  packages/genesys-spark-components/stencil.config.ts
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

focus border radius token
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

chore(link): updating tracking and example based on review
  packages/genesys-spark-components/src/components/beta/gux-link/example.html
  packages/genesys-spark-components/src/components/beta/gux-link/gux-link.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(link): updating border radius token
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-link/gux-link.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

feat: override CDN URL via assetsUrl option to registerSparkChartComponents
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

chore(release): 4.105.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(badge): accessibility testing of badge
  packages/genesys-spark-components/src/components/stable/gux-badge/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.tsx
  packages/genesys-spark-components/src/components/stable/gux-badge/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

chore(rating): adding ticket number to resolve accessibility issues
  packages/genesys-spark-components/src/components/stable/gux-rating/a11yManualChecklist.md
Due: none

chore(other): update vega dependencies
  package-lock.json
  packages/genesys-spark-chart-components/package.json
Due: prettier --write

chore(link): adding missing icon
  packages/genesys-spark-components/src/components/stable/gux-toast/example.html
Due: stylelint --fix, prettier --write

chore(button): updating a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-button/a11yManualChecklist.md
Due: none

chore(skip-navigation-list): created accessibility document
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/gux-skip-navigation-item/gux-skip-navigation-item.scss
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/tests/__snapshots__/gux-skip-navigation-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/tests/gux-skip-navigation-list.e2e.ts
Due: prettier --write, eslint --fix

chore(other): update token reports
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

feat(rich-text-editor): addition of rich style feature
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich.style.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/gux-rich-style-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/gux-rich-style-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-list.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(badge): accessibility testing of badge (#773)
  packages/genesys-spark-components/src/components/stable/gux-badge/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.tsx
  packages/genesys-spark-components/src/components/stable/gux-badge/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

chore(link): removing reference to undefined token --gse-ui-links-borderRadius
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
  packages/genesys-spark/src/style/_typography.scss
Due: prettier --write

chore(breadcrumbs): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/a11yManualChecklist.md
Due: none

chore(other): update sortablejs to latest
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write
