Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(other): updated some dependencies to latest
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(npm-publish): adding missing parenthesis
  Jenkinsfile
Due: none

feat(other): now using themeable tokens
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

chore(npm-publish): trying to fix issue getting size of array
  Jenkinsfile
Due: none

fix(popover): fix duplicate guxdismiss event when simultaneously clicking outside and focusout
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/utils/decorator/throttle-method.ts
Due: prettier --write, eslint --fix

chore(release): 3.131.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(gux-visualization): fix memory leak in gux-visualization
  packages/genesys-spark-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: prettier --write, eslint --fix

refactor(rich-text-editor): fix divider gaps
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.tsx
Due: prettier --write, eslint --fix

refactor(rich-text-editor): update width of rte
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
Due: none

refactor(rich-text-editor): join import statements
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
Due: prettier --write, eslint --fix

refactor(rich-text-editor): move tiptap styles to light scss file
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
  packages/genesys-spark-components/src/style/_light-dom.scss
Due: stylelint --fix, prettier --write

chore(popover-beta): Using floating-ui hide
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
Due: prettier --write, eslint --fix

fix(popover): fix duplicate guxdismiss event when simultaneously clicking outside and focusout (#634)
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/utils/decorator/throttle-method.ts
Due: prettier --write, eslint --fix

chore(release): 3.131.4
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(visualization): add height to chart container
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.scss
Due: none

new tokens for monospace font family (code block)
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

chore(other): update some dependencies to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

chore(release): 4.89.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(other): rich-text-editor
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

chore(avatar-group): update implementation
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-groups.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix for border.container.emphasis.default token
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

divider color fix
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

refactor(other): rich-text-editor
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

chore(popover-beta): Fixed tests
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

feat(other): remove old token build infrastructure
  packages/genesys-spark-tokens/.gitignore
  packages/genesys-spark-tokens/.prettierignore
  packages/genesys-spark-tokens/build/index.mjs
  packages/genesys-spark-tokens/data-old/tokens.json
  packages/genesys-spark-tokens/eslint.config.mjs
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
  packages/genesys-spark-tokens/test/index.mjs
  packages/genesys-spark-tokens/utils/get-all-token-studio-files.mjs
  packages/genesys-spark-tokens/utils/get-token-studio-tokens.mjs
  packages/genesys-spark-tokens/utils/index.mjs
  packages/genesys-spark-tokens/utils/output-styles.mjs
  packages/genesys-spark-tokens/utils/process-token-file.mjs
  packages/genesys-spark-tokens/utils/transform-to-style-dictionary-readable-tokens.mjs
Due: prettier --write

feat(time-picker): Added min and max props
  packages/genesys-spark-components/src/components/stable/gux-time-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

refactor(other): updated genesys-spark scss files with updated dist folder references
  packages/genesys-spark/src/style/_focus.scss
  packages/genesys-spark/src/style/_mixins.scss
  packages/genesys-spark/src/style/_typography.scss
  packages/genesys-spark/src/style/flare/global.scss
  packages/genesys-spark/src/style/flare/ui.scss
  packages/genesys-spark/src/style/global.scss
  packages/genesys-spark/src/style/legacy/global.scss
  packages/genesys-spark/src/style/legacy/ui.scss
  packages/genesys-spark/src/style/ui.scss
Due: none

refactor(other): make flare theme the default
  packages/genesys-spark-components/src/style/flare.scss
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

test(modal): updated snapshots
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
Due: none

chore(other): removed duplicate flare theme file creation
  packages/genesys-spark-components/scripts/build-themes.js
Due: prettier --write

fix(context-menu): improve performance of popup subcomponent
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

chore(release): 4.90.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix for quote block border token reference issue
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

same strucutre for mono in light and dark
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

refactor(other): rich-text-editor
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-core.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-core.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

active state enhancements for drop zone
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(other): setting examples to legacy theme
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

chore(context-menu): address pr comments
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
