Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(release): 3.67.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(table-toolbar): addition of disabled prop
  src/components/beta/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.tsx
  src/components/beta/gux-table-toolbar/gux-table-toolbar-action/readme.md
  src/components/beta/gux-table-toolbar/gux-table-toolbar-action/tests/__snapshots__/gux-table-toolbar-action.e2e.ts.snap
  src/components/beta/gux-table-toolbar/gux-table-toolbar-action/tests/__snapshots__/gux-table-toolbar-action.spec.ts.snap
  src/components/beta/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.ts
  src/components/beta/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.spec.ts
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/readme.md
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.e2e.ts.snap
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.spec.ts.snap
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.ts
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.spec.ts
Due: prettier --write, eslint --fix

fix(alert): removed component max-width
  src/components/beta/gux-alert/example.html
  src/components/beta/gux-alert/gux-inline-alert.less
Due: stylelint --fix, prettier --write

fix(simple-toast): fixed dismiss button alignment
  src/components/stable/gux-dismiss-button/gux-dismiss-button.less
  src/components/stable/gux-simple-toast/gux-simple-toast.less
  src/components/stable/gux-simple-toast/gux-simple-toast.tsx
  src/components/stable/gux-simple-toast/tests/__snapshots__/gux-simple-toast.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

fix(inline-alert): apply border for cleaner contrast against bg
  src/components/beta/gux-alert/gux-inline-alert.less
Due: stylelint --fix, prettier --write

feat(badge): allow custom colors
  src/components/beta/gux-badge/example.html
  src/components/beta/gux-badge/gux-badge.less
  src/components/beta/gux-badge/gux-badge.types.ts
  src/components/beta/gux-badge/i18n/en.json
  src/components/beta/gux-badge/readme.md
  src/components/beta/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  src/components/beta/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  src/components/beta/gux-badge/tests/gux-badge.e2e.ts
  src/components/beta/gux-badge/tests/gux-badge.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

test(badge): updating snapshots
  src/components/beta/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  src/i18n/translations/en.json
Due: prettier --write

feat(badge): allow colors to be inherited from the host
  src/components/beta/gux-badge/example.html
  src/components/beta/gux-badge/gux-badge.less
  src/components/beta/gux-badge/gux-badge.types.ts
  src/components/beta/gux-badge/i18n/en.json
  src/components/beta/gux-badge/readme.md
  src/components/beta/gux-badge/tests/__snapshots__/gux-badge.e2e.ts.snap
  src/components/beta/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
  src/components/beta/gux-badge/tests/gux-badge.e2e.ts
  src/components/beta/gux-badge/tests/gux-badge.spec.ts
  src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(popover): remove styling of slotted components
  src/components/beta/gux-popover-beta/gux-popover-beta.less
  src/components/stable/gux-popover/gux-popover.less
Due: stylelint --fix, prettier --write

chore(release): 3.68.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(badge): allow colors to be inherited from the host
  src/components/beta/gux-badge/example.html
  src/components/beta/gux-badge/gux-badge.less
  src/components/beta/gux-badge/i18n/en.json
  src/components/beta/gux-badge/tests/__snapshots__/gux-badge.spec.ts.snap
Due: stylelint --fix, prettier --write

fix(dropdown-multi): prevent text from overlapping
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.less
Due: stylelint --fix, prettier --write

feat(form-field-text-like): allow slotted number input
  src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.light.less
  src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  src/components/stable/gux-form-field/gux-form-field.light.less
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.69.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(icon): better intellisense for iconName
  src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

fix(time-picker): changes to timepicker input functionality
  src/components/beta/gux-time-picker/gux-time-picker.service.tsx
  src/components/beta/gux-time-picker/gux-time-picker.tsx
  src/components/beta/gux-time-picker/tests/gux-time-picker.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 3.69.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: address review feedback, update styles from figma
  src/components/stable/gux-dropdown/example.html
  src/components/stable/gux-dropdown/gux-dropdown.less
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  src/components/stable/gux-listbox/options/gux-option-icon/readme.md
  src/components/stable/gux-listbox/options/option-defaults.less
Due: stylelint --fix, prettier --write, eslint --fix

chore: update test snapshots, incorporate PR feedback
  src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/tests/__snapshots__/gux-pagination-items-per-page-beta.spec.ts.snap
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-dropdown/gux-dropdown.types.ts
  src/components/stable/gux-listbox/gux-option/gux-option.tsx
  src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  src/components/stable/gux-pagination/tests/__snapshots__/gux-pagination.spec.ts.snap
Due: prettier --write, eslint --fix

feat(gux-dropdown): add gux-option-icon component for dropdown options with icons
  src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/readme.md
  src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/tests/gux-pagination-items-per-page-beta.spec.ts
  src/components/beta/gux-pagination-beta/tests/gux-pagination-beta.spec.ts
  src/components/beta/gux-phone-input/readme.md
  src/components/stable/gux-dropdown/example.html
  src/components/stable/gux-dropdown/gux-dropdown.less
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-dropdown/gux-dropdown.types.ts
  src/components/stable/gux-dropdown/tests/gux-dropdown.spec.ts
  src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/gux-form-field-dropdown.spec.ts
  src/components/stable/gux-icon/readme.md
  src/components/stable/gux-listbox/gux-listbox.service.ts
  src/components/stable/gux-listbox/gux-listbox.tsx
  src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.less
  src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  src/components/stable/gux-listbox/options/gux-option-icon/readme.md
  src/components/stable/gux-listbox/options/gux-option/gux-option.less
  src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  src/components/stable/gux-listbox/options/gux-option/readme.md
  src/components/stable/gux-listbox/options/option-defaults.less
  src/components/stable/gux-listbox/options/option-types.ts
  src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
  src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/gux-pagination-items-per-page.spec.ts
  src/components/stable/gux-pagination/tests/gux-pagination.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-listbox): update listbox to generalize to multiple option element types
  src/components/stable/gux-listbox/gux-listbox.service.ts
  src/components/stable/gux-listbox/gux-listbox.tsx
  src/components/stable/gux-listbox/readme.md
Due: prettier --write, eslint --fix

chore: remove console.log debugging helper
  src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore: more robust option lookup and matching for the listbox
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-listbox/gux-listbox.service.ts
  src/components/stable/gux-listbox/gux-listbox.tsx
  src/components/stable/gux-listbox/options/option-types.ts
Due: prettier --write, eslint --fix

refactor(dropdown): create a pattern for supporting multiple dropdown option types
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-dropdown/gux-dropdown.types.ts
  src/components/stable/gux-dropdown/readme.md
  src/components/stable/gux-listbox/gux-option/gux-option.tsx
Due: prettier --write, eslint --fix

test(dropdown): add tests for dropdown with gux-option-icon
  src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
  src/components/stable/gux-dropdown/tests/gux-dropdown.spec.ts
  src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.less
  src/components/stable/gux-listbox/options/option-defaults.less
Due: stylelint --fix, prettier --write, eslint --fix

refactor(dropdown tests): refactor test cases to be easier to read, have less duplicate code
  src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
Due: prettier --write, eslint --fix

feat(tooltip): allow tooltip max-width to be overriden
  src/components/stable/gux-tooltip/gux-tooltip.less
Due: stylelint --fix, prettier --write

chore(release): 3.70.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown): fix filterable dropdown where text is invisible
  src/components/stable/gux-dropdown/gux-dropdown.less
Due: stylelint --fix, prettier --write

chore(release): 3.70.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(jenkins): fixed release version change logic
  Jenkinsfile
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/.prettierignore
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(npm): fixed .npmrc env variable injection
  .npmrc
Due: none

chore(release): 3.70.2
  .npmSetupCompleted
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(phone-input): fixing country phone code for HU - Hungary
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/RegionCountryCodeMap.ts
Due: prettier --write, eslint --fix

fix(jenkins): fixed CDN_URL env variable injection into examples app
  .npmSetupCompleted
  Jenkinsfile
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/Jenkinsfile
  web-apps/genesys-spark-examples/webpack.config.js
Due: prettier --write

fix(jenkins): using main pipeline-library branch again
  Jenkinsfile
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

chore(release): 3.70.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
