Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

perf(blank-state-beta): update scss tokens
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.scss
Due: none

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

test(tooltip-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.common.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.playwright.ts-snapshots/gux-tooltip-beta-should-link-to-for-element-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.playwright.ts-snapshots/gux-tooltip-beta-should-link-to-for-element-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.playwright.ts-snapshots/gux-tooltip-beta-should-link-to-sibling-element-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.playwright.ts-snapshots/gux-tooltip-beta-should-link-to-sibling-element-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.ts
Due: prettier --write, eslint --fix

style(global_nav): updating default connected top_nav button to success.40
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

style(global_nav): ui name update for menu selected token
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

style(global_nav): creation of matching Figma variables
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(icon): add rectangle-history-regular to v3
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

Added new tokens to the segmented control.
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(icon): add rectangle-history-regular to v3 (#1351)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/rectangle-history-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

test(form-field-phone): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-05c97--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-0fc34-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-52370-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-52e24-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-89528--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-96090-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-b3699-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-com-cc269-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.playwright.ts-snapshots/gux-form-field-phone-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

Segmented control new tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(release): 4.171.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

style(global_nav): updating gloabel nav tokens
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

Added elevation to the active state of segmented control.
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

Deprecated segmented control, border radius tokens.
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(release): 4.171.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(notification-badge): Initial commit
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/example.html
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.scss
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.tsx
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.types.ts
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(notification-badge): Add notification badge component
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/example.html
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.scss
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.tsx
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.types.ts
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

test(other): made renderConfig tests more consistent
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/__snapshots__/gux-form-field-file.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/gux-form-field-file.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/__snapshots__/gux-form-field-phone.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/tests/gux-form-field-phone.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-hightlight.spec.ts
Due: prettier --write, eslint --fix

test(notification-badge): add tests
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/gux-notification-badge.tsx
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/__snapshots__/gux-notification-badge.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.common.ts
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-error-accent-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-error-accent-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-info-on-dark-accent-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-info-on-dark-accent-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-info-on-light-accent-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-info-on-light-accent-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-an-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-an-icon-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-one-digit-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-one-digit-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-three-digits-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-three-digits-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-two-digits-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-large-size-with-two-digits-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-an-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-an-icon-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-one-digit-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-one-digit-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-three-digits-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-three-digits-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-two-digits-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-medium-size-with-two-digits-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-an-icon-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-an-icon-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-one-digit-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-one-digit-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-three-digits-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-three-digits-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-two-digits-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-small-size-with-two-digits-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-success-accent-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-success-accent-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-warning-accent-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.e2e.playwright.ts-snapshots/gux-notification-badge-should-render-as-expected-for-warning-accent-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-notification-badge/tests/gux-notification-badge.spec.ts
Due: prettier --write, eslint --fix

style(table): inclusion of spacing for prebuilt table and box shadow for fixed column
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

style(table): creation of Figma variables and styles
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(tabs): fix vertical tabs style for vue
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.tsx
Due: prettier --write, eslint --fix

chore(side-panel-beta): Added expand/collapse slots in the header
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.types.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
Due: stylelint --fix, prettier --write, eslint --fix

chore(side-panel-beta): expandable label change
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
Due: stylelint --fix, prettier --write

chore(other): run new-tokens-data
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(release): 4.171.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tree-view-beta): working on accessibility
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/gux-tree-view-leaf.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-leaf/gux-tree-view-leaf.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view.tsx
Due: prettier --write, eslint --fix

style(global_nav): inclusion of panel specific box_shadow
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

style(global_nav): deprecation of the new tab color values
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

fix(dropdown): fix shift tab focus trap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(release): 4.171.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(rating): fix i18n import path
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
Due: prettier --write, eslint --fix
