Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(gux-dropdown): typeahead text should not appear when used with custom filtering
  playground/angular-v12/src/app/app.component.html
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(pr-comment): addressed PR comment
  src/components/stable/gux-calendar/gux-calendar.service.ts
  src/components/stable/gux-calendar/gux-calendar.tsx
  src/components/stable/gux-calendar/tests/gux-calendar.methods.spec.ts
  src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
Due: prettier --write, eslint --fix

chore(release): 3.41.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(gux-icon): remove person-running icon
  docs/src/utils/generateIcons.js
  src/components/stable/gux-icon/icons/person-running.svg
Due: prettier --write, svgo -i

feat(gux-icon): move cjv-calendar-clock to cjv group and add back toolbar-favorite icon
  docs/src/utils/generateIcons.js
  src/components/stable/gux-icon/icons/toolbar-favorite.svg
Due: prettier --write, svgo -i

fix(calendar): improved startDayOfWeek type
  src/components/stable/gux-calendar/gux-calendar.tsx
  src/components/stable/gux-calendar/gux-calendar.types.ts
  src/components/stable/gux-datepicker/gux-datepicker.tsx
  src/i18n/index.ts
Due: prettier --write, eslint --fix

chore(release): 3.42.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(truncate): enabled shadow dom
  src/components/beta/gux-truncate/gux-truncate.less
  src/components/beta/gux-truncate/gux-truncate.tsx
  src/components/beta/gux-truncate/tests/__snapshots__/gux-truncate.e2e.ts.snap
  src/components/beta/gux-truncate/tests/__snapshots__/gux-truncate.spec.ts.snap
  src/i18n/translations/ar.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.43.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(dropdown): enter on a fully filtered list does not select an item
  src/components/stable/gux-calendar/readme.md
  src/components/stable/gux-datepicker/readme.md
  src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

fix(tabs): putting tabs within a tab-panel breaks the UI styling
  src/components/stable/gux-tabs/example.html
  src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.less
  src/components/stable/gux-tabs/gux-tab/gux-tab.less
Due: stylelint --fix, prettier --write

chore(release): 3.43.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci(ux-review): updating ux reviewer list
  .github/workflows/ux-review.yml
Due: none

fix(toast): fixed toast message overflow
  src/components/beta/gux-truncate/gux-truncate.tsx
  src/components/beta/gux-truncate/readme.md
  src/components/stable/gux-notification-toast/example.html
  src/components/stable/gux-notification-toast/gux-notification-toast.less
  src/components/stable/gux-notification-toast/gux-notification-toast.tsx
  src/components/stable/gux-notification-toast/readme.md
  src/components/stable/gux-notification-toast/tests/__snapshots__/gux-notification-toast.spec.ts.snap
  src/components/stable/gux-simple-toast/example.html
  src/components/stable/gux-simple-toast/gux-simple-toast.less
  src/components/stable/gux-simple-toast/gux-simple-toast.tsx
  src/components/stable/gux-simple-toast/readme.md
  src/components/stable/gux-simple-toast/tests/__snapshots__/gux-simple-toast.spec.ts.snap
  src/utils/dom/get-text-content-from-nodes.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(gux-icon): adjust icons
  src/components/stable/gux-icon/icons/cjv-form-abandoned.svg
  src/components/stable/gux-icon/icons/grab-horizontal.svg
  src/components/stable/gux-icon/icons/grab-vertical.svg
  src/components/stable/gux-icon/icons/graph-pie.svg
  src/components/stable/gux-icon/icons/menu-kebab-horizontal.svg
  src/components/stable/gux-icon/icons/menu-kebab-vertical.svg
  src/components/stable/gux-icon/icons/message-email-outbound.svg
  src/components/stable/gux-icon/icons/phone-success.svg
  src/components/stable/gux-icon/icons/roster-message-disable.svg
  src/components/stable/gux-icon/icons/shield-lock.svg
  src/components/stable/gux-icon/icons/shield-outline.svg
  src/components/stable/gux-icon/icons/shield-solid.svg
  src/components/stable/gux-icon/icons/toolbar-phone-disable.svg
Due: svgo -i

feat(css): allow margin overrides on .gux-form-field-fieldset-container
  src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.less
Due: stylelint --fix, prettier --write

fix(time-picker): add focus ring
  src/components/beta/gux-time-picker/gux-time-picker.less
Due: stylelint --fix, prettier --write

chore(release): 3.43.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(gux-dropdown): use filterType instead of customFilter prop
  playground/angular-v12/src/app/app.component.html
  src/components/beta/gux-dropdown-multi/example.html
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  src/components/beta/gux-dropdown-multi/readme.md
  src/components/beta/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  src/components/stable/gux-dropdown/example.html
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-dropdown/readme.md
  src/components/stable/gux-form-field/components/gux-form-field-dropdown/example.html
  src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  src/components/stable/gux-listbox-multi/readme.md
  src/components/stable/gux-listbox/gux-listbox.tsx
  src/components/stable/gux-listbox/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-dropdown): add tests for filterable dropdowns
  src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
Due: prettier --write, eslint --fix

chore(release): 3.43.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(time-picker): focus closes time option when dropdown expands
  src/components/beta/gux-time-picker/gux-time-picker.tsx
  src/components/beta/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  src/components/stable/gux-calendar/readme.md
  src/components/stable/gux-datepicker/readme.md
  src/components/stable/gux-list/gux-list-item/gux-list-item.tsx
  src/components/stable/gux-list/gux-list.service.tsx
  src/components/stable/gux-list/gux-list.tsx
  src/components/stable/gux-list/readme.md
Due: prettier --write, eslint --fix

chore(release): 3.43.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(styles): export focus style classes
  src/style/examples/focus-styles.html
  src/style/focus-styles.less
  src/style/style.less
  stencil.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-dropdown): address pr comments
  src/components/beta/gux-dropdown-multi/example.html
  src/components/beta/gux-dropdown-multi/gux-dropdown-multi.tsx
  src/components/beta/gux-dropdown-multi/readme.md
  src/components/beta/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
  src/components/stable/gux-dropdown/example.html
  src/components/stable/gux-dropdown/gux-dropdown.tsx
  src/components/stable/gux-dropdown/gux-dropdown.types.ts
  src/components/stable/gux-dropdown/readme.md
  src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
  src/components/stable/gux-form-field/components/gux-form-field-dropdown/example.html
  src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  src/components/stable/gux-listbox-multi/readme.md
  src/components/stable/gux-listbox/gux-listbox.tsx
  src/components/stable/gux-listbox/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.44.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.45.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(style): address pr comments
  src/style/examples/focus-styles.html
  src/style/examples/focus.html
  src/style/focus-styles.less
  src/style/focus.less
  src/style/mixins.less
  src/style/style.less
  stencil.config.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(tooltip-title): removed cursor styling
  src/components/beta/gux-alert/gux-inline-alert.less
  src/components/beta/gux-badge/gux-badge.less
  src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.less
  src/components/stable/gux-tabs/gux-tab/gux-tab.less
  src/components/stable/gux-tooltip-title/gux-tooltip-title.less
Due: stylelint --fix, prettier --write

chore(release): 3.45.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(dismiss-button): addition of optional positioning
  src/components/stable/gux-dismiss-button/gux-dismiss-button.less
  src/components/stable/gux-dismiss-button/gux-dismiss-button.tsx
  src/components/stable/gux-dismiss-button/gux-dismiss-button.types.ts
  src/components/stable/gux-dismiss-button/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(phone-input): adding focus rings and key press events
  src/components/beta/gux-phone-input/gux-phone-input.less
  src/components/beta/gux-phone-input/gux-phone-input.tsx
  src/components/stable/gux-calendar/readme.md
  src/components/stable/gux-datepicker/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

fix(tooltip-title): fixed angular update bug
  src/components/beta/gux-truncate/gux-truncate.tsx
  src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

chore(phone-input): switching prop to state since it is unused outside and is mutated in the component
  src/components/beta/gux-phone-input/gux-phone-input.tsx
  src/components/beta/gux-phone-input/readme.md
Due: prettier --write, eslint --fix

chore(release): 3.46.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.46.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 3.46.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(gux-toggle): show cursor pointer when hovering toggle component
  src/components/stable/gux-toggle/gux-toggle.less
Due: stylelint --fix, prettier --write

fix(table-toolbar): ux updates to table-toolbar
  src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
Due: prettier --write, eslint --fix

chore(styles): address pr comment
  src/style/focus.less
Due: stylelint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
