Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(dropdown-multi-tag): adding missing tag disable token
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
Due: none

chore(dependencies): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/gux-pagination-buttons-legacy.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.ts
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

chore(floating-ui): update floating UI dependency
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/region-map.service.ts
  packages/genesys-spark-components/src/components/stable/gux-blank-state/tests/gux-blank-state.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/tests/gux-icon.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/gux-pagination-items-per-page.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.spec.ts
  packages/genesys-spark-components/src/test/specTestUtils.ts
Due: prettier --write, eslint --fix

feat(tag): removed value property
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/example.html
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/gux-tag.spec.ts
  web-apps/genesys-spark-examples/src/styles/component-listing.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-modal): update tests and readme
  packages/genesys-spark-components/documentation/migrations/v4/gux-modal-legacy.md
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.43
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

ci(jenkins): fail the build if we find uncommited changes after generating release updates
  Jenkinsfile
Due: none

feat(form-field-time-zone-picker): addition of form-field-time-zone-picker
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/gux-form-field-time-zone-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/gux-form-field-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/utils/dom/on-attribute-change.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): testing figma github sync
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(migration-guide): sync migration guide for pagination
  docs/migration-guides/v4/gux-pagination-legacy.md
Due: none

chore(dropdown-multi,dropdown): fixing random pixel on each corner of popup listbox
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
Due: prettier --write, eslint --fix

feat(tokens) removing test token
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.0.0-beta.44
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(dropdown-multi,dropdown): fixing e2e tests
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

refactor(accordion): address ux review comments
  packages/genesys-spark-components/src/components/stable/gux-accordion/example.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
Due: stylelint --fix, prettier --write

chore(gux-modal): address pr comments
  docs/migration-guides/v4/gux-modal-legacy.md
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
  packages/genesys-spark-components/src/components/stable/gux-modal/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-tabs): use-flexbox prop removed, use by default
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/example.html
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.0.0-beta.45
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.46
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

ci(jenkinsfile): fix uncommitted changes check
  Jenkinsfile
Due: none

fix(gux-content-search): design fixes
  packages/genesys-spark-components/src/components/stable/gux-column-manager/readme.md
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.light.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/style/style.scss
Due: prettier --write, eslint --fix

chore(gux-icon): example page fixes
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
Due: stylelint --fix, prettier --write

fix(gux-listbox-multi): filtering options trims white space
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(axe-core): upgrade axe-core and make tickets for new violations
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popup/tests/gux-popup.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.ts
Due: prettier --write, eslint --fix

refactor(form-field-checkbox): addition of screen-reader label position
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
Due: prettier --write, eslint --fix

fix(form-field-radio): added aria-disabled for WCAG 2 AA compliance
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
Due: prettier --write, eslint --fix

refactor(table): update focus ring for gux-table-select-menu
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.scss
Due: none

refactor(pagination): sync migration guide
  docs/migration-guides/v4/gux-pagination-legacy.md
Due: none

fix(context-menu): fix issue where text not wrapping in table
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
Due: none

fix(form-field-radio): added aria-disabled for WCAG 2 AA compliance
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.spec.ts
Due: prettier --write, eslint --fix

fix(context-menu): fix issue where text not wrapping in table
  packages/genesys-spark-components/src/components/beta/gux-context-menu/gux-context-menu.less
Due: stylelint --fix, prettier --write

fix(list): fixed child element accessibility issue
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
Due: prettier --write, eslint --fix

fix(list): fixed child element accessibility issue
  packages/genesys-spark-components/src/components/beta/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.47
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(genesys-spark): add font stylesheets as well as component styles
  packages/genesys-spark/README.md
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  web-apps/genesys-spark-examples/src/index.html
  web-apps/genesys-spark-examples/src/viewer-template.html
Due: stylelint --fix, prettier --write, eslint --fix

refactor(font loading, dev mode): improve font loading behavior and development task runner
  package-lock.json
  package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark/rollup.config.js
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/src/loading.ts
  web-apps/genesys-spark-examples/src/index.html
  web-apps/genesys-spark-examples/src/viewer-template.html
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): new tokens global_nav jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens month_picker jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(form-field-dropdown): fixing dropdown in form field not truncating
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
Due: stylelint --fix, prettier --write

feat(tokens): new tokens border jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
