Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat: cleanup [PLTRES-1635]
  packages/genesys-spark-mcp-server/scripts/add-version-metadata.mjs
  packages/genesys-spark-mcp-server/scripts/enhance-component-metadata.mjs
  packages/genesys-spark-mcp-server/scripts/enhance-component-metadata.test.ts
  packages/genesys-spark-mcp-server/src/components/json-docs-registry.integration.test.ts
  packages/genesys-spark-mcp-server/src/components/parent-child-relationships.test.ts
  packages/genesys-spark-mcp-server/src/mcp/server.ts
  packages/genesys-spark-mcp-server/src/search/engine.test.ts
Due: prettier --write, eslint --fix

fix(segmented-control-item): Improve NVDA accessibility
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

feat(popover): Add footer slot
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.common.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(row-select): Added new label prop
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(tooltip): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.playwright.ts-snapshots/gux-tooltip-should-render-tooltip-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.playwright.ts-snapshots/gux-tooltip-should-render-tooltip-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/gux-tooltip.e2e.ts
Due: prettier --write, eslint --fix

chore(tooltip-pointer-beta): Added playwright tests
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.common.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.playwright.ts-snapshots/gux-tooltip-pointer-beta-should-render-tooltip-pointer-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.playwright.ts-snapshots/gux-tooltip-pointer-beta-should-render-tooltip-pointer-2-darwin.png
Due: prettier --write, eslint --fix

chore(copy-to-clipboard): Added playwright test
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.common.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.playwright.ts-snapshots/gux-copy-to-clipboard-should-render-default-control-no-props-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.playwright.ts-snapshots/gux-copy-to-clipboard-should-render-default-control-no-props-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
Due: prettier --write, eslint --fix

test(button-multi): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.common.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.ts
Due: prettier --write, eslint --fix

chore(release): 4.160.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(rating): addition of responsive behaviour
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/example.html
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-rating/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

test(context-menu): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.common.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.playwright.ts-snapshots/gux-context-menu-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.playwright.ts-snapshots/gux-context-menu-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.ts
Due: prettier --write, eslint --fix

test(datepicker): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-renders-a-datepicker-for-range-of-dates-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-renders-a-datepicker-for-range-of-dates-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-2-darwin.png
Due: prettier --write, eslint --fix

test(context-menu): add playwright tests (#1281)
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.common.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.playwright.ts-snapshots/gux-context-menu-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.playwright.ts-snapshots/gux-context-menu-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.e2e.ts
Due: prettier --write, eslint --fix

test(text-highlight): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.common.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-highlight-property-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-highlight-property-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-text-property-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-text-property-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-hightlight.spec.ts
Due: prettier --write, eslint --fix

test(text-highlight): add playwright tests (#1282)
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.common.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-highlight-property-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-highlight-property-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-text-property-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-handle-no-text-property-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-contains-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-default-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-fuzzy-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-case-insensitively-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-case-insensitively-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-when-no-match-found-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.playwright.ts-snapshots/gux-text-highlight-should-render-start-strategy-when-no-match-found-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-hightlight.spec.ts
Due: prettier --write, eslint --fix

perf(rating): toggling popover state
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
Due: prettier --write, eslint --fix

test(button-multi): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.common.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-disabled-2-darwin.png
Due: prettier --write, eslint --fix

chore(release): 4.160.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

feat(other): use Gregorian calendar for all locales
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark/snapshot/index.d.ts
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

test(datepicker): add playwright tests (#1283)
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-renders-a-datepicker-for-range-of-dates-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-renders-a-datepicker-for-range-of-dates-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-2-darwin.png
Due: prettier --write, eslint --fix

test(button-multi): add playwright tests (#1280)
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.common.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-invalid-accent-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-primary-accent-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-secondary-accent-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button-multi/tests/gux-button-multi.e2e.playwright.ts-snapshots/gux-button-multi-gux-button-multi-Should-render-as-expected-for-tertiary-accent-disabled-2-darwin.png
Due: prettier --write, eslint --fix

feat(popover): Add footer slot (#1263)
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.common.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(other): Fix for broken links in z-index etc examples
  packages/genesys-spark/scripts/generate-component-data.mjs
Due: none

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(toast): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.common.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-action-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-action-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-error-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-error-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-info-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-info-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-success-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-success-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-warning-toast-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.playwright.ts-snapshots/gux-toast-should-render-warning-toast-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.spec.ts
Due: prettier --write, eslint --fix

refactor(rating): wip updates
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/readme.md
Due: prettier --write, eslint --fix

refactor(rating): remove hover styles in shortened state
  packages/genesys-spark-components/src/components/stable/gux-rating/example.html
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
Due: stylelint --fix, prettier --write, eslint --fix

test(table): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-2-darwin.png
Due: prettier --write, eslint --fix

fix(file-list-item): fixed icon color token
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/components/gux-file-list-item/gux-file-list-item.scss
Due: none

fix(other): Fix for broken links in z-index etc examples (#1284)
  packages/genesys-spark/scripts/generate-component-data.mjs
Due: none

fix(dropdown): allow to filter dropdown on focus
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: prettier --write, eslint --fix

bug/stepper-min-values - jackie
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(prompt-input-beta): Added private methods
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
Due: prettier --write, eslint --fix
