Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(tokens): updated font sizes
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
Due: prettier --write

chore(release): 4.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

docs(genesys-spark-components readme): update links to correct relative paths
  packages/genesys-spark-components/README.md
Due: none

docs(spark-components readme): replace react integration link
  packages/genesys-spark-components/README.md
Due: none

feat(update tokens): update current tokens
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
Due: prettier --write

chore(release): 4.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(calendar): fixed selected date on previouse month css
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.less
Due: stylelint --fix, prettier --write

feat(avatar): adding status badge
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): adding status badge
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
Due: prettier --write, eslint --fix

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

chore(release): 4.1.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

chore: update @types/new-relic-browser dependency
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/utils/tracking/usage.ts
Due: prettier --write, eslint --fix

docs(contributing): add instructions for running locally, fix document links
  docs/CONTRIBUTING.md
  package.json
Due: prettier --write

feat(datepicker): add token for border radius
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

feat(datepicker): update datepicker focus style for calendar
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

feat(datepicker): add token for gap to component scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

feat(button): centre icon in icon only button
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
Due: none

docs(component_evolution): change supported refs to stable
  packages/genesys-spark-components/documentation/COMPONENT_EVOLUTION.md
Due: none

feat(datepicker): give selected style precedence over prev month
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.less
Due: stylelint --fix, prettier --write

chore(translations): translation updates
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
Due: prettier --write

chore(release): 4.2.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(visualization): wired new packages to the example doc
  .prettierignore
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/stencil.config.ts
  packages/genesys-spark-visualizations/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark/README.md
  packages/genesys-spark/rollup.config.js
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/test/hosts.spec.ts
  start.json
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-specs.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
  web-apps/genesys-spark-examples/webpack.config.js
Due: prettier --write, eslint --fix

docs(migration docs): updating migration docs
  docs/migration-guides/v4/color-palette.md
  docs/migration-guides/v4/shadows.md
  docs/migration-guides/v4/spacing.md
Due: none

docs(migration docs): updating migration docs
  docs/migration-guides/v4/spacing.md
Due: none

chore(release): 3.113.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.3.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table-toolbar): table-toolbar may fail to condense if text changes dynamically
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

fix(popover): console errors if target element removed
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

docs(migration docs): updating migration docs
  docs/migration-guides/v4/color-palette.md
  docs/migration-guides/v4/spacing.md
Due: none

docs(migration docs): updating migration docs
  docs/migration-guides/v4/color-palette.md
  docs/migration-guides/v4/shadows.md
Due: none

feat(icon): add 3 fa icons to gux-icon
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/credit-card-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add 3 new fa icons to icon list
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrow-right-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/credit-card-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(release): 3.113.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
