Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(domains): support new domains
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
Due: prettier --write, eslint --fix

refactor(table-header-popover): remove popper js depen
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-popover/gux-table-header-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-popover/gux-table-select-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.ts
Due: prettier --write, eslint --fix

refactor(tabs): token adoption
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
Due: none

chore(gux-dialog-beta): pOC for modal component that uses dialog element
  packages/genesys-spark-components/src/components/beta/gux-dialog/example.html
  packages/genesys-spark-components/src/components/beta/gux-dialog/gux-dialog.scss
  packages/genesys-spark-components/src/components/beta/gux-dialog/gux-dialog.tsx
  packages/genesys-spark-components/src/components/beta/gux-dialog/gux-dialog.types.ts
  packages/genesys-spark-components/src/components/beta/gux-dialog/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.light.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(button): addressed UX review comments
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

refactor(column-manager): implmented new token design
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/readme.md
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-column-manager/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write

refactor(gux-text-highlight): update span color
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.scss
Due: none

refactor(popperjs): removed popperjs dependency
  docs/migration-guides/v4/readme.md
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
Due: prettier --write

refactor(gux-inline-alert): uX review comments
  packages/genesys-spark-components/src/components/stable/gux-alert/example.html
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.scss
Due: stylelint --fix, prettier --write

chore(gux-toggle): reskin
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/readme.md
Due: prettier --write, eslint --fix

refactor(dismiss-button): update absolute styling
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
Due: none

feat(gux-phone-input): port support for arbitrary numbers
  packages/genesys-spark-components/src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-select.service.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone.types.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/RegionCountryCodeMap.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/region-map.service.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/__snapshots__/gux-phone-input.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager-item/gux-column-manager-item.scss
  packages/genesys-spark-components/src/components/stable/gux-column-manager/gux-column-manager.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.light.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(gux-phone-input): allow dropdown width to exceed input width
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

fix(build): fixed version number
  CHANGELOG.md
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(token-updates): update tokens to latest
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-navigation.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-navigation.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-navigation.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

test(tabs): fixed tabs test
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/gux-tabs.e2e.ts
Due: prettier --write, eslint --fix

refactor(badge): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-badge/gux-badge.scss
Due: none

chore(jenkins): after version bump, only target relevant package files in git add
  Jenkinsfile
Due: none

refactor(breadcrumbs): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/example.html
Due: stylelint --fix, prettier --write

refactor(table-toolbar): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

chore(gux-content-search): design fixes
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
Due: prettier --write, eslint --fix

fix(gux-content-search): revert code changes made directly on beta/v4
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
Due: prettier --write, eslint --fix

refactor(accordion): address ux review comments
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
Due: none

docs(gux-tooltip): rewrite gux-tooltip example view to better convey features
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/example.html
Due: stylelint --fix, prettier --write

chore(gux-modal): address pr comments
  packages/genesys-spark-components/src/components/beta/gux-dialog/example.html
  packages/genesys-spark-components/src/components/beta/gux-dialog/gux-dialog.tsx
  packages/genesys-spark-components/src/components/beta/gux-dialog/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(jenkinsfile): fix typo caught in PR
  Jenkinsfile
Due: none

fix(dropdown,listbox,listbox-multi): fixing issues with clicking options and focus ring with mouse
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
Due: none

chore(version-bump): bumped version to last released version
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(inputs): updating focus styles
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.42
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(documentation): added jenkins documentation
  docs/JENKINS.md
Due: none

chore(dropdown,listbox,listbox-multi): showing focus ring only on keyboard navigation
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
Due: prettier --write, eslint --fix

chore(review-lottery): updated memeber list
  .github/reviewer-lottery.yml
Due: none

chore(gux-modal): gux-modal to legacy, add new gux-modal
  packages/genesys-spark-components/src/components/beta/gux-dialog/example.html
  packages/genesys-spark-components/src/components/beta/gux-dialog/gux-dialog.scss
  packages/genesys-spark-components/src/components/beta/gux-dialog/gux-dialog.tsx
  packages/genesys-spark-components/src/components/beta/gux-dialog/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.tsx
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/gux-modal.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/gux-modal.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
  packages/genesys-spark-components/src/components/stable/gux-modal/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-modal): update html and style
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal-legacy.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal-legacy.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/__snapshots__/gux-modal.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/gux-modal-legacy.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/gux-modal-legacy.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
  packages/genesys-spark-components/src/components/stable/gux-modal/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/gux-modal.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

ci(github): update reviewer lottery list
  .github/reviewer-lottery.yml
Due: none

test(inputs): update focus stylings
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/tests/__snapshots__/gux-pagination-buttons.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.spec.ts.snap
Due: none

chore(dropdown-multi): showing focus ring only on keyboard navigation
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
Due: none

chore(dropdown-multi): showing focus ring only on keyboard navigation
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-types.ts
Due: prettier --write, eslint --fix
