Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

perf(stepper-beta): apply opacity to child elements in disabled state
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
Due: prettier --write, eslint --fix

perf(stepper-beta): work in step-title component
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

test(date-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.common.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts-snapshots/gux-date-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
Due: prettier --write, eslint --fix

chore(form-description): Fixed playwright test and snapshots
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts-snapshots/gux-form-description-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-description/tests/gux-form-description.e2e.playwright.ts-snapshots/gux-form-description-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

test(date-time-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.common.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
Due: prettier --write, eslint --fix

chore(icon): Add missing brand logo icons
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/8x8.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/apple-business-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/facebook-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/facebook.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/google.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/instagram.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/linkedin.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/meta.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/teams.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/x-twitter.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/zoom.svg
Due: svgo -i

chore(icon): Updated brand icon svgs
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/8x8.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/apple-business-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/facebook-messenger.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/facebook.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/google.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/instagram.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/linkedin.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/meta.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/teams.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/brand/zoom.svg
Due: svgo -i

chore(table-toolbar): Test code to show issue with nested slots focusing
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.service.ts
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/example.html
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(table-toolbar): Reverted some code
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.service.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

chore(release): 4.149.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(button): Icon examples clickable in NVDA
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
Due: stylelint --fix, prettier --write

chore(other): Update checkRenders
  packages/genesys-spark-components/src/components/beta/gux-flag-icon/tests/gux-flag-icon.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/tests/gux-action-toast.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/tests/gux-disclosure-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/tests/gux-modal-legacy.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/tests/gux-notification-toast.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/gux-pagination.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/tests/gux-simple-toast.e2e.playwright.ts
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/gux-switch.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-badge/tests/gux-badge.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-blank-state/tests/gux-blank-state.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/gux-breadcrumbs.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-loading-message/tests/gux-loading-message.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: prettier --write, eslint --fix

fix(other): added requestAnimationFrame into OnResize decorator
  packages/genesys-spark-components/src/utils/decorator/on-resize.ts
  web-apps/genesys-spark-examples/src/component-listing/app.js
Due: prettier --write, eslint --fix

perf(stepper-beta): addition of active state
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.types.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

test(copy-to-clipboard): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.common.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.playwright.ts-snapshots/gux-copy-to-clipboard-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.playwright.ts-snapshots/gux-copy-to-clipboard-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

Message Container Error colour was changed to a darker tone for accessibility purposes.
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

fix(button): Icon examples clickable in NVDA (#986)
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
Due: stylelint --fix, prettier --write

fix(selector-card-beta): inherit inline-size
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: none

chore(selector-card-beta): example with resize
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
Due: stylelint --fix, prettier --write

Deleted active_subtile token again since it re-apeared for no reason.
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(avatar-beta): improved screenreader accessibility (#1087)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

bug:hover-legacy background
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(all-row-select): added label slot to improve accessibility
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

test(date-time-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.common.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/tests/gux-screen-reader.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-raised-accent-card-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.playwright.ts-snapshots/gux-card-raised-accent-card-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/gux-dismiss-button.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(release): 4.150.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(tabs): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.e2e.playwright.ts-snapshots/gux-tab-should-render-a-disabled-tab-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.e2e.playwright.ts-snapshots/gux-tab-should-render-a-disabled-tab-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.e2e.playwright.ts-snapshots/gux-tab-should-render-gux-tab-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.e2e.playwright.ts-snapshots/gux-tab-should-render-gux-tab-2-darwin.png
Due: prettier --write, eslint --fix

test(time-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.common.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.spec.ts
Due: prettier --write, eslint --fix

chore(other): addressed PR comment
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.spec.ts
Due: prettier --write, eslint --fix

style(tree-view): comfy leaf spacing
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/navigation.json
Due: prettier --write

chore(flyout-menu): Moved announceElement to show method
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
Due: prettier --write, eslint --fix

chore(table-toolbar): Fixed layout render issue
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/example.html
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(flyout-menu): Fixed duplicate guxAnnounce call
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
Due: prettier --write, eslint --fix

chore(release): 4.151.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(announce-beta): added Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/__snapshots__/gux-announce.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.common.ts
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-assertive-politeness-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-assertive-politeness-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-default-politeness-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-default-politeness-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-off-politeness-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-off-politeness-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-polite-politeness-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.e2e.playwright.ts-snapshots/gux-announce-should-have-polite-politeness-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-announce/tests/gux-announce.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
