Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

fix(button-multi): component now delegates focus
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: prettier --write, eslint --fix

chore(rich-text-editor): add token
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
Due: none

feat(tokens): Added missing advanced tabs tokens
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

refactor(tabs-advanced): update token reports
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

chore(rich-text-editor): add token (#804)
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
Due: none

chore(icon): checklist (#787)
  packages/genesys-spark-components/src/components/stable/gux-icon/a11yManualChecklist.md
  packages/genesys-spark/src/hosts.ts
Due: prettier --write, eslint --fix

chore(release): 4.108.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar-group): overflow
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

test(avatar-group): uncomment tests
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.service.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-group.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
Due: prettier --write, eslint --fix

chore(popover-list-beta): a11y manual testing check
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/a11yManualChecklist.md
Due: none

fix(toggle): a11y deprecate checked and unchecked labels
  packages/genesys-spark-components/src/components/stable/gux-toggle/example.html
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(toggle): snapshots
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
Due: prettier --write, eslint --fix

update license
  LICENSE
Due: none

perf(rich-text-editor): adding extra functionality to link
  packages/genesys-spark-components/src/components/beta/gux-cta-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(gux-toggle): a11y add support for single label
  packages/genesys-spark-components/src/components/stable/gux-toggle/example.html
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(toggle): manual accessiblilty check
  packages/genesys-spark-components/src/components/stable/gux-toggle/a11yManualChecklist.md
Due: none

chore(release): 4.108.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(a11y): adding check based on non-text content
  packages/genesys-spark-components/documentation/A11Y_TESTING.md
  packages/genesys-spark-components/scripts/check-a11y.mjs
Due: none

feat(tokens): Updated surface token values
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

chore(release): 3.132.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.108.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-toggle/readme.md
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(truncate): a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-truncate/a11yManualChecklist.md
Due: none

chore(truncate): a11y checklist (#814)
  packages/genesys-spark-components/src/components/stable/gux-truncate/a11yManualChecklist.md
Due: none

chore(release): 4.108.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(table-toolbar): manual check-a11y
  packages/genesys-spark-components/scripts/check-a11y.mjs
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/a11yManualChecklist.md
Due: none

chore(popover): manual a11y-check
  packages/genesys-spark-components/scripts/check-a11y.mjs
  packages/genesys-spark-components/src/components/stable/gux-popover/a11yManualChecklist.md
Due: none

docs(modal-legacy): Update migration doc with footer slot
  docs/migration-guides/v4/gux-modal-legacy.md
Due: none

feat(icon): add 3 new fa icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/download-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/keyboard-brightness-solid.svg
Due: prettier --write, eslint --fix, svgo -i

chore(table): accessibility review
  packages/genesys-spark-components/scripts/check-a11y.mjs
  packages/genesys-spark-components/src/components/stable/gux-table/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.ts
Due: prettier --write, eslint --fix

feat(icon): add 4 new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/download-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/keyboard-brightness-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/timer-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): add 3 new fa icons (#819)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/download-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/keyboard-brightness-solid.svg
Due: prettier --write, eslint --fix, svgo -i

docs(modal-legacy): Update migration doc with footer slot (#818)
  docs/migration-guides/v4/gux-modal-legacy.md
Due: none

feat(tokens): Added a background color for the widget headers
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

chore(release): 4.109.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

perf(rich-text-editor): adding extra functionality to link
  packages/genesys-spark-components/src/components/beta/gux-cta-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/gux-popover.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): add 4 new icons (#821)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/clock-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/download-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/keyboard-brightness-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/timer-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(button): added autofocus property
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
Due: stylelint --fix, prettier --write, eslint --fix

chore(tabs): update a11y manual checklist
  packages/genesys-spark-components/src/components/stable/gux-tabs/a11yManualChecklist.md
Due: none

feat(tokens): generated CSS vars
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
Due: prettier --write
