Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

test(modal): updating e2e snapshots
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
Due: none

chore(tooltip): speed up animation delay (#635)
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.less
Due: stylelint --fix, prettier --write

fix(visualization): added more localizations
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/scripts/copy-genesys-spark-utils.mjs
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/gux-chart-column.locale.ts
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/gux-chart-line.locale.ts
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.locale.ts
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/tests/d3-rs-intl.spec.ts
  packages/genesys-spark-chart-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
Due: prettier --write, eslint --fix

chore(popover): CSS changes
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
Due: stylelint --fix, prettier --write

chore(popover): CSS fixes
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
Due: stylelint --fix, prettier --write

chore(popover): Fixed prop camelcasing
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
Due: stylelint --fix, prettier --write

chore(popover): Added for attribute validation
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(popover): Code refactoring
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(popover): Fixed for attribute validation
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(popover): Removed unnecessary validation step
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(release): 3.131.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(modal): Allow medium and large modals to contract on smaller screens
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

chore(toggle): Center toggle label against switch (#636)
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
Due: none

chore(popover): only invoke show/hide popover methods if exist
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: prettier --write, eslint --fix

chore(release): 4.87.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(popover): Fixing popover test
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
Due: prettier --write, eslint --fix

test(popover): Fixing click test
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(popover): Fixed snapshot
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
Due: none

test(other): improved test run speed
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-flag-icon/tests/__snapshots__/gux-flag-icon.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-flag-icon/tests/gux-flag-icon.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
Due: prettier --write, eslint --fix

chore(other): addressed PR comment
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark/src/index.ts
Due: prettier --write, eslint --fix

chore(popover): Fixed unit test
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.88.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(modal): addressing pr comments
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

build(npm-publish): adding logic to send email on failure of publish
  Jenkinsfile
Due: none

chore(modal): Allow medium and large modals to contract on smaller screens (#638)
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
Due: none

test(time-zone-picker): set exact date for tests
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/__snapshots__/gux-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.88.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(segmented-control): vertically center icons and text
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
Due: none

fix(flyout-menu): added flip to sub-menu
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
Due: prettier --write, eslint --fix

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(button): adding title examples that use gux-tooltip
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(button): updating readmes after syncing with main
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
Due: none

chore(new-relic): updating snippet
  web-apps/genesys-spark-examples/src/viewer-template.html
Due: stylelint --fix, prettier --write

chore(release): 4.88.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table-toolbar): fix console errors when slots are absent
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

chore(icon): backported restricted/custom/sparkles-solid icon from v4
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/custom/sparkles-solid.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

fix(table-toolbar): fix console errors when slots are absent
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar.tsx
Due: prettier --write, eslint --fix

chore(button): refactoring example due to accessibility issues and padding issue with tooltip
  packages/genesys-spark-components/src/components/stable/gux-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.tsx
Due: stylelint --fix, prettier --write, eslint --fix
