Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(tokens): UI theming fix border-radius theme and global
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

chore(form-field-checkbox-group): fix typo in example file
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
Due: stylelint --fix, prettier --write

docs(label-info): Update readmes
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
Due: none

docs(label-info): Update readmes (#543)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-label-info/readme.md
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-buttons-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-optional-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
Due: none

feat(other): Form field label font weight change
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/gux-form-field-file.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/gux-form-field-time-zone-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.scss
Due: none

fix(tokens): Fixed tag accent 6 color
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens) Updated actions set tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

feat(tokens): Updated vars and styles fro the actions set
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(tokens): Fixed menu border color
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(release): 4.66.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.128.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(pagination): filter out characters from slotted number input
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
Due: prettier --write, eslint --fix

feat(tokens): UI theming Pagination
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

fix(form-field-range): Fix console error on updatePosition before componentWillLoad
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

feat(tokens): UI theming pagaination
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(pagination-beta): filter out characters from slotted number input
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
Due: prettier --write, eslint --fix

feat(tokens): UI Theming Search
  packages/genesys-spark-tokens/data/ui/search_and_filter.json
Due: prettier --write

feat(tokens): UI theming search
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/search_and_filter.json
Due: prettier --write

feat(tokens): UI Theming search
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.67.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): UI Theming Spinner button
  packages/genesys-spark-tokens/data/ui/form_control.json
Due: prettier --write

feat(other): Form field label font weight change (#544)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/gux-form-field-file.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/gux-form-field-time-zone-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.scss
Due: none

feat(tokens): UI Theming fix structure container gaps
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/actions.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): UI theming - fix container gaps
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/actions.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): UI Theming Laoding Placeholder States
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

feat(tokens): UI theming Loading Placeholder States
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

fix(form-field-range): Fix console error on updatePosition before componentWillLoad (#546)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

chore(flyout-menu): Add todo for tokens
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
Due: none

feat(tokens): UI theming fix clipboard
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

fix(flyout-menu): Fix menu arrow position (#539)
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
Due: prettier --write, eslint --fix

chore(form-field-checkbox-group): add label info
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(form-field-checkbox-group): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/gux-form-field-checkbox-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.spec.ts.snap
Due: none

chore(release): 3.128.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.68.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(time-zone): Add gux-time-zone to v4
  packages/genesys-spark-components/src/components/beta/gux-time-zone/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.service.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): UI Theming colours for datatable
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): UI theming datable sizing and spacing
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write

feat(tokens): Ui Theming colour indicator datatable
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/data_display.json
Due: prettier --write
