Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(tokens): updated islandqua 700 and 800 on core set
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.light.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.types.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): 2 color token changes
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.light.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.types.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): form footer - jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(language): translation updates (#434)
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
Due: prettier --write

feat(tokens): Form footer 2 - jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(form-field-radio-group): address PR comments
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.44.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
Due: prettier --write

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/ar.json
  packages/genesys-spark-components/src/i18n/translations/he.json
  packages/genesys-spark-components/src/i18n/translations/pt-pt.json
  packages/genesys-spark-components/src/i18n/translations/sv.json
Due: prettier --write

feat(table): Allow gux-button to inherit icon colour
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

fix(toggle): Add option to click on label
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
Due: prettier --write, eslint --fix

fix(icon): now getting svgs from font awesome
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icon-names-deprecated.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

fix(icon): now getting svgs from font awesome
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/diagram-project-gear-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/envelope-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/language-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/user-circle-arrow-left-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/whatsapp-slash.svg
Due: svgo -i

fix(toggle): make label clickable
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.less
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(icon): now getting svgs from font awesome
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/00-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/arrows-rotate-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/asterix-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/ban-outline.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/ban-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/check-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/circle-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/circle-xmark-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/comment-dots-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/comments-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/eye-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/eye-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/home-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/life-ring-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/link-horizontal-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/link-horizontal-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/list-radio-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/list-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/rectangle-list-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/regular-diagram-project-gear.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/regular-display-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/regular-envelope-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/regular-language-slash.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/regular-user-circle-arrow-left.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/reply-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/right-to-bracket-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/share-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/subtract-circle-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/subtract-circle-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/subtract-circle.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/thumb-down-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/thumb-up-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/fa/volume-regular.svg
Due: svgo -i

fix(icon): now getting svgs from font awesome
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/fa/arrow-left-to-line-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/legacy/fa/arrow-right-to-line-solid.svg
Due: svgo -i

fix(icon): now getting svgs from font awesome
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/building-user-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/calendar-circle-user-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/compass-drafting-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/screwdriver-wrench-regular.svg
Due: svgo -i

fix(icon): now getting svgs from font awesome
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wand-magic-sparkles-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/waveform-lines-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/weixin.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/whatsapp.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/whistle-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wifi-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wifi-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/windows.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wordpress.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/x-twitter.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/xmark-large-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/youtube.svg
Due: svgo -i

feat(tokens): adjust islandaqua colors (#435)
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(tokens): improving dropshadow
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.45.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(table): Allow gux-button to inherit icon colour (#437)
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

fix(toggle): Add option to click on label (#438)
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
Due: prettier --write, eslint --fix

fix(toggle): make label clickable (#440)
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.less
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(month-picker): Fixed build error with unreferenced variable
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

chore(release): 3.124.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.46.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.47.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(selector-cards): Selector cards group
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-cards.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-cards.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(selector-cards): Selector cards group (#436)
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-cards.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-cards.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(datepicker): remove comment
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
Due: stylelint --fix, prettier --write

fix(visualization): Add chart click handling to all chart types
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-donut/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-pie/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.scss
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(form-field-radio-group): add tests and address pr comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
Due: prettier --write, eslint --fix
