Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(dropdown-multi): Fixed playwright accessibility code
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(dropdown-multi): Fixed playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-2-darwin.png
Due: prettier --write, eslint --fix

chore(tabs): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.spec.ts.snap
Due: none

chore(release): 4.166.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): update dependency to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/gux-avatar-overflow-item.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark/package.json
  packages/genesys-spark/snapshot/css/global-typography.css
  packages/genesys-spark/snapshot/css/global-typography.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/scss/_mixins.scss
  packages/genesys-spark/snapshot/scss/_typography.scss
  packages/genesys-spark/src/style/_mixins.scss
  packages/genesys-spark/src/style/_typography.scss
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: stylelint --fix, prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feature/form-stepper- gap - jackie
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/form_control.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

refactor(form-beta): update maps
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: none

feat(visualization-beta): Add aria-label support to visualization-beta component
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/example.html
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/gux-visualization.tsx
Due: stylelint --fix, prettier --write, eslint --fix

fix(datepicker): allow for a narrower width than the default to be applied
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

chore(tree-view-beta): remove multiselect
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.scss
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view-branch/gux-tree-view-branch.tsx
  packages/genesys-spark-components/src/components/beta/gux-tree-view/gux-tree-view.tsx
Due: prettier --write, eslint --fix

chore(release): 4.167.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/GDS-2961-blank_state Eszter
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(other): fixed token collision
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

chore(other): fix scss build
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
Due: none

refactor(other): remove disabled=false from example docs
  packages/genesys-spark-components/documentation/COMPONENT_DESIGN.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/example.html
Due: stylelint --fix, prettier --write

chore(other): update Stencil dependency to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
Due: prettier --write

feature/GDS-2961-blank_state Eszter
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/feedback.json
Due: prettier --write

test(form-field-textarea): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--11844-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--2527f-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--32248--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--32a59-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--37776-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--4374e-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--45cf4-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--54aed--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--7c247-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--afbee-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--b1e0c-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--b7d72-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--ecc7e-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--edfd3-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--f2114-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render--f69d2-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-resize-is-auto-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-resize-is-auto-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-resize-is-manual-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-resize-is-manual-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-resize-is-none-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.playwright.ts-snapshots/gux-form-field-textarea-render-should-render-component-as-expected-when-resize-is-none-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/gux-form-field-textarea.spec.ts
Due: prettier --write, eslint --fix

feat(token): change spacing from 2px to 50px
  packages/genesys-spark-tokens/data/core.json
Due: prettier --write

fix(dropdown): Added a null check for filterElement before setting its value
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(dropdown-multi): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-2-darwin.png
Due: prettier --write, eslint --fix

feat/token - new logo component
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/graphic_assets.json
Due: prettier --write

feat/token- new logo component
  packages/genesys-spark-tokens/data/ui/graphic_assets.json
Due: prettier --write

chore(release): 4.168.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat/tokens-new logo component
  packages/genesys-spark-tokens/data/ui/graphic_assets.json
Due: prettier --write

feat/tokens-new logo component
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat/tokens-newl logo componenrt-shadow
  packages/genesys-spark-tokens/data/ui/graphic_assets.json
Due: prettier --write

feat/tokens-new logo component-shadow
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(release): 4.168.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(form-field-time-picker): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-026ba--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-06d2a-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-0e515-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-1f00a-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-25a00-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-33231-nent-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-36bd7-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-6c436-ected-when-input-attribute-is-interval-15-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-74580-ent-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-7e95d-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-831c7-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-866ea-ected-when-input-attribute-is-interval-30-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-87167-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-a3bf9-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-b46e5-ected-when-input-attribute-is-interval-60-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-b6fd5-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-bed9a-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-c017a-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-c1df6-ected-when-input-attribute-is-interval-15-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-c287e--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-c98d8-ent-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-d779a-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-d8d36-nent-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-e90bf-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-f48cd-ected-when-input-attribute-is-interval-60-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.playwright.ts-snapshots/gux-form-field-time-picker-render-should-rend-f63dd-ected-when-input-attribute-is-interval-30-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.spec.ts
Due: prettier --write, eslint --fix

test(form-field-time-zone-picker): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/__snapshots__/gux-form-field-time-zone-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-07696-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-0b72b-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-15f6a--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-1f549-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-2143d-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-256e7-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-27180--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-52c4e-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-56565-nent-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-5cda7-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-5d26b-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-64cc8-ent-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-68001-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-70c60-ent-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-732c2-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-88386-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-9d12c-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-b8518-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-c4f32-nent-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.playwright.ts-snapshots/gux-form-field-time-zone-picker-render-should-d75cb-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/tests/gux-form-field-time-zone-picker.spec.ts
Due: prettier --write, eslint --fix

style(side_panel): additions to support nav-based side panel variant
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(dropdown-multi): fixed lint warnings
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
