Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feature/GDS-3209-connected-icon-only-button Eszter new color tokens for connected state buttons
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

chore(other): update maps
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: none

chore(inline-dropdown-beta): update example file
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/example.html
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/gux-inline-dropdown.scss
Due: stylelint --fix, prettier --write

chore(release): 4.168.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/GDS-3209-connected-icon-only-button Eszter change in color tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

test(table): add playwright tests
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-2-darwin.png
Due: prettier --write, eslint --fix

style(user_settings_window): added tokens
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

test(form-field-number): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/__snapshots__/gux-form-field-number.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-3-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-4-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-4-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-5-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-clearable-component-as-expected-5-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-08009--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-0d5d3-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-25c64-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-3296c-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-3d7a1-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-69e34-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-71169--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-72c56-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-8109d-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-87607-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-b5b9c-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-bf8be-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-c47e9-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-ce14f-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-e7be0-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-co-fa9ee-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.playwright.ts-snapshots/gux-form-field-number-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/tests/gux-form-field-number.spec.ts
Due: prettier --write, eslint --fix

test(form-field-select): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/__snapshots__/gux-form-field-select.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-0a40c-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-28a55-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-3a35f-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-4503a-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-5cfbc-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-7273d-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-894d1-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-99ec5-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-9d97f-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-a5ed9-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-b18e6-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-bf7b1-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-e4199--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-e617c-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-fb09f-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-co-fb4d7--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.playwright.ts-snapshots/gux-form-field-select-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/tests/gux-form-field-select.spec.ts
Due: prettier --write, eslint --fix

test(table): add playwright tests (#1287)
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-empty-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-a-gux-table-select-menu-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-compact-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-data-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-empty-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-object-table-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-horizontal-scroll-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-rows-selection-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.playwright.ts-snapshots/gux-table-render-should-render-table-with-vertical-scroll-2-darwin.png
Due: prettier --write, eslint --fix

test(form-field-search): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/__snapshots__/gux-form-field-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-10ef1-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-21806-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-3c78b-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-5a1cd-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-5d981-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-8918d-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-8ca12-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-9e91e--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-a1e89-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-a2a6a--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-b5e11-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-b9fe7-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-c3090-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-c3a09-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-defca-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-co-fe133-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.playwright.ts-snapshots/gux-form-field-search-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/tests/gux-form-field-search.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.169.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(prompt-input-beta): add vertical scroll state
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
Due: prettier --write, eslint --fix

test(form-field-radio): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/__snapshots__/gux-form-field-radio.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-com-01af5-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-com-03d6f-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-com-8a2fc-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-com-b8572-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-checked-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-checked-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-default-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-default-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-disabled-with-error-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-disabled-with-error-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-disabled-with-help-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.playwright.ts-snapshots/gux-form-field-radio-render-should-render-component-as-expected-when-disabled-with-help-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/tests/gux-form-field-radio.spec.ts
Due: prettier --write, eslint --fix

test(form-field-radio-group-beta): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-282f3-s-expected-when-group-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-34b2c--expected-when-group-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-4f96f-lex-radio-group-with-mixed-states-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-52b2a-s-expected-when-group-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-545fa--expected-when-group-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-6beae-as-expected-when-with-optional-indicator-mark-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-b12ef-as-expected-when-with-optional-indicator-mark-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-ba062-lex-radio-group-with-mixed-states-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-render-basic-radio-group-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-render-basic-radio-group-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-render-radio-group-as-expected-when-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-render-radio-group-as-expected-when-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-render-radio-group-as-expected-when-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.playwright.ts-snapshots/gux-form-field-radio-group-beta-render-should-render-radio-group-as-expected-when-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.169.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): Add 4 new icons
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-left-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/equals-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/greater-than-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/less-than-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

feat(icon): Add 4 new icons (#1347)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-inline-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-left-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/equals-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/greater-than-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/less-than-equal-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

refactor(prompt-input-beta): add comments
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
Due: prettier --write, eslint --fix

chore(release): 4.170.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(rating): addition of responsive behaviour
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/example.html
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-rating/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/__snapshots__/gux-rating.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.common.ts
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-25-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-25-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-26-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-26-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-27-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-27-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-28-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-28-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-29-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-29-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-30-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-30-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-31-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-31-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-32-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-32-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-33-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-33-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-34-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-rating/tests/gux-rating.e2e.playwright.ts-snapshots/gux-rating-should-render-component-as-expected-34-2-darwin.png
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: stylelint --fix, prettier --write, eslint --fix

test(form-field-range): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/__snapshots__/gux-form-field-range.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/__snapshots__/gux-form-field-range.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-01a53-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-04cfb--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-124cb-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-1e8d3-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-5470f-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-66f36-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-81e92--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-a529a-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-aefba-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-d6e73-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-e43b3-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-com-fd376-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-3-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-4-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-4-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-with-step-min-max-attributes-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.playwright.ts-snapshots/gux-form-field-range-render-should-render-component-as-expected-with-step-min-max-attributes-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.spec.ts
  packages/genesys-spark-components/src/test/specTestUtils.ts
Due: prettier --write, eslint --fix

fix(loading-message): update examples to convey better descriptions to screenreader
  packages/genesys-spark-components/src/components/stable/gux-loading-message/example.html
Due: stylelint --fix, prettier --write

refactor(prompt-input-beta): words will go to new line if they dont fit on the current
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
Due: none

test(other): fixed small test issues
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/__snapshots__/gux-avatar-overflow.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts-snapshots/gux-avatar-overflow-beta-render-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.playwright.ts-snapshots/gux-avatar-overflow-beta-render-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-renders-a-datepicker-for-range-of-dates-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-renders-a-datepicker-for-range-of-dates-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/gux-datepicker.e2e.playwright.ts-snapshots/gux-datepicker-should-render-basic-datepicker-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/gux-form-field-file.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/__snapshots__/gux-form-field-file.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file-beta/tests/gux-form-field-file.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/gux-form-field-text-like.e2e.playwright.ts-snapshots/gux-form-field-text-like-render-should-render-loading-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/gux-form-field-text-like.e2e.playwright.ts-snapshots/gux-form-field-text-like-render-should-render-loading-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/gux-form-field-text-like.e2e.playwright.ts-snapshots/gux-form-field-text-like-render-should-render-loading-component-as-expected-5-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-large-dataset-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-large-dataset-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-maximum-pages-scenario-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-maximum-pages-scenario-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-zero-items-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.playwright.ts-snapshots/gux-pagination-Should-render-with-zero-items-2-darwin.png
  packages/genesys-spark-components/src/test/setupTests.ts
Due: prettier --write, eslint --fix

refactor(prompt-input-beta): align generate button to the end of the container
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
Due: none

chore(release): 4.170.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): addition of ai icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-anomaly-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-doc-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-guides-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-summaries-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/ai-tooltip-regular.svg
Due: prettier --write, eslint --fix, svgo -i

chore(other): tokens update with main
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(segmented-control-beta): Styling change
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-basic-segmented-control-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-basic-segmented-control-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-disabled-segmented-control-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-disabled-segmented-control-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-icon-only-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-icon-only-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-icons-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-icons-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-individual-disabled-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-individual-disabled-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-selected-value-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-selected-value-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-two-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-two-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/readme.md
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/scss/_mixins.scss
  packages/genesys-spark/snapshot/ui.css.map
  packages/genesys-spark/src/style/_mixins.scss
Due: prettier --write, eslint --fix

feat(blank-state-beta): addition of new blank state component
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.scss
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.types.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/svg-utils.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

test(dropdown): adding playwright tests
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.common.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-disabled-dropdown-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-disabled-dropdown-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-custom-filter-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-custom-filter-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-error-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-error-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-no-filter-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-no-filter-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-starts-with-filter-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-dropdown-with-starts-with-filter-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-enabled-dropdown-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-closed-should-render-enabled-dropdown-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-open-should-render-gux-option-dropdown-with-grouped-options-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-open-should-render-gux-option-dropdown-with-grouped-options-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-open-should-render-gux-option-icon-dropdown-with-grouped-options-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-open-should-render-gux-option-icon-dropdown-with-grouped-options-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-open-should-render-open-dropdown-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.playwright.ts-snapshots/gux-dropdown-render-open-should-render-open-dropdown-2-darwin.png
Due: prettier --write, eslint --fix

perf(blank-state-beta): addition of svg illustrations
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.service.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.types.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/readme.md
Due: prettier --write, eslint --fix

test(dropdown-multi): updating dark mode snapshot
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.playwright.ts-snapshots/gux-dropdown-multi-render-Should-render-as-expected-dropdown-2-darwin.png
Due: prettier --write, eslint --fix

chore(release): 4.171.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

perf(blank-state-beta): add logic for illustration
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.scss
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.service.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/gux-blank-state.types.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-blank-state-beta/svg-utils.tsx
Due: stylelint --fix, prettier --write, eslint --fix
