Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(text-highlight): added dimmed property
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.less
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager-item/gux-column-manager-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/example.html
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.scss
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.tsx
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/readme.md
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write, eslint --fix

refactor(popover): updating migration guide
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

feat(tokens): updating latest tokens
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(gux-submenu): replaced popperjs with floatingui
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.less
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.tsx
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

feat(gux-advanced-dropdown): move gux-advanced-dropdown to legacy
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/gux-dropdown-option.less
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/gux-dropdown-option.tsx
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/tests/__snapshots__/gux-dropdown-option.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/tests/gux-dropdown-option.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.tsx
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/i18n/en.json
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/__snapshots__/gux-advanced-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  playground/angular-v12/tsconfig.spec.json
  web-apps/genesys-spark-examples/src/component-viewer/components/links.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 3.101.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.15
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(tokens): updated tokens to latest
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-layoutContainer.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-layoutContainer.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-layoutContainer.scss
Due: stylelint --fix, prettier --write

feat(icon): added icons requested in GDS-2038
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/carousel.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/one-button.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/quick-reply.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/three-button.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-solid.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

refactor(accordion): remove accordion-section beside-text and default arrow positions
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-accordion/example.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.tsx
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.types.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/readme.md
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

refactor(accordion): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.spec.ts.snap
Due: none

fix(gux-tabs): set height on tabs and tabpanel-beta should fill space
  packages/genesys-spark-components/src/components/beta/gux-tab-panel-beta/gux-tab-panel-beta.less
  packages/genesys-spark-components/src/components/stable/gux-tabs/example.html
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.less
Due: stylelint --fix, prettier --write

feat(gux-advanced-dropdown): migrate gux-advanced-dropdown option to sass from less
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/gux-dropdown-option.scss
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/dropdown-option/gux-dropdown-option.tsx
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
Due: prettier --write, eslint --fix

feat(table): token adoption
  packages/genesys-spark-components/src/components/beta/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/gux-sort-control.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-popover/gux-table-header-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-popover/gux-table-select-popover.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-popover/gux-table-select-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.less
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/readme.md
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/readme.md
  packages/genesys-spark-components/src/style/shadows.scss
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write, eslint --fix

fix(table-toolbar): addition of tooltip when actions are is icon-only state
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar-action/readme.md
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar-custom-action/readme.md
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
Due: prettier --write, eslint --fix

feat(table): make empty table message fill available space
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.less
Due: stylelint --fix, prettier --write

feat(table): alternative solution to allow for percentage heights
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.less
Due: stylelint --fix, prettier --write

chore(toast-legacy): fixing docs site issues
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.tsx
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/tests/__snapshots__/gux-action-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/tests/__snapshots__/gux-action-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/tests/gux-action-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/tests/gux-action-toast.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.tsx
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/tests/__snapshots__/gux-notification-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/tests/__snapshots__/gux-notification-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/tests/gux-notification-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/tests/gux-notification-toast.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.tsx
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/gux-simple-toast.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/tests/__snapshots__/gux-simple-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/tests/__snapshots__/gux-simple-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/tests/gux-simple-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/tests/gux-simple-toast.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.0.0-beta.16
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(form-field-text-like): token adoption
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/style/typography.scss
Due: stylelint --fix, prettier --write, eslint --fix

refactor(form-field-textarea): component reskin
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.tsx
  packages/genesys-spark-tokens/data/tokens.json
Due: stylelint --fix, prettier --write, eslint --fix

refactor(form-field-text-like): update scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
Due: none

refactor(form-field-textarea): udpate snapshots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/tests/__snapshots__/gux-form-field-textarea.e2e.ts.snap
Due: stylelint --fix, prettier --write

feat(icon): new icons from GDS23-5
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/co-browse.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/google.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/microsoft.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/wand-magic-sparkles-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/windows.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

fix(gux-tabs): add option for flexbox positioning
  packages/genesys-spark-components/src/components/beta/gux-tab-panel-beta/gux-tab-panel-beta.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/example.html
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.less
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/tests/__snapshots__/gux-tabs.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

refactor(table-toolbar): migrate from beta to stable
  packages/genesys-spark-components/src/components/beta/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/example.html
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action-accents.types.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.less
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.types.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/__snapshots__/gux-table-toolbar-action.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/__snapshots__/gux-table-toolbar-action.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.less
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/gux-table-toolbar-custom-action.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/__snapshots__/gux-table-toolbar-custom-action.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-custom-action/tests/gux-table-toolbar-custom-action.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.less
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.constants.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.less
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.types.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

refactor(table-toolbar): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.17
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.102.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(disclosure-button): moved disclosure-button to legacy
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/gux-disclosure-button.scss
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/gux-disclosure-button.tsx
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/gux-disclosure-button.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/i18n/en.json
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/tests/__snapshots__/gux-disclosure-button.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/tests/__snapshots__/gux-disclosure-button.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/tests/gux-disclosure-button.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/tests/gux-disclosure-button.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: stylelint --fix, prettier --write, eslint --fix

chore(table): fixing unit tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/__snapshots__/gux-sort-control.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/__snapshots__/gux-sort-control.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.light.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
Due: prettier --write, eslint --fix

feat(error-message-beta): removed gux-error-message-beta from library
  packages/genesys-spark-components/documentation/migrations/v4/gux-error-message-beta.md
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/gux-error-message-beta.less
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/gux-error-message-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/tests/__snapshots__/gux-error-message-beta.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/tests/__snapshots__/gux-error-message-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/tests/gux-error-message-beta.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-error-message-beta/tests/gux-error-message-beta.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/tests/__snapshots__/gux-form-field-text-like.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

chore(table): moving gux-row-select and gux-all-row-select to shadow dom
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table/tests/gux-table.e2e.ts
Due: prettier --write, eslint --fix

refactor(radial-progress): switched from less to scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.less
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(tabs): match font size with designs
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.less
Due: stylelint --fix, prettier --write

refactor(popover): token adoption
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.less
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

refactor(radial-progress): updated style to v4
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/example.html
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.functional.tsx
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.service.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.tsx
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.types.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/tests/__snapshots__/gux-radial-progress.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/tests/gux-radial-progress.service.spec.ts
  packages/genesys-spark-tokens/snapshot/css/gse-ui-layoutContainer.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-layoutContainer.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-layoutContainer.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(icon): some icons commented out and not displaying
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
Due: stylelint --fix, prettier --write

chore(release): 4.0.0-beta.18
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write
