Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

renamed "as-button" groups to "standalone" to match the new component structure.
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

added small height tokens for standalone links
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

chore(tokens): renaming as-button to standalone to match the new structure in the design
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/actions.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

toobar btn gropup divier value fix
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

divider margin value correction (also renamed padding to margin)
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

toobar button group gap
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

text tokens for standalone
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/actions.json
Due: prettier --write

Removed 1px padding
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): dark mode pt2
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/navigation.json
  packages/genesys-spark-tokens/data/ui/search_and_filter.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

chore(popover-list-beta): Added popover-list-beta component
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/example.html
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.scss
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/__snapshots__/gux-popover-list.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

fix(pagination-cursor): Fixed alignment of icon
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.scss
Due: none

chore(release): 4.101.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table): z-index issues with gux-truncate
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
Due: stylelint --fix, prettier --write

chore(table): reverting example changes used for testing
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
Due: stylelint --fix, prettier --write

test(side panel): updating snapshots
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/gux-side-panel.spec.ts
Due: prettier --write, eslint --fix

style(side panel): renaming token
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

style(side panel): using renamed token
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

style(side panel): css fix for modal description
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/mixins.scss
Due: none

style(tokens): dark mode tokens
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

test(popover-list-beta): fix test
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
Due: prettier --write, eslint --fix

chore(release): 4.102.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(popover-list-beta): fix test (#735)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
Due: prettier --write, eslint --fix

feat(icon): new icons and genesys icon update
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/facebook-disconnect-left.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/facebook-disconnect-right.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/genesys.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/custom/genesys.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ballot-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bullseye-pointer-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-nodes-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/shield-keyhole-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-simple-regular.svg
Due: prettier --write, eslint --fix, svgo -i

chore(release): 4.102.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(button-multi): fixed accessibility warning
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/example.html
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): adding new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/genesys.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ballot-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bullseye-pointer-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-nodes-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/shield-keyhole-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-simple-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

fix(table): updating select all status when row removed from dom
  packages/genesys-spark-components/src/components/beta/gux-table/gux-table.tsx
Due: prettier --write, eslint --fix

chore(release): 4.102.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): adding new icons (#738)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/genesys.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ballot-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bullseye-pointer-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-nodes-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/shield-keyhole-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-simple-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(icon): new icons and genesys icon update (#736)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/facebook-disconnect-left.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/facebook-disconnect-right.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/genesys.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/deprecated/custom/genesys.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/ballot-check-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bullseye-pointer-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-nodes-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/shield-keyhole-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/user-group-simple-regular.svg
Due: prettier --write, eslint --fix, svgo -i

feat(rich-text-editor): addition of rich style feature
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/gux-rich-text-editor-action-rich-style.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich.style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich.style.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/gux-rich-style-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/gux-rich-style-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-style-list-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-list.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/gux-rich-text-editor-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.scss
  packages/genesys-spark-components/src/components/stable/gux-list/list-item-default.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

style(rich-text-editor): ux qa
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
Due: none

chore(other): update check-a11y script to include WCAG 2.2 manual check criteria
  packages/genesys-spark-chart-components/scripts/check-a11y.mjs
Due: none

docs(other): update a11y docs to include wcag 2.2 updates
  packages/genesys-spark-components/documentation/A11Y_TESTING.md
Due: none

fix(popover-list-beta): Focus first list item on popover show
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/gux-popover-list.tsx
Due: prettier --write, eslint --fix

chore(release): 3.132.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.103.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

toolbar gap, divider width, divider margin fixes
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action-group/gux-rich-text-editor-action-group.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.light.scss
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write

style(side panel): applying tokens and positioning dismiss button
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
Due: prettier --write, eslint --fix

style(side panel): applying widths so they handle no content better
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/tests/__snapshots__/gux-side-panel.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
Due: prettier --write
