Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

test(form-footer): Add Playwright tests (#1135)
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/__snapshots__/gux-form-footer.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-desktop-placement-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-desktop-placement-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-mobile-placement-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-page-mobile-placement-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-side-sheet-desktop-placement-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.playwright.ts-snapshots/gux-form-footer-should-render-as-expected-for-side-sheet-desktop-placement-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/tests/gux-form-footer.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-link/tests/gux-link.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix

test(form-fieldset-heading): Add Playwright test (#1134)
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/__snapshots__/gux-form-fieldset-heading.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.common.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.playwright.ts-snapshots/gux-form-fieldset-heading-should-render-with-slotted-heading-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.playwright.ts-snapshots/gux-form-fieldset-heading-should-render-with-slotted-heading-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-fieldset-heading/tests/gux-form-fieldset-heading.spec.ts
Due: prettier --write, eslint --fix

chore(flyout-menu): Removed unneeded host role within gux-flyout-menu host
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
Due: prettier --write, eslint --fix

feat(avatar-beta): Make tooltip optional (#1128)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(list): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.common.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts-snapshots/gux-list-should-render-gux-tab-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts-snapshots/gux-list-should-render-gux-tab-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.spec.ts
Due: prettier --write, eslint --fix

test(month-picker-beta): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.common.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.ts
Due: prettier --write, eslint --fix

test(rich-text-editor-list): Add Playwright test
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.common.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.playwright.ts-snapshots/gux-rich-text-editor-list-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.playwright.ts-snapshots/gux-rich-text-editor-list-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.ts
Due: prettier --write, eslint --fix

test(rich-text-editor-list): Add Playwright test (#1137)
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.common.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.playwright.ts-snapshots/gux-rich-text-editor-list-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.playwright.ts-snapshots/gux-rich-text-editor-list-should-render-component-as-expected-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/gux-rich-text-editor-list.e2e.ts
Due: prettier --write, eslint --fix

chore(other): fix merge conflicts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: none

feat(icon): addition of new icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-dashed-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-half-stroke-regular.svg
Due: prettier --write, eslint --fix, svgo -i

test(cta-group): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/__snapshots__/gux-cta-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.common.ts
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-dangerous-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-dangerous-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-end-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-end-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-start-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-start-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-beta-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-beta-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-beta-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-beta-2-darwin.png
Due: prettier --write, eslint --fix

test(cta-group): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/__snapshots__/gux-cta-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.common.ts
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-dangerous-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-dangerous-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-end-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-end-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-start-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.playwright.ts-snapshots/gux-cta-group-Should-render-as-expected-for-start-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-cta-group/tests/gux-cta-group.e2e.ts
Due: prettier --write, eslint --fix

refactor(icon): update icons
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-dashed-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/circle-half-stroke-regular.svg
Due: svgo -i

feat(stepper-beta): addition of stepper component
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.types.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

refactor(stepper-beta): addition of icons
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
Due: prettier --write, eslint --fix

fix(avatar-focusable-beta): reduce clickable space
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: none

chore(list): Removed unneeded describe in tests and fixed typo
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.common.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.spec.ts
Due: prettier --write, eslint --fix

chore(selector-card-beta): add extra rules for max size
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write

chore(flyout-menu): Fixed snapshop test
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
Due: none

chore(button-slot): update example page
  packages/genesys-spark-components/src/components/stable/gux-button-slot/example.html
Due: stylelint --fix, prettier --write

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(avatar-focusable-beta): reduce clickable space (#1143)
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: none

chore(flyout-menu): Fixed unit test snapshot file
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
Due: none

chore(popover-list): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.common.ts
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-should-render-gux-popover-list-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-should-render-gux-popover-list-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.ts
Due: prettier --write, eslint --fix

chore(flyout-menu): Reversed accidental flyout-menu playwright code
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.common.ts
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-should-render-gux-popover-list-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-should-render-gux-popover-list-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.ts
Due: prettier --write, eslint --fix

style(side_panel): tokens for side panel enhancements
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
Due: prettier --write

fix(pagination-cursor): Make buttons clickable in NVDA
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-list/tests/__snapshots__/gux-rich-text-editor-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/__snapshots__/gux-pagination-cursor.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/__snapshots__/gux-pagination-cursor.spec.ts.snap
Due: prettier --write, eslint --fix

feat(side panel): header enhancements
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-modal-side-panel/gux-modal-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/gux-side-panel-header.types.ts
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-header/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/gux-side-panel-heading.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/gux-side-panel-heading.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/example.html
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/gux-side-panel.tsx
  packages/genesys-spark-components/src/components/beta/gux-side-panel/mixins.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-tokens/data/ui/deprecated.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write, eslint --fix

chore(tab-list): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/tests/gux-tab-list.common.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/tests/gux-tab-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/tests/gux-tab-list.e2e.playwright.ts-snapshots/gux-tab-list-should-render-gux-tab-list-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/tests/gux-tab-list.e2e.playwright.ts-snapshots/gux-tab-list-should-render-gux-tab-list-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/tests/gux-tab-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/tests/gux-tab-list.spec.ts
Due: prettier --write, eslint --fix

chore(other): change jenkins agent
  Jenkinsfile
  packages/genesys-spark-chart-components-react/Jenkinsfile
  packages/genesys-spark-components-react/Jenkinsfile
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

test(popover-list): fixed Playwright test
  packages/genesys-spark-components/src/components/stable/gux-popover-list/tests/gux-popover-list.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(list): Fixed snapshot files
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts-snapshots/gux-list-should-render-gux-list-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts-snapshots/gux-list-should-render-gux-list-2-darwin.png
Due: none

chore(popover): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-gux-popover-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-gux-popover-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.153.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(label-info-beta): Added playwright tests
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.common.ts
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-gux-label-info-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-gux-label-info-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-info-variant-for-gux-label-info-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-info-variant-for-gux-label-info-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-invalid-variant-for-gux-label-info-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-invalid-variant-for-gux-label-info-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-question-variant-for-gux-label-info-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-question-variant-for-gux-label-info-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-tooltip-embedded-HTML-content-for-gux-label-info-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-tooltip-embedded-HTML-content-for-gux-label-info-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-tooltip-text-content-for-gux-label-info-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-tooltip-text-content-for-gux-label-info-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.spec.ts
Due: prettier --write, eslint --fix

test(avatar-change-photo-beta): Add playwright test
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.playwright.ts-snapshots/gux-avatar-change-photo-beta-renders-as-expected-with-slotted-avatar-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.playwright.ts-snapshots/gux-avatar-change-photo-beta-renders-as-expected-with-slotted-avatar-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-beta-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-beta-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-beta-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-beta-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/readme.md
Due: prettier --write, eslint --fix

test(table-toolbar): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.playwright.ts-snapshots/gux-table-toolbar-Should-render-gux-table-toolbar-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.playwright.ts-snapshots/gux-table-toolbar-Should-render-gux-table-toolbar-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/gux-table-toolbar.e2e.ts
Due: prettier --write, eslint --fix

fix(other): improved legacy theme's error color accessibility
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/readme.md
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
Due: stylelint --fix, prettier --write

test(radial-loading): Add playwright test
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/__snapshots__/gux-radial-loading.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.common.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.ts
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
