Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(tooltip): update max-width of tooltips to 350px
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

test(flyout-menu): Add playwright test (#1248)
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.common.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.spec.ts
Due: prettier --write, eslint --fix

test(avatar-overflow-item-beta): Add playwright test (#1247)
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts-snapshots/gux-avatar-beta-overflow-item-beta-Should-render-as-expected-default-with-name-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts-snapshots/gux-avatar-beta-overflow-item-beta-Should-render-as-expected-default-with-name-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.ts
Due: prettier --write, eslint --fix

style(select-all): change of padding-top to 12px from 4px
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

test(popover-beta): add playwright test
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.ts
Due: prettier --write, eslint --fix

chore(other): update node version to match jenkins
  .nvmrc
  Jenkinsfile
  package-lock.json
  package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
Due: prettier --write

test(popover-beta): add playwright test (#1255)
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-beta-renders-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.ts
Due: prettier --write, eslint --fix

chore(release): 4.157.5
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

feat(other): use Gregorian calendar for all locales
  packages/genesys-spark-chart-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.service.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark/snapshot/index.d.ts
  packages/genesys-spark/snapshot/index.js
  packages/genesys-spark/src/utils/intl.ts
  packages/genesys-spark/test/intl.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

test(phone-input-beta): add playwright tests
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.common.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-phone-input-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-phone-input-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-default-region-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-default-region-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-e164-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-e164-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-international-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-international-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-toll-free-type-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-toll-free-type-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-value-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-value-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: prettier --write, eslint --fix

fix(phone-input-beta): add drop-shadow
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Due: none

chore(dropdown): use getOptionDefaultSlot for selected text
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

test(rich-text-editor-beta): added Playwright tests
  package.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/__snapshots__/gux-rich-text-editor-action-link.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.common.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-link-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-link-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-link-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-link-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/tests/gux-rich-text-editor-action-link.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/__snapshots__/gux-rich-text-editor-action-rich-style.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.common.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-rich-style-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-rich-style-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-rich-style-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-rich-style-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-rich-style/tests/gux-rich-text-editor-action-rich-style.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/__snapshots__/gux-rich-text-editor-action-text-highlight.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.common.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-text-highlight-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-text-highlight-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-text-highlight-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.e2e.playwright.ts-snapshots/gux-rich-text-editor-action-text-highlight-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-text-highlight/tests/gux-rich-text-editor-action-text-highlight.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/__snapshots__/gux-rich-text-editor.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.common.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.playwright.ts-snapshots/gux-rich-text-editor-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.playwright.ts-snapshots/gux-rich-text-editor-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.playwright.ts-snapshots/gux-rich-text-editor-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.playwright.ts-snapshots/gux-rich-text-editor-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/tests/gux-rich-text-editor.spec.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

chore(sort-control): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-action-column-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-action-column-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-ascending-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-ascending-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-descending-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-descending-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-numeric-column-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-numeric-column-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-unsorted-state-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-in-unsorted-state-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-with-include-unsorted-enabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table/gux-sort-control/tests/gux-sort-control.e2e.playwright.ts-snapshots/gux-sort-control-should-render-sort-control-with-include-unsorted-enabled-2-darwin.png
Due: prettier --write, eslint --fix

feat(icon): Adding square-solid icon
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/square-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(other): tokens for select-all
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

Legacy background for segmented control
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

fix(dropdown): Show drop-shadow in dropdowns
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

feat(tokens): updated figma vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

test(form-field-checkbox): added Playwright tests
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-3-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-4-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-4-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-5-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts-snapshots/gux-form-field-checkbox-render-should-render-component-as-expected-5-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.spec.ts
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: prettier --write, eslint --fix

test(form-field-checkbox-group-beta): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/__snapshots__/gux-form-field-checkbox-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-2-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-2-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-3-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-3-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-4-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-4-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-5-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-5-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-6-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts-snapshots/gux-form-field-checkbox-group-render-should-render-component-as-expected-6-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/__snapshots__/gux-form-field-checkbox.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.spec.ts
Due: prettier --write, eslint --fix

chore(release): 4.157.6
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(phone-input-beta): drop-shadow and playwright test (#1257)
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.common.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-phone-input-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-phone-input-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-default-region-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-default-region-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-e164-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-e164-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-international-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-international-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-toll-free-type-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-toll-free-type-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-value-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.playwright.ts-snapshots/gux-phone-input-beta-should-render-with-value-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: prettier --write, eslint --fix

style(select-all): update to padding from padding-top 12px to all 12px
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

chore(other): updating select-all token
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

feat(select-all): addition of select-all feature
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.service.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

refactor(select-all): update token
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
Due: none

feat(icon): Adding square-solid icon (#1252)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/square-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write, eslint --fix, svgo -i

chore(dropdown): use getOptionDefaultSlot for selected text (#1253)
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

test(form-field-color): added Playwright tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox-group/tests/gux-form-field-checkbox-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/tests/gux-form-field-checkbox.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.common.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-078e8-s-expected-when-input-attribute-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-34034-cted-when-an-optional-help-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-5160a-s-expected-when-input-attribute-is-disabled-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-600e1-hen-an-optional-label-info-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-87318--expected-when-label-position-is-screenreader-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-898ab--expected-when-label-position-is-screenreader-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-91693-ted-when-an-optional-error-slot-is-provided-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-93f1e-s-expected-when-input-attribute-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-c3c78-cted-when-an-optional-help-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-c968b-hen-an-optional-label-info-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-e7d10-ted-when-an-optional-error-slot-is-provided-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-com-fbcd4-s-expected-when-input-attribute-is-disabled-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-indicator-mark-is-optional-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-indicator-mark-is-optional-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-indicator-mark-is-required-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-indicator-mark-is-required-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-label-position-is-above-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-label-position-is-above-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-label-position-is-beside-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.playwright.ts-snapshots/gux-form-field-color-render-should-render-component-as-expected-when-label-position-is-beside-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/gux-form-field-color.spec.ts
  packages/genesys-spark-components/src/test/expectToHaveNoViolations.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

fix(dropdown): Show drop-shadow in dropdowns (#1260)
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

chore(segmented-control-beta): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.common.ts
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-basic-segmented-control-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-basic-segmented-control-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-disabled-segmented-control-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-disabled-segmented-control-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-icon-only-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-icon-only-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-icons-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-icons-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-individual-disabled-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-individual-disabled-items-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-selected-value-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-selected-value-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-two-items-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.playwright.ts-snapshots/gux-segmented-control-beta-Should-render-with-two-items-2-darwin.png
Due: prettier --write, eslint --fix

test(popover-list-beta): Add playwright test
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.common.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-beta-renders-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.playwright.ts-snapshots/gux-popover-list-beta-renders-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-popover-list-beta/tests/gux-popover-list.e2e.ts
Due: prettier --write, eslint --fix

test(selector-cards-beta): add playwright tests
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.common.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-checkbox-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-checkbox-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-radio-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-radio-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-checkbox-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-checkbox-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-radio-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-radio-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: prettier --write, eslint --fix

test(selector-cards-beta): add playwright tests (#1267)
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/__snapshots__/gux-selector-cards.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.common.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-checkbox-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-checkbox-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-radio-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-descriptive-radio-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-checkbox-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-checkbox-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-radio-selector-cards-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.playwright.ts-snapshots/gux-selector-cards-beta-render-renders-simple-radio-selector-cards-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/tests/gux-selector-cards.spec.ts
Due: prettier --write, eslint --fix

hover bg colour change segmneted control legacy
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
