Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(tokens): reusable_label-tooltip color-new tokens jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(gux-form-field-range): use gut-tooltip-base for range tooltip
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

fix(calendar-beta): selecting dates in april or november does not select date
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/services/calendar.service.ts
Due: prettier --write, eslint --fix

chore(dependencies): updated dev dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.21.3
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): help text gap new token jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): input help text new token jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): help text new tokens jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.22.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

build(dependencies): fixed vega dependencies to exact version
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.tsx
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

feat(avatar): add notification badge
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): add extra presences
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): add subpresence and code review changes
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): update based on review
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): add presence and presence rings
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): account for presence none
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): add regular and restricted icons
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/00-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/anchor-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-up-down-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/building-user-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/calendar-circle-user-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/compass-drafting-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/grid-2-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/headset-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/screwdriver-wrench-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
  web-apps/genesys-spark-examples/src/utils/generateRestrictedIcons.js
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.22.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(dependencies): updated some dependencies to latest
  package-lock.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  playground/vue-3/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): add regular and restricted icons (#354)
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/00-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/anchor-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-up-down-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/building-user-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/calendar-circle-user-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/compass-drafting-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/grid-2-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/headset-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/restricted/fa/screwdriver-wrench-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
  web-apps/genesys-spark-examples/src/utils/generateRestrictedIcons.js
  web-apps/genesys-spark-examples/webpack.config.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

build(dependencies): updated some dependencies to latest
  package-lock.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar): Show presence ring and badges (#345)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): add 3 new icons to v3
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/00-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/anchor-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-up-down-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(tokens): Added new core tokens
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.23.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(icon): add 3 new icons to v3 (#357)
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/00-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/anchor-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-up-down-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(util): address PR comment
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-components/src/genesys-spark-utils/intl.ts
  packages/genesys-spark/src/utils/get-closest-element.ts
  packages/genesys-spark/src/utils/intl.ts
Due: prettier --write, eslint --fix

feat(tokens): Added form pattern tokens pt1
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.23.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.121.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): Added form pattern tokens pt2
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(datepicker): first keypress after focus should be treated as new input
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
Due: prettier --write, eslint --fix

chore(dependencies): updated some dependencies to latest
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write, eslint --fix

feat(toknes): Updated figma variables
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(tokens): created missing tokens based on Spark Data color palette
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/genesys-spark-utils/get-closest-element.ts
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
Due: stylelint --fix, prettier --write, eslint --fix

fix(tokens): Adjusted form header typography style.
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.24.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(pr-comment): addressed PR comment
  packages/genesys-spark-components/scripts/list-i18n-files.js
  packages/genesys-spark-components/src/components/stable/gux-icon/icon-names-deprecated.ts
  web-apps/genesys-spark-examples/src/utils/generate-icon-list-html.js
Due: prettier --write, eslint --fix
