Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(other): simplify component tests scripts
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
Due: prettier --write

feat(other): update stenciljs to v4.35.1
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(other): fix stencil build
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
  packages/genesys-spark-components/src/test/e2eTestUtils.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

chore(other): update readmes
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-donut/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-pie/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-components/src/components/beta/gux-announce/readme.md
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/readme.md
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

feat: initial CLDR time zone stuff
  package-lock.json
  packages/genesys-spark-utils/jest.config.js
  packages/genesys-spark-utils/package.json
  packages/genesys-spark-utils/src/cldr/bcp47timezone.spec.ts
  packages/genesys-spark-utils/src/cldr/bcp47timezone.ts
  packages/genesys-spark-utils/src/cldr/timezones.spec.ts
  packages/genesys-spark-utils/src/cldr/timezones.ts
  packages/genesys-spark-utils/tsconfig.json
Due: prettier --write, eslint --fix

refactor(copy-to-clipboard): remove keydodwn event
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-component-as-expected-11-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-button/tests/gux-button.e2e.playwright.ts-snapshots/gux-button-should-render-component-as-expected-11-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-component-as-expected-16-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.playwright.ts-snapshots/gux-toggle-should-render-component-as-expected-16-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-in-a-table-cell-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-in-a-table-cell-2-darwin.png
Due: prettier --write, eslint --fix

fix(copy-to-clipboard): button not clickable via keyboard in nvda
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
Due: prettier --write, eslint --fix

chore(other): fixed spec tests
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/gux-context-menu.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/__snapshots__/gux-tab.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/gux-tab.spec.ts
Due: prettier --write, eslint --fix

feat: CLDR territory names
  package-lock.json
  packages/genesys-spark-utils/package.json
  packages/genesys-spark-utils/src/cldr/territories.spec.ts
  packages/genesys-spark-utils/src/cldr/territories.ts
Due: prettier --write, eslint --fix

chore(other): updated rollup node polyfill
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/stencil.config.ts
Due: prettier --write, eslint --fix

fix(stepper-beta): UXQA review updates
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
Due: stylelint --fix, prettier --write

chore(other): fix e2e tests
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/tests/__snapshots__/gux-chart-line.e2e.ts.snap
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/tests/gux-chart-line.e2e.ts
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/tests/__snapshots__/gux-visualization.e2e.ts.snap
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/tests/gux-visualization.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/gux-avatar-group.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-popover-beta/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table/tests/__snapshots__/gux-table.e2e.ts.snap
Due: prettier --write, eslint --fix

feat: produce equivalent formatted zones as gux-time-zone-picker
  packages/genesys-spark-utils/src/cldr/timezones.spec.ts
  packages/genesys-spark-utils/src/cldr/timezones.ts
Due: prettier --write, eslint --fix

chore(form-field-phone): Fixed issue with double focus ring on country code and input elements
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Due: none

chore(accordion): NVDA troubleshooting
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.playwright.ts-snapshots/gux-date-time-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-full-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-full-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-long-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-long-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-medium-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-medium-format-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-short-format-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.playwright.ts-snapshots/gux-time-should-render-as-expected-for-short-format-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-accordion/example.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.tsx
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-after-max-lines-displayed-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.playwright.ts-snapshots/gux-truncate-should-truncate-slotted-text-node-1-darwin.png
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.156.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

refactor(form-field-text-like): address pr comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-character-count/gux-form-field-character-count.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): update dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.e2e.ts.snap
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(form-field-range): Added tests
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/__snapshots__/gux-form-field-range.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/__snapshots__/gux-form-field-range.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/tests/gux-form-field-range.spec.ts
Due: prettier --write, eslint --fix

chore(form-field-phone): Refactored css input width
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Due: none

chore(release): 4.156.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(form-field-text-like): reduce to one event
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.tsx
Due: prettier --write, eslint --fix

chore(other): improved the jenkins job description
  Jenkinsfile
Due: none

chore(other): update floating-ui dependency to latest
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tokens): Added z index tokens
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

chore(release): 4.156.2
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(dropdown): Exclude subtext from selected option
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
Due: prettier --write, eslint --fix

chore(radial-progress): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/tests/gux-radial-progress.common.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/tests/gux-radial-progress.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/tests/gux-radial-progress.e2e.playwright.ts-snapshots/gux-radial-progress-should-render-as-gux-radial-progress-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/tests/gux-radial-progress.e2e.playwright.ts-snapshots/gux-radial-progress-should-render-as-gux-radial-progress-as-expected-2-darwin.png
Due: prettier --write, eslint --fix

fix(dropdown): Exclude subtext from selected option (#1124)
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/gux-dropdown.e2e.ts
Due: prettier --write, eslint --fix

chore(pagination-cursor): addition of playwright tests
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.common.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-advanced-layout-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-advanced-layout-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-next-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-next-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-previous-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-previous-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-previous-and-has-next-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-previous-and-has-next-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-previous-and-has-next-and-layout-advanced-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-has-previous-and-has-next-and-layout-advanced-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-simple-layout-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/tests/gux-pagination-cursor.e2e.playwright.ts-snapshots/gux-pagination-cursor-Should-render-as-expected-for-simple-layout-2-darwin.png
Due: prettier --write, eslint --fix

chore(tabs-advanced): Fixed axe-violation
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.ts
Due: prettier --write, eslint --fix

chore(tabs-advanced): Fixed snapshot
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.spec.ts.snap
Due: none

chore(tabs-advanced): Added tabindex back in
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.ts
Due: prettier --write, eslint --fix
