Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

refactor(inline-alert): component reskin
  packages/genesys-spark-components/src/components/stable/gux-alert/example.html
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.scss
  packages/genesys-spark-components/src/components/stable/gux-alert/gux-inline-alert.tsx
  packages/genesys-spark-components/src/components/stable/gux-alert/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-button): tokens
  packages/genesys-spark-components/src/components/beta/gux-button-slot/gux-button-slot.less
  packages/genesys-spark-components/src/components/beta/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.less
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.less
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-tokens/data/tokens.json
Due: stylelint --fix, prettier --write

refactor(card): moved card from beta to stable
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/beta/gux-card/gux-card.types.ts
  packages/genesys-spark-components/src/components/beta/gux-card/tests/__snapshots__/gux-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-card/tests/__snapshots__/gux-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-card/tests/gux-card.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-card/tests/gux-card.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-card/example.html
  packages/genesys-spark-components/src/components/stable/gux-card/gux-card.scss
  packages/genesys-spark-components/src/components/stable/gux-card/gux-card.tsx
  packages/genesys-spark-components/src/components/stable/gux-card/gux-card.types.ts
  packages/genesys-spark-components/src/components/stable/gux-card/readme.md
  packages/genesys-spark-components/src/components/stable/gux-card/tests/__snapshots__/gux-card.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-card/tests/__snapshots__/gux-card.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-card/tests/gux-card.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(tokens): updated tokens from UX
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-actions.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-actions.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-actions.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-actions.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

feat(toast): creating gux-toast and moving old toast components to legacy
  packages/genesys-spark-components/src/components/beta/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-truncate/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/example.html
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/gux-action-toast.tsx
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/__snapshots__/gux-action-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/__snapshots__/gux-action-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/gux-action-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/gux-action-toast.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/example.html
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/gux-notification-toast.tsx
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/gux-notification-toast.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/__snapshots__/gux-notification-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/__snapshots__/gux-notification-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/gux-notification-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/gux-notification-toast.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/example.html
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/gux-simple-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/gux-simple-toast.tsx
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/gux-simple-toast.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/__snapshots__/gux-simple-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/__snapshots__/gux-simple-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/gux-simple-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/gux-simple-toast.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toast/example.html
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.tsx
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.types.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(toast): fixing tests for legacy toasts, refactoring styling
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/__snapshots__/gux-action-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/__snapshots__/gux-action-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/gux-action-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-action-toast/tests/gux-action-toast.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/__snapshots__/gux-notification-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/__snapshots__/gux-notification-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/gux-notification-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/tests/gux-notification-toast.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/__snapshots__/gux-simple-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/__snapshots__/gux-simple-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/gux-simple-toast.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/tests/gux-simple-toast.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/example.html
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
Due: stylelint --fix, prettier --write, eslint --fix

refactor(truncate): move from beta to stable
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/beta/gux-dropdown-multi/tests/__snapshots__/gux-dropdown-multi.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-items-per-page-beta/tests/__snapshots__/gux-pagination-items-per-page-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-table/example.html
  packages/genesys-spark-components/src/components/beta/gux-truncate/tests/__snapshots__/gux-truncate.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-alert/example.html
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/gux-option-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/gux-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/gux-option/readme.md
  packages/genesys-spark-components/src/components/stable/gux-notification-toast/gux-notification-toast.tsx
  packages/genesys-spark-components/src/components/stable/gux-notification-toast/readme.md
  packages/genesys-spark-components/src/components/stable/gux-notification-toast/tests/__snapshots__/gux-notification-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-simple-toast/gux-simple-toast.tsx
  packages/genesys-spark-components/src/components/stable/gux-simple-toast/readme.md
  packages/genesys-spark-components/src/components/stable/gux-simple-toast/tests/__snapshots__/gux-simple-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/example.html
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.scss
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/__snapshots__/gux-truncate.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/__snapshots__/gux-truncate.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-truncate/tests/gux-truncate.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

refactor(radial-loading): component now uses scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.less
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.scss
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.tsx
Due: stylelint --fix, prettier --write, eslint --fix

COMUI-1409: Content search component accessibility (#1349)
  packages/genesys-spark-components/src/components/beta/gux-column-manager/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager.less
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager.tsx
  packages/genesys-spark-components/src/components/beta/gux-column-manager/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.less
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(commitlint): fixed broken build
  package.json
Due: prettier --write

chore(gux-button): add comment referencing missing token ticket
  packages/genesys-spark-components/src/components/beta/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.less
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
Due: stylelint --fix, prettier --write

chore(release): 3.96.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(text-highlight): enabled shadow DOM
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.scss
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.tsx
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/__snapshots__/gux-text-highlight.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/__snapshots__/gux-text-hightlight.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/tests/gux-text-highlight.e2e.ts
Due: prettier --write, eslint --fix

chore(toast): adding tests
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.spec.ts
Due: prettier --write, eslint --fix

refactor(copy-to-clipboard): implemented new tokens based design
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.less
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.types.ts
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(toast): remove comment
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.tsx
Due: prettier --write, eslint --fix

chore(toast): updating test snapshot
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.spec.ts.snap
Due: none

chore(toast): updating slot comment
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.tsx
  packages/genesys-spark-components/src/components/stable/gux-toast/readme.md
Due: prettier --write, eslint --fix

chore(tokens): update tokens
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

feat(gux-tag-beta truncation): fixed gux-tooltip-text to truncate properly
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

chore(stencil): upgrade stencil to v3
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/readme.md
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/gux-calendar.methods.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

chore(stencil): pin stencil version to 3.2.2
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

chore(toast): removing unneeded style imports, creating a11y checklist
  packages/genesys-spark-components/src/components/stable/gux-toast/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
Due: none

refactor(icon): icon changes for v4
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/beta/gux-blank-state/example.html
  packages/genesys-spark-components/src/components/beta/gux-blank-state/tests/__snapshots__/gux-blank-state.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-blank-state/tests/gux-blank-state.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-blank-state/tests/gux-blank-state.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-accordion/example.html
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/__snapshots__/gux-accordion.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-accordion/tests/gux-accordion.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.service.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
  packages/genesys-spark-components/src/components/stable/gux-icon/icon-name-map.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/legacy-icon-names.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateLegacyIcons.js
Due: stylelint --fix, prettier --write, eslint --fix

chore(toast): adding missing tokens
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

feat(listbox): made empty message configurable
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

refactor(copy-to-clipboard): move from beta to stable
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/example.html
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.tsx
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.types.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/__snapshots__/gux-copy-to-clipboard.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(tooltip ellipsis fix): tooltip show/hide logic fix
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

refactor(page-loading-spinner): component now uses scss
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/gux-page-loading-spinner.scss
  packages/genesys-spark-components/src/components/stable/gux-page-loading-spinner/gux-page-loading-spinner.tsx
Due: prettier --write, eslint --fix

refactor(tokens): updated tokens from UX
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(toast): accessibility checklist, refactors based on review
  packages/genesys-spark-components/src/components/stable/gux-toast/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-toast/example.html
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.tsx
  packages/genesys-spark-components/src/components/stable/gux-toast/readme.md
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write, eslint --fix

chore(toast): fixing tests
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/gux-toast.spec.ts
Due: prettier --write, eslint --fix

chore(tokens): updated tokens to latest version
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-searchAndFilter.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-searchAndFilter.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-searchAndFilter.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-searchAndFilter.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(floating-ui): pin floating-ui to 1.4.3
  package-lock.json
  packages/genesys-spark-components/package.json
Due: prettier --write

ci(jenkins): enable beta release publishing
  Jenkinsfile
Due: none

chore(migration-guide): add calendar input event renamed to calendarSelect
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

chore(release): 3.97.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
