Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(tokens): Added arrow border radius
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(commitlint): update linting origin commit. The previous one was invalid
  package.json
Due: prettier --write

ci(github): bump reviewer lottery count back up to 2
  .github/reviewer-lottery.yml
Due: none

style(prettier): update prettier ignore, prettify genesys-spark package
  .prettierignore
  package-lock.json
  packages/genesys-spark-components/.prettierignore
  packages/genesys-spark/.prettierignore
  packages/genesys-spark/README.md
  packages/genesys-spark/package.json
  packages/genesys-spark/rollup.config.js
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/src/loading.ts
  packages/genesys-spark/test/loading.spec.ts
Due: prettier --write, eslint --fix

refactor(time-picker): addition of missing tokens
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

feat(domains): support new domains
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
Due: prettier --write, eslint --fix

refactor(toast): ux-review
  packages/genesys-spark-components/src/components/stable/gux-toast/gux-toast.scss
Due: none

feat(tokens): new tokens time piker jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens time picker jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(tokens): update tokens to latest
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

feat(tokens): new tokens search jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(tooltip): hiding tooltip when target is scrolled out of view
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

fix(gux-copy-to-clipboard): token fixes
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Due: none

feat(tokens): new tokens flyout jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(gux-time-picker): missing tokens
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

refactor(gux-time-picker): remove comment
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
Due: none

feat(tokens): new tokens color picker jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(tokens): updating tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-searchAndFilter.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-searchAndFilter.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-searchAndFilter.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-searchAndFilter.scss
Due: stylelint --fix, prettier --write

refactor(flyout-menu): missing tokens
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
Due: none

fix(asset-loading): fixed default asset loading
  packages/genesys-spark-components/scripts/stencil-wrapper.ts
Due: prettier --write, eslint --fix

refactor(color-picker): missing tokens
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
Due: none

chore(gux-form-field-radio): using tokens for icons
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio-icons.scss
Due: none

fix(token): Fixed token issues from COMUI-2294
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(tokens): fixed token issues from COMUI-2327
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(genesys-spark): add eslint configuration
  package-lock.json
  packages/genesys-spark/.eslintignore
  packages/genesys-spark/.eslintrc.json
  packages/genesys-spark/.lintstagedrc.json
  packages/genesys-spark/package.json
  packages/genesys-spark/test/loading.spec.ts
  packages/genesys-spark/tsconfig.json
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.53
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(time-picker): removed flaky tests
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
Due: prettier --write, eslint --fix

refactor(tokens): missing tokens
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(tokens): update tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-navigation.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-navigation.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-navigation.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

fix(tooltip): hiding tooltip when target is scrolled out of view (backport)
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Due: prettier --write, eslint --fix

chore(release): 3.108.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(gux-popover): added token for arrow
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
Due: none

fix(gux-form-field-color): added border styling
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
Due: none

fix(gux-form-field-color): added hover border styling
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
Due: none

chore(release): 3.108.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(genesys-spark): ensure asset loading is done on the same domain for new regions
  packages/genesys-spark/src/hosts.ts
  packages/genesys-spark/test/hosts.spec.ts
Due: prettier --write, eslint --fix

fix(breadcrumb): adding default focus styling to breadcrumb-item
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.less
Due: stylelint --fix, prettier --write

fix(breadcrumb): adding focus tokens
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/readme.md
Due: none

fix(copy-to-clipboard): prevent icon from shrinking
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Due: none

docs(migration-guide): updates
  README.md
  docs/CONTRIBUTING.md
  docs/migration-guides/v2/icon-updates-and-consolidation.md
  docs/migration-guides/v2/v2.md
  docs/migration-guides/v4/color-palette.md
  docs/migration-guides/v4/readme.md
  docs/migration-guides/v4/spacing.md
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/example.html
  web-apps/genesys-spark-examples/src/component-listing/app.js
Due: stylelint --fix, prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
