Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(gux-form-field margin): added migration steps
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

chore(gux-form-field margin): fixed migration step wording
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

build(release): main branch will release a beta version while v4 is developed on it
  Jenkinsfile
Due: none

fix(timezones): added missing timezones
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-tag/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/time-zone/identifiers.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.spec.ts
  packages/genesys-spark-components/src/utils/date/get-valid-timezone.ts
Due: prettier --write, eslint --fix

fix(gux-icon): prevent updates to svgHtml if baseSvgHtml is not set
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

feat(gux-popup-beta): hide popup when target element goes out of view
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
Due: prettier --write, eslint --fix

fix(popover): find-element-by-id tries to call getElementById non-document node
  packages/genesys-spark-components/src/utils/dom/find-element-by-id.ts
Due: prettier --write, eslint --fix

chore(gux-popover): added comment for is-open
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.9
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(gux-phone-input): reimplement phone input behavior to closely align to intl-tel-input
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager.less
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/RegionCountryCodeMap.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/region-map.service.ts
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(tokens): update to latest tokens
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-layoutContainer.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-layoutContainer.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-layoutContainer.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

chore(release): 3.101.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(table): updating migration doc
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

chore(release): 4.0.0-beta.10
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.11
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.12
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(time-picker): beta to stable
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/__snapshots__/gux-form-field-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/tests/gux-form-field-time-picker.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/readme.md
  packages/genesys-spark-components/src/components/stable/gux-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-time-picker/example.html
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.less
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.service.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.tsx
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.type.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-time-picker/readme.md
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/__snapshots__/gux-time-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.service.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-time-picker/tests/gux-time-picker.spec.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/utils/dom/on-attribute-change.ts
Due: stylelint --fix, prettier --write, eslint --fix

refactor(time-picker): update migration guide
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
Due: none

refactor(accordion): token adoption
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.less
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.tsx
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion.scss
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion.tsx
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): unknown icon is now displayed when no icon-name is given
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.service.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.tsx
Due: prettier --write, eslint --fix

feat(icons): various requested icons
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/file-pen-question.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/filter-notification.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/list-alphabetical-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/list-roman-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/alarm-clock-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/alarm-snooze-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/backward-step-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-on-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-frown-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-frown-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-laugh-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-laugh-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/forward-step-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/pause-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/play-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/stop-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/subscript-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/superscript-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/volume-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/volume-xmark-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

Merge pull request #1377 from MyPureCloud/feature/GDS-1885_sets_2_to_8
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/file-pen-question.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/filter-notification.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/list-alphabetical-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/list-roman-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/alarm-clock-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/alarm-snooze-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/backward-step-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-on-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/bell-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-frown-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-frown-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-laugh-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/face-laugh-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/forward-step-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/pause-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/play-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/stop-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/subscript-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/superscript-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/volume-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/volume-xmark-regular.svg
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

feat(gux-phone-input): add methods to set and get phone region to support arbitrary format
  packages/genesys-spark-components/src/components/beta/gux-phone-input/components/gux-region-icon/gux-region-select.service.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/__snapshots__/gux-phone-input.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.0.0-beta.13
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(accordion): update some of the styling variables
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
Due: none

refactor(dismiss-button): converted dismiss button to v4 style
  packages/genesys-spark-components/src/components/beta/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/gux-pagination-buttons-beta/readme.md
  packages/genesys-spark-components/src/components/beta/gux-pagination-beta/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-simple-toast/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.less
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/tests/__snapshots__/gux-dismiss-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toast/readme.md
  web-apps/genesys-spark-examples/src/component-viewer/panels/events.js
  web-apps/genesys-spark-examples/src/styles/component-viewer.less
Due: stylelint --fix, prettier --write, eslint --fix

feat(date-time): added ability to set time zone
  packages/genesys-spark-components/src/components/beta/gux-date-time/example.html
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/__snapshots__/gux-date-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date-time/tests/gux-date-time.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-date/example.html
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/__snapshots__/gux-date.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-date/tests/gux-date.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/example.html
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/__snapshots__/gux-time.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time/tests/gux-time.spec.ts
  packages/genesys-spark-components/src/i18n/DateTimeFormatter.ts
  packages/genesys-spark-components/src/i18n/time-zone/identifiers.ts
  packages/genesys-spark-components/src/i18n/time-zone/types.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(content-search): accessibility fixes
  packages/genesys-spark-components/src/components/beta/gux-column-manager/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager.less
  packages/genesys-spark-components/src/components/beta/gux-column-manager/gux-column-manager.tsx
  packages/genesys-spark-components/src/components/beta/gux-column-manager/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.less
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/gux-content-search.e2e.ts
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

feat(gux-tag-beta truncation): fixed gux-tooltip-text to truncate properly
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

feat(tooltip ellipsis fix): tooltip show/hide logic fix
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
Due: prettier --write, eslint --fix

feat(listbox): made empty message configurable
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.tsx
Due: prettier --write, eslint --fix

refactor(tooltip): wip
  packages/genesys-spark-components/src/components/stable/gux-tooltip/example.html
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip-types.ts
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.less
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/tests/__snapshots__/gux-tooltip.spec.ts.snap
  packages/genesys-spark-tokens/data/tokens.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(icon): some icons commented out and not displaying
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
Due: stylelint --fix, prettier --write

fix(phone-input): fix ts error causing a build issue in ci
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Due: prettier --write, eslint --fix

fix(phone-input): extract interface to type file
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone.types.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.14
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(popover): apply a min-width of 280px
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.less
Due: stylelint --fix, prettier --write

feat(icon): icons requested in sprint gds23-2
  packages/genesys-spark-components/src/components/stable/gux-icon/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/font-regular-highlight.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/arrows-to-circle-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/award-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/diagram-nested-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-exclamation-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/hand-back-point-right-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/list-radio-clean-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/pen-slash-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/regular-user-circle-arrow-left.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-listbox/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
