Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 3.108.3
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.54
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(copy-to-clipboard): prevent icon from shrinking
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.less
Due: stylelint --fix, prettier --write

changed --gse-ui-menu-padding value from 8px 1px to 8px 0px
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens input field jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(gux-tooltip): remove anchor pending redesign
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/example.html
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.0.0-beta.55
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.108.4
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(genesys-spark): add date/time formatting utilities
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/src/intl.ts
  packages/genesys-spark/test/intl.spec.ts
  packages/genesys-spark/tsconfig.json
Due: prettier --write, eslint --fix

refactor(tokens): updating tokens
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

refactor(form-field): add missing token
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-legend-label/gux-form-field-legend-label.scss
Due: none

feat(tokens): new tokens input jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

changed badge.border_radius from badge height/2 (10px) to full border radius (100%)
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

docs(migration): added section to list components that do not need to be migrated
  docs/migration-guides/v4/readme.md
Due: none

feat(tokens): new tokens blank-state jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(inline-alert): fixed naming inconsistencies in the component
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-alert/tests/gux-inline-alert.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/example.html
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.scss
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.types.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/readme.md
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/gux-inline-alert.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(tokens): COMUI-2404 Added a smaller padding for checkbox's helper text
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): Added border-radius tokens for the slider component
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(tokens): update tokens
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

refactor(advanced-tabs): refactored component to work with new tokens
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-panel/gux-tab-advanced-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-panel/gux-tab-advanced-panel.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tabs-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tabs-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/__snapshots__/gux-tabs-advanced.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/tests/gux-tabs-advanced.e2e.ts
Due: prettier --write, eslint --fix

refactor(dropdown,dropdown-multi): adding missing gux-filter-suggestion tokens
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
Due: none

chore(release): 4.0.0-beta.56
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(form-field-range): addition of missing tokens
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
Due: none

feat(tokens): new tokens data table item jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.0.0-beta.57
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(build): prepare main to release beta
  web-apps/genesys-spark-examples/Jenkinsfile
Due: none

refactor(rating,docs): use mixin for focus ring
  docs/migration-guides/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.scss
Due: none

fix(focus-style): added missing utility classes
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.light.scss
  packages/genesys-spark-components/src/style/style-reset-focusable.scss
  packages/genesys-spark-components/src/style/style.scss
Due: none

refactor(tabs): missing tokens
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
Due: none

fix(loading-message): added max width restriction
  packages/genesys-spark-components/src/components/stable/gux-loading-message/gux-loading-message.scss
Due: none

fix(blank-state): changed min widt of large version
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.scss
Due: none

fix(segmented-control): fixed design system tokens
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
Due: none

feat(tokens): new tokens menu jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

Feat(icon) Added dismiss button color token from COMUI-2205
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.0.0-beta.58
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(form-field-checkbox): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
Due: none

refactor(popover-beta): update example file to match figma
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
Due: stylelint --fix, prettier --write

feat(inputs): increasing contrast between placeholder and value
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.less
Due: stylelint --fix, prettier --write

fix(pagination-cursor): fixing missing items per page dropdown
  packages/genesys-spark-components/src/components/stable/gux-blank-state/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/gux-pagination-cursor.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
