Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

test(radial-loading): Add playwright test (#1155)
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/__snapshots__/gux-radial-loading.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.common.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.ts
Due: prettier --write, eslint --fix

test(avatar-change-photo-beta): Add playwright test (#1153)
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.playwright.ts-snapshots/gux-avatar-change-photo-beta-renders-as-expected-with-slotted-avatar-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.playwright.ts-snapshots/gux-avatar-change-photo-beta-renders-as-expected-with-slotted-avatar-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-beta-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-a-disabled-gux-month-picker-beta-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-beta-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/gux-month-picker.e2e.playwright.ts-snapshots/gux-month-picker-beta-should-render-gux-month-picker-beta-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination-cursor/readme.md
Due: prettier --write, eslint --fix

feat(all-row-select): added label slot to improve accessibility
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/gux-all-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-all-row-select/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/gux-row-select.tsx
  packages/genesys-spark-components/src/components/stable/gux-table/gux-row-select/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

feat(other): added aria decorator
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/tests/__snapshots__/gux-breadcrumbs.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/decorator/aria.ts
Due: prettier --write, eslint --fix

feat(form-field-date-beta): added new datepicker form field component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.types.ts
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/gux-form-field-date.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/__snapshots__/gux-form-field-date.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-date/tests/gux-form-field-date.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-label-indicator/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/utils/dom/get-slot.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(other): update stencil to latest
  package-lock.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-column/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-donut/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-line/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-pie/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-chart-scatter-plot/readme.md
  packages/genesys-spark-chart-components/src/components/beta/gux-visualization/readme.md
  packages/genesys-spark-chart-components/stencil.config.ts
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/tests/gux-avatar-overflow.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/tests/__snapshots__/gux-avatar-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/readme.md
  packages/genesys-spark-components/src/components/beta/gux-tooltip-beta/tests/gux-tooltip.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-tooltip-pointer-beta/tests/gux-tooltip-pointer.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/tests/gux-copy-to-clipboard.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-datepicker/tests/__snapshots__/gux-datepicker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/tests/__snapshots__/gux-tab.spec.ts.snap
  packages/genesys-spark-components/src/test/e2eTestUtils.ts
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

chore(popover): Fixed playwright tests
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix

chore(popover): Fixed playwright test syntax
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-gux-popover-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-gux-popover-2-darwin.png
Due: prettier --write, eslint --fix

chore(release): 4.153.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(avatar-focusable-beta): Add Playwright tests
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-button-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-button-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-gux-avatar-change-photo-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-gux-avatar-change-photo-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-link-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-link-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
Due: prettier --write, eslint --fix

feat(stepper-beta): addition of stepper component
  packages/genesys-spark-components/src/components/beta/gux-stepper/example.html
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/gux-step-title.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step-title/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/gux-step.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-step/readme.md
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.scss
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.tsx
  packages/genesys-spark-components/src/components/beta/gux-stepper/gux-stepper.types.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

test(radial-loading): Disable animations in snapshot tests
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-2-darwin.png
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: prettier --write, eslint --fix

test(avatar-focusable-beta): Add Playwright tests (#1157)
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/gux-avatar-focusable.light.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-button-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-button-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-gux-avatar-change-photo-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-gux-avatar-change-photo-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-link-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.playwright.ts-snapshots/gux-avatar-focusable-beta-renders-as-expected-with-slotted-link-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
Due: prettier --write, eslint --fix

test(radial-loading): Disable animations in snapshot tests (#1158)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-default-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-full-page-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-input-context-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/tests/gux-radial-loading.e2e.playwright.ts-snapshots/gux-radial-loading-should-render-as-expected-for-modal-context-2-darwin.png
  packages/genesys-spark-components/src/test/playwrightTestUtils.ts
Due: prettier --write, eslint --fix

test(stepper-beta): addition of playwright tests
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.common.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-active-state-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-active-state-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-completed-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-completed-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-error-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-error-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-incomplete-alignment-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-incomplete-alignment-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-vertical-state-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-vertical-state-2-darwin.png
Due: prettier --write, eslint --fix

fix(tag): Improve NVDA accessibility of remove button
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
Due: prettier --write, eslint --fix

chore(list): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/__snapshots__/gux-list.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.common.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts-snapshots/gux-list-should-render-gux-list-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.playwright.ts-snapshots/gux-list-should-render-gux-list-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-list/tests/gux-list.spec.ts
Due: prettier --write, eslint --fix

chore(inline-alert): Added alert role
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/gux-inline-alert.tsx
Due: prettier --write, eslint --fix

fix(selector-card-beta): inherit inline-size
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write

chore(inline-alert): Fixed snapshot test files
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.spec.ts.snap
Due: none

feat(tokens): Added deprecation descriptions to tokens
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
Due: prettier --write

feat(tokens): Added deprecation notices to shadow colors
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(tokens): Added new shadow tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

chore(release): 4.154.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(tag): Improve NVDA accessibility of remove button (#1160)
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.tsx
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tag/tests/__snapshots__/gux-tag.spec.ts.snap
Due: prettier --write, eslint --fix

fix(month-picker-beta): Improve NVDA accessibility of buttons
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
Due: prettier --write, eslint --fix

chore(popover): Added playwright tests
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/__snapshots__/gux-popover.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.common.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.playwright.ts-snapshots/gux-popover-should-render-component-as-expected-1-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-popover/tests/gux-popover.spec.ts
Due: prettier --write, eslint --fix

fix(month-picker-beta): Improve NVDA accessibility of buttons (#1164)
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
Due: prettier --write, eslint --fix

chore(label-info-beta): Added playwright tests
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/__snapshots__/gux-label-info.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.common.ts
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-beta-info-variant-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-beta-info-variant-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-beta-question-variant-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.playwright.ts-snapshots/gux-label-info-beta-question-variant-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-label-info/tests/gux-label-info.e2e.ts
Due: prettier --write, eslint --fix

fix(table): Added horizontal scroll check for focus
  packages/genesys-spark-components/src/components/stable/gux-table/example.html
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(flyout-menu): Using gux-announce for accessibility
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

fix(dropdown): allow to filter dropdown on focus
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(release): 4.154.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(dropdown): update snapshots
  packages/genesys-spark-components/src/components/stable/gux-dropdown/tests/__snapshots__/gux-dropdown.spec.ts.snap
Due: none

test(stepper-beta): update playwright tests
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.common.ts
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-a-stepper-with-4-steps-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-a-stepper-with-4-steps-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-vertical-orientation-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-stepper/tests/gux-stepper.e2e.playwright.ts-snapshots/gux-stepper-Should-render-as-expected-for-vertical-orientation-2-darwin.png
Due: prettier --write, eslint --fix

refactor(dropdown): update snapshots
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/gux-pagination-items-per-page-legacy/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-pagination-legacy/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
Due: none

chore(other): update token reports
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

refactor(dropdown): update snpashots
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/tests/__snapshots__/gux-form-field-dropdown.spec.ts.snap
Due: none

refactor(table-toolbar): update tests
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
Due: prettier --write, eslint --fix

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
