Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

chore(time-zone-picker-beta): Fixed locator reference
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Due: prettier --write, eslint --fix

chore(other): setting examples to legacy theme
  web-apps/genesys-spark-examples/src/component-listing/app.js
  web-apps/genesys-spark-examples/src/component-viewer/app.js
Due: prettier --write

Updating redesign for UI component segmented control
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): Added deprecation notices to shadow colors
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(tokens): Sync existing UI tokens to new shadow tokens
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/layout_and_container.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): Added deprecation descriptions to tokens
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
Due: prettier --write

feat(tokens): Added new shadow tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
  packages/genesys-spark-tokens/data/semantic/theme/legacy.json
Due: prettier --write

feat(tokens): Generated figma variables
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Added z index tokens
  packages/genesys-spark-tokens/data/core.json
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): Adjusted shadow numerical order
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/feedback.json
  packages/genesys-spark-tokens/data/ui/forms_and_inputs.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): Created Figma vars
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

feat(tokens): Generated CSS vars
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/global.less
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/global.css.map
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/tokens/flare/_global.scss
  packages/genesys-spark/snapshot/tokens/flare/global.less
Due: stylelint --fix, prettier --write

feat(tokens): Adjusted values
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/semantic/theme/flare.json
Due: prettier --write

feat(tokens): Updated values in CSS
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-flare.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic-legacy-global.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-flare.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-semantic-legacy-global.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/css/flare/global.css
  packages/genesys-spark/snapshot/css/flare/global.css.map
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/global.css
  packages/genesys-spark/snapshot/css/global.css.map
  packages/genesys-spark/snapshot/css/legacy/global.css
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/global.css
  packages/genesys-spark/snapshot/global.css.map
  packages/genesys-spark/snapshot/ui.css
Due: stylelint --fix, prettier --write

feat(tokens): Updated variables
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/ui.css.map
Due: none

docs(other): add section about potential intl browser inconsistenices
  docs/intl.md
Due: none

fix(button-multi): open dropdown on enter and arrow key
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
Due: prettier --write, eslint --fix

feat(prompt-input-beta): Renamed component to gux-prompt-input-beta and PR fixes
  packages/genesys-spark-components/src/components/beta/gux-chat-input/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-chat-input/tests/__snapshots__/gux-chat-input-beta.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-chat-input/tests/gux-chat-input-beta.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/a11yManualChecklist.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.scss
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/gux-prompt-input-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.common.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts-snapshots/gux-prompt-input-beta-should-render-component-as-expected-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.157.4
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feature/GDS-2862_Date_Picker
  packages/genesys-spark-tokens/data/$metadata.json
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/global.json
Due: prettier --write

perf(select-all): wip updates
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/example.html
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-listbox-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

refactor(select-all): update token
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-select-all/gux-select-all.scss
Due: none

test(flyout-menu): Add playwright test
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/__snapshots__/gux-flyout-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.common.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.playwright.ts-snapshots/gux-flyout-menu-render-Should-render-as-expected-menu-with-submenus-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/tests/gux-flyout-menu.spec.ts
Due: prettier --write, eslint --fix

test(avatar-overflow-item-beta): Add playwright test
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/__snapshots__/gux-avatar-overflow-item.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.common.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts-snapshots/gux-avatar-beta-overflow-item-beta-Should-render-as-expected-default-with-name-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.playwright.ts-snapshots/gux-avatar-beta-overflow-item-beta-Should-render-as-expected-default-with-name-2-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-avatar-group/gux-avatar-overflow/gux-avatar-overflow-item/tests/gux-avatar-overflow-item.e2e.ts
Due: prettier --write, eslint --fix

test(table-toolbar-action): Add playwright test
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.spec.ts
Due: prettier --write, eslint --fix

chore(table-toolbar-action): Add test for click on disabled version
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts
Due: prettier --write, eslint --fix

test(table-toolbar-action): Add playwright test (#1249)
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/gux-table-toolbar-action.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.common.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-disabled-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-a-primary-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-delete-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-export-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-import-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-refresh-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-1-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.playwright.ts-snapshots/gux-table-toolbar-action-render-should-render-revert-toolbar-action-2-darwin.png
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-action/tests/gux-table-toolbar-action.spec.ts
Due: prettier --write, eslint --fix

Created and updated new tokens for lighta nd dark mode for the segmented control.
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
  packages/genesys-spark-tokens/data/semantic/mode/light.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

updated hover
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/mode/dark.json
Due: prettier --write

feat(prompt-input-beta): Fixed snapshot error
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/__snapshots__/gux-prompt-input-beta.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-prompt-input/tests/gux-prompt-input-beta.e2e.playwright.ts-snapshots/gux-prompt-input-beta-should-render-component-as-expected-1-darwin.png
Due: none

chore(time-zone-picker-beta): Removed unneeded test id
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.common.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
Due: prettier --write, eslint --fix

chore(time-zone-picker-beta): Removed old snapshots
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-should-render-component-as-expected-1-2-darwin.png
Due: none

feat(tokens): Updated figma values
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

bug/tooltip-maxwidth-jackie
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

bug/tooltip-max-width -jackie
  packages/genesys-spark-tokens/data/$themes.json
Due: prettier --write

chore(other): add token for tooltip max-width
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/beta/gux-side-panel/components/gux-side-panel-heading/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/unused-defined-ui-tokens.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-dark.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-flare-light.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-legacy-light.json
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-dark.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-flare-light.scss
  packages/genesys-spark-tokens/snapshot/scss/gse-ui-legacy-light.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/beta/tokens/flare/ui.less
  packages/genesys-spark/snapshot/css/flare/ui.css
  packages/genesys-spark/snapshot/css/flare/ui.css.map
  packages/genesys-spark/snapshot/css/legacy/ui.css
  packages/genesys-spark/snapshot/css/legacy/ui.css.map
  packages/genesys-spark/snapshot/css/ui.css
  packages/genesys-spark/snapshot/css/ui.css.map
  packages/genesys-spark/snapshot/tokens/flare/_ui.scss
  packages/genesys-spark/snapshot/tokens/flare/ui.less
  packages/genesys-spark/snapshot/ui.css
  packages/genesys-spark/snapshot/ui.css.map
Due: stylelint --fix, prettier --write

chore(time-zone-picker-beta): Added playwright tests
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.common.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-beta-should-render-component-as-expected-1-1-darwin.png
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.playwright.ts-snapshots/gux-time-zone-picker-beta-should-render-component-as-expected-1-2-darwin.png
Due: prettier --write, eslint --fix
