Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

refactor(tokens): update tokens
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-layoutContainer.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-navigation.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-layoutContainer.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-navigation.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-layoutContainer.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-navigation.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-layoutContainer.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-navigation.scss
Due: stylelint --fix, prettier --write

feat(inputs): increasing contrast between placeholder & populated text
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.less
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.less
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.less
Due: stylelint --fix, prettier --write

feat(tokens): new tokens rename focus jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

chore(release): 4.0.0-beta.48
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(tokens): rename calendar token to be a focus token
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

docs: update setup docs to capture loading process and best practices
  .github/workflows/main.yml
  package-lock.json
  package.json
  packages/genesys-spark-components/README.md
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark/README.md
Due: prettier --write

build(@stencil/core): pin stencil version to 4.5.0, because 4.6.0 breaks the build
  .github/workflows/main.yml
  package-lock.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: prettier --write

build: use run-pty to run dev mode tasks concurrently
  package-lock.json
  package.json
  start.json
Due: prettier --write

feat(tokens): fix tokens input jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): fix padding badge jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens padding dismiss jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): new tokens search jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(gux-form-field-radio): using token for focus style
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.scss
Due: none

feat(tokens): new tokens focus jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

refactor(month-picker): added missing tokens
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
Due: none

refactor(tokens): update tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-searchAndFilter.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-searchAndFilter.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-searchAndFilter.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-searchAndFilter.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Due: stylelint --fix, prettier --write

fix(list): fixed list container style
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/gux-listbox.scss
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table-select-menu/gux-table-select-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-time-picker/gux-time-picker.scss
  packages/genesys-spark-components/src/style/_mixins.scss
Due: none

refactor(typography): updated typeography mixins
  packages/genesys-spark-components/src/components/legacy/gux-action-toast-legacy/gux-action-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/legacy/gux-notification-toast-legacy/gux-notification-toast.scss
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-dropdown/gux-form-field-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-number/gux-form-field-number.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-phone/gux-form-field-phone.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-search/gux-form-field-search.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-select/gux-form-field-select.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/gux-form-field-text-like.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-textarea/gux-form-field-textarea.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-zone-picker/gux-form-field-time-zone-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-table/gux-table.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/style/_typography.scss
  packages/genesys-spark-components/src/style/style-reset-focusable.scss
  packages/genesys-spark-components/src/style/style-reset-typography.scss
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark-components/stencil.config.ts
Due: prettier --write, eslint --fix

test(gux-phone-input): adjust tests to account for new list keyboard behavior
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.49
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(text-highlight): addition of missing tokens
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.scss
Due: none

refactor(input-clear-button): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/helper-components/gux-form-field-input-clear-button/gux-form-field-input-clear-button.scss
Due: none

chore(release): 3.108.0
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(dropdown-multi): tag not showing when selected options aren't visible in dynamic list
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
Due: prettier --write, eslint --fix

chore(dropdown-multi): removing test for feature that was mutually exclusive to dynamic options
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/tests/gux-dropdown-multi.e2e.ts
Due: prettier --write, eslint --fix

refactor(form-field-range): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: none

feat(tokens): fix dismiss token jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

feat(tokens): border radius small jackie
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write

fix(gux-tag): token fixes
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
Due: none

chore(gux-form-field-text-like): add example of programmatically setting input value
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write

chore(release): 4.0.0-beta.50
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

test(genesys-spark): add a test suite and loading utility tests
  package-lock.json
  packages/genesys-spark/jest.config.js
  packages/genesys-spark/package.json
  packages/genesys-spark/src/index.ts
  packages/genesys-spark/src/loading.ts
  packages/genesys-spark/test/loading.spec.ts
Due: prettier --write, eslint --fix

refactor(tokens): update tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

refactor(dismiss-button): apply missing tokens
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
Due: none

refactor(form-field-checkbox): apply missing tokens
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
Due: none

fix(gux-datepicker): uX comment fixes
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
Due: none

fix(blank-state): remove gux-button-slot-beta from shadowDOM
  packages/genesys-spark-components/src/components/stable/gux-blank-state/gux-blank-state.tsx
Due: prettier --write, eslint --fix

fix(blank-state): add conditional for call-to-action slot
  packages/genesys-spark-components/src/components/beta/gux-blank-state/gux-blank-state.tsx
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.51
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.52
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
