Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

refactor(other): form
  packages/genesys-spark-tokens/snapshot/css/gse-core.css
  packages/genesys-spark-tokens/snapshot/css/gse-semantic.css
  packages/genesys-spark-tokens/snapshot/json/gse-core.json
  packages/genesys-spark-tokens/snapshot/json/gse-semantic.json
  packages/genesys-spark-tokens/snapshot/less/gse-core.less
  packages/genesys-spark-tokens/snapshot/less/gse-semantic.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-core.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-semantic.scss
Due: stylelint --fix, prettier --write

feat(avatar): gux-avatar add change photo
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/gux-avatar-change-photo.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/camera-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

feat(avatar): gux-avatar add change photo (#374)
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/gux-avatar-change-photo.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/gux-avatar-change-photo.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/__snapshots__/gux-avatar-change-photo.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/gux-avatar-change-photo.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-change-photo/tests/gux-avatar-change-photo.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/__snapshots__/gux-avatar-focusable.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/gux-avatar-focusable.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/__snapshots__/gux-avatar-focusable.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar-focusable/tests/gux-avatar-focusable.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/camera-solid.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
Due: stylelint --fix, prettier --write, eslint --fix, svgo -i

fix(avatar): Fix dynamic example
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write

chore(release): 4.39.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(tooltip): Fix tooltip border issue
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

fix(avatar): Fix dynamic example (#422)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write

feat(avatar): Fix example
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(avatar): UC app integration icon added
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/svg-utils.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
Due: prettier --write

chore(release): 4.40.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar): add example and fix z-index
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
Due: stylelint --fix, prettier --write

feat(avatar): Add event to button example
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
Due: stylelint --fix, prettier --write

feat(tooltip): Fix tooltip border issue (#426)
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

feat(language): translation updates (#427)
  packages/genesys-spark-components/src/i18n/translations/da.json
  packages/genesys-spark-components/src/i18n/translations/es-es.json
  packages/genesys-spark-components/src/i18n/translations/es.json
  packages/genesys-spark-components/src/i18n/translations/it.json
  packages/genesys-spark-components/src/i18n/translations/pt-br.json
Due: prettier --write

fix(month-picker): Fix tab order in component
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Added spec
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
Due: none

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/ko.json
  packages/genesys-spark-components/src/i18n/translations/nl.json
  packages/genesys-spark-components/src/i18n/translations/no.json
  packages/genesys-spark-components/src/i18n/translations/pl.json
  packages/genesys-spark-components/src/i18n/translations/zh-cn.json
Due: prettier --write

chore(release): 4.41.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(avatar): UC app integration icon added (#423)
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.types.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/readme.md
  packages/genesys-spark-components/src/components/beta/gux-avatar/svg-utils.tsx
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/__snapshots__/gux-avatar.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-avatar/tests/gux-avatar.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix(table-toolbar): fix initial glitchy render
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
Due: none

fix(inline-alert): snap update
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
Due: none

fix(inline-alert): snap update (#430)
  packages/genesys-spark-components/src/components/stable/gux-inline-alert/tests/__snapshots__/gux-inline-alert.e2e.ts.snap
Due: none

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

feat(form-field-radio-group): add new form-field-radio-group component
  packages/genesys-spark-components/src/components/beta/gux-screen-reader/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.42.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(table-toolbar): fix initial glitchy render
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar.scss
  packages/genesys-spark/src/style/_mixins.scss
Due: none

feat(language): translation updates (#432)
  packages/genesys-spark-components/src/i18n/translations/cs.json
  packages/genesys-spark-components/src/i18n/translations/de.json
  packages/genesys-spark-components/src/i18n/translations/fi.json
  packages/genesys-spark-components/src/i18n/translations/ja.json
  packages/genesys-spark-components/src/i18n/translations/ru.json
  packages/genesys-spark-components/src/i18n/translations/th.json
  packages/genesys-spark-components/src/i18n/translations/tr.json
  packages/genesys-spark-components/src/i18n/translations/uk.json
  packages/genesys-spark-components/src/i18n/translations/zh-tw.json
Due: prettier --write

chore(month-picker): Manually handling focus from right arrow to month
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Removed unneeded tabIndex on arrows
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

chore(month-picker): Added comment
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

fix(icon): Reset icons updated last week and map old names to deprecated icons
  packages/genesys-spark-components/src/components/stable/gux-icon/icon-names-deprecated.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/file-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/microsoft.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/fa/play-regular.svg
Due: prettier --write, eslint --fix, svgo -i

feat(language): translation updates
  packages/genesys-spark-components/src/i18n/translations/fr-ca.json
  packages/genesys-spark-components/src/i18n/translations/fr.json
Due: prettier --write

chore(month-picker): Fixed snap test
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
Due: none

chore(form-field-radio-group): address pr comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/gux-form-field-radio-group.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/__snapshots__/gux-form-field-radio-group.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio-group/tests/gux-form-field-radio-group.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-radio/gux-form-field-radio.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.43.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

feat(selector-card): Simple radio selector card (card only)
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.light.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.types.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(selector-card): Simple radio selector card (card only) (#409)
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/example.html
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.light.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.scss
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.tsx
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/gux-selector-card.types.ts
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/readme.md
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/__snapshots__/gux-selector-card.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-selector-cards/gux-selector-card/tests/gux-selector-card.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-truncate/readme.md
  packages/genesys-spark-components/src/style/style.scss
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write, eslint --fix

chore(tokens): updated 700 and 800
  packages/genesys-spark-tokens/data/tokens.json
Due: prettier --write
