Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

.lintstagedrc.json:

{
  "*.{css,html,less}": ["stylelint --fix", "prettier --write"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,json}": "prettier --write",
  "*.svg": "svgo -i"
}

feat(action-button): removed title property from action button
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/stable/gux-action-button/example.html
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.light.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/i18n/en.json
  packages/genesys-spark-components/src/components/stable/gux-action-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/gux-action-button.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-button-multi/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-list/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-components/src/style/style.scss
Due: stylelint --fix, prettier --write, eslint --fix

refactor(form-field-time-picker): token adoption
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-time-picker/gux-form-field-time-picker.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-flyout-menu): add tokens
  package-lock.json
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-flyout-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
Due: stylelint --fix, prettier --write

fix(gux-popup): add property to gux-popup to specify popup container width strategy
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/tests/__snapshots__/gux-form-field-color.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/utils/dom/has-parent-element.ts
Due: prettier --write, eslint --fix

fix(versions): removed prerelease versions from generated versions file
  package-lock.json
  web-apps/genesys-spark-examples/package.json
  web-apps/genesys-spark-examples/scripts/generate-versions-file.mjs
Due: prettier --write

fix(sass): fixed sass build warnings
  packages/genesys-spark-components/src/components/stable/gux-radial-loading/gux-radial-loading.functional.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
Due: none

chore(tokens): updated tokens
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write

chore(release): 4.0.0-beta.31
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(gux-popup): add prop to internal component exceed target width
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/gux-advanced-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-action-button/gux-action-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-action-button/tests/__snapshots__/gux-action-button.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-button-multi/gux-button-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
  packages/genesys-spark-components/src/components/stable/gux-popup/gux-popup.tsx
  packages/genesys-spark-components/src/components/stable/gux-popup/readme.md
  packages/genesys-spark-components/src/utils/dom/has-parent-element.ts
Due: prettier --write, eslint --fix

refactor(flyout-menu): update scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu-option/gux-menu-option.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-menu.scss
  packages/genesys-spark-components/src/components/stable/gux-flyout-menu/gux-menu/gux-submenu/gux-submenu.scss
Due: none

refactor(month-picker): token adoption
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.less
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.less
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list.less
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.less
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

feat(segment-control): added segment control component
  packages/genesys-spark-components/documentation/migrations/v4/gux-switch-legacy.md
  packages/genesys-spark-components/documentation/migrations/v4/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/example.html
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/gux-segmented-control-item.types.ts
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control-item/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.scss
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/readme.md
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.e2e.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/__snapshots__/gux-segmented-control.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/tests/gux-segmented-control.spec.ts
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.scss
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/gux-switch-item.tsx
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch-item/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch.scss
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch.tsx
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch.types.ts
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/__snapshots__/gux-switch.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/__snapshots__/gux-switch.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/gux-switch.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/tests/gux-switch.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-switch/tests/__snapshots__/gux-switch.e2e.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
Due: stylelint --fix, prettier --write, eslint --fix

refactor(content-search): switched from less to scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/style/shared/text-input.less
Due: stylelint --fix, prettier --write, eslint --fix

refactor(util-imports): switched to module mapper
  packages/genesys-spark-components/src/components/beta/gux-announce/gux-announce.tsx
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-date-time/gux-date-time.tsx
  packages/genesys-spark-components/src/components/beta/gux-date/gux-date.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-list/gux-month-list-item/gux-month-list-item.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-segmented-control/gux-segmented-control.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time/gux-time.tsx
  packages/genesys-spark-components/src/components/legacy/gux-advanced-dropdown-legacy/tests/gux-advanced-dropdown.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-disclosure-button-legacy/gux-disclosure-button.tsx
  packages/genesys-spark-components/src/components/legacy/gux-switch-legacy/gux-switch.tsx
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-context-menu/gux-context-menu.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/gux-form-field.service.ts
  packages/genesys-spark-components/src/components/stable/gux-list/gux-list-item/gux-list-item.tsx
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-create-option/gux-create-option.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover-list/gux-popover-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
  packages/genesys-spark-components/src/components/stable/gux-radial-progress/gux-radial-progress.tsx
  packages/genesys-spark-components/src/components/stable/gux-rating/gux-rating.tsx
  packages/genesys-spark-components/src/components/stable/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-text-highlight/gux-text-highlight.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/gux-tooltip-title.tsx
  packages/genesys-spark-components/src/components/stable/gux-truncate/gux-truncate.tsx
  packages/genesys-spark-components/src/i18n/index.ts
Due: prettier --write, eslint --fix

feat(gux-datepicker): token adoption
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.less
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.types.ts
  packages/genesys-spark-components/src/components/stable/gux-calendar/tests/__snapshots__/gux-calendar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-datepicker/example.html
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.less
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.scss
  packages/genesys-spark-components/src/components/stable/gux-datepicker/gux-datepicker.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.0.0-beta.32
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(form-field-checkbox): component reskin
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/example.html
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.tsx
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/readme.md
  packages/genesys-spark-tokens/data/tokens.json
Due: stylelint --fix, prettier --write, eslint --fix

refactor(tabs): switched from less to scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/stable/gux-skip-navigation-list/gux-skip-navigation-item/gux-skip-navigation-item.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-panel/gux-tab-advanced-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced-panel/gux-tab-advanced-panel.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tabs-advanced.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs-advanced/gux-tabs-advanced.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.tsx
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tabs.tsx
Due: prettier --write, eslint --fix

refactor(form-field): removed unused files
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-container/gux-form-field-container.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-error/gux-form-field-error.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-fieldset-container/gux-form-field-fieldset-container.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-label/gux-form-field-label.less
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-legend-label/gux-form-field-legend-label.less
Due: stylelint --fix, prettier --write

feat(gux-modal): v4 upgrade
  packages/genesys-spark-components/src/components/stable/gux-column-manager/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/example.html
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.less
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.tsx
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write, eslint --fix

chore(gux-modal): reverted files
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-components/src/style/style.less
Due: stylelint --fix, prettier --write

refactor(month-picker): add currentMonth requirement
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

refactor(month-picker): remove console
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-calendar/gux-month-calendar.tsx
Due: prettier --write, eslint --fix

fix(gux-popup): use exceed target width property for all applicable components
  packages/genesys-spark-components/src/components/beta/gux-context-menu/gux-context-menu.tsx
  packages/genesys-spark-components/src/components/beta/gux-context-menu/tests/__snapshots__/gux-context-menu.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-month-picker/gux-month-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-month-picker/tests/__snapshots__/gux-month-picker.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-popup-beta/gux-popup-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/gux-table-toolbar-menu-button/gux-table-toolbar-menu-button.tsx
  packages/genesys-spark-components/src/components/beta/gux-table-toolbar/tests/__snapshots__/gux-table-toolbar.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-advanced-dropdown/gux-advanced-dropdown.less
Due: stylelint --fix, prettier --write, eslint --fix

fix(gux-time-zone-picker): default zones shoult not require 2 clicks to select
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: prettier --write, eslint --fix

chore(release): 4.0.0-beta.33
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(content-search): token adoption
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
Due: prettier --write, eslint --fix

refactor(gux-phone-input): refactor types based on review feedback
  packages/genesys-spark-components/src/components/beta/gux-phone-input/example.html
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone.types.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/RegionCountryCodeMap.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/services/region-map.service.ts
  packages/genesys-spark-components/src/components/beta/gux-phone-input/tests/gux-phone-input.e2e.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(icon): custom empathy icon
  packages/genesys-spark-components/src/components/stable/gux-icon/gux-icon.types.ts
  packages/genesys-spark-components/src/components/stable/gux-icon/icons/custom/face-smile-hearts-regular.svg
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  web-apps/genesys-spark-examples/src/utils/generateFontAwesomeIcons.js
Due: prettier --write, eslint --fix, svgo -i

chore(release): 3.105.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.0.0-beta.34
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(content-search): address pr comments
  packages/genesys-spark-components/src/components/stable/gux-content-search/example.html
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
Due: stylelint --fix, prettier --write

refactor(tabs-advanced): moved tags-advanced to legacy
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/example.html
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-list/gux-tab-advanced-list.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-list/gux-tab-advanced-list.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-list/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-panel/gux-tab-advanced-panel.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-panel/gux-tab-advanced-panel.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced-panel/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced/gux-tab-advanced.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced/gux-tab-advanced.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tab-advanced/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tabs-advanced.scss
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/gux-tabs-advanced.tsx
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/i18n/en.json
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/readme.md
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/__snapshots__/gux-tabs-advanced.e2e.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/__snapshots__/gux-tabs-advanced.spec.ts.snap
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/gux-tabs-advanced.e2e.ts
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/gux-tabs-advanced.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-column-manager/example.html
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover-list/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip-title/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-dataDisplay.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-dataDisplay.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-dataDisplay.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-dataDisplay.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Due: stylelint --fix, prettier --write, eslint --fix

feat(gux-timezone): add gux-timezone component
  packages/genesys-spark-components/src/components/beta/gux-date-time/readme.md
  packages/genesys-spark-components/src/components/beta/gux-date/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.types.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/tests/gux-time-zone-picker.e2e.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/example.html
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.service.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/gux-time-zone.tsx
  packages/genesys-spark-components/src/components/beta/gux-time-zone/readme.md
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/__snapshots__/gux-time-zone.spec.ts.snap
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.service.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time-zone/tests/gux-time-zone.spec.ts
  packages/genesys-spark-components/src/components/beta/gux-time/readme.md
  packages/genesys-spark-components/src/utils/date/time-zone.spec.ts
  packages/genesys-spark-components/src/utils/date/time-zone.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.0.0-beta.35
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 3.105.2
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

refactor(content-search): update to match design
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.scss
  packages/genesys-spark-components/src/components/stable/gux-content-search/gux-content-search.tsx
  packages/genesys-spark-components/src/components/stable/gux-content-search/tests/__snapshots__/gux-content-search.spec.ts.snap
Due: prettier --write, eslint --fix

build(node): start using node v18
  .nvmrc
  Jenkinsfile
  package.json
  packages/genesys-spark-components-react/Jenkinsfile
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/components/legacy/gux-tabs-advanced-legacy/tests/gux-tabs-advanced.spec.ts
  web-apps/genesys-spark-examples/Jenkinsfile
Due: prettier --write, eslint --fix
