Repository MyPureCloud/genesys-spark: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, svgo -i

chore(release): 4.84.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(modal-legacy): prevent focus ring cropping (#619)
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
Due: none

fix(gux-modal): fix focus ring cropping (#620)
  packages/genesys-spark-components/src/components/beta/gux-phone-input/readme.md
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.less
Due: stylelint --fix, prettier --write

chore(other): updated dependencies to wanted
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-chart-components/src/i18n/locales.json
  packages/genesys-spark-chart-components/src/i18n/translations/hi.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark-components/src/i18n/locales.json
  packages/genesys-spark-components/src/i18n/start-of-week.json
  packages/genesys-spark-tokens/package.json
  packages/genesys-spark/package.json
  shared-configs/eslint-config-genesys-spark-components/package.json
  shared-configs/prettier-config-genesys-spark-components/package.json
  shared-configs/stylelint-config-genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): fixed tag height tokens
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi-tag/gux-dropdown-multi-tag.scss
  packages/genesys-spark-components/src/components/stable/gux-tag/gux-tag.scss
  packages/genesys-spark-tokens/data/ui/unordered.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

perf(rich-text-editor): addition of link feature
  package-lock.json
  package.json
  packages/genesys-spark-components/src/components/beta/gux-cta-group/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/example.html
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/gux-rich-text-editor-action-link.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action-link/readme.md
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/gux-rich-text-editor-action.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-action/i18n/en.json
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor-beta.tsx
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.scss
  packages/genesys-spark-components/src/components/beta/gux-rich-text-editor/gux-rich-text-editor.service.ts
  packages/genesys-spark-components/src/components/stable/gux-button-slot/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-text-like/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-popover/readme.md
  packages/genesys-spark-components/src/components/stable/gux-tooltip/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
Due: stylelint --fix, prettier --write, eslint --fix

fix(other): removed unnecessary letter-spacing token
  packages/genesys-spark-components/src/components/legacy/gux-modal-legacy/gux-modal-legacy.scss
  packages/genesys-spark-components/src/components/stable/gux-modal/gux-modal.scss
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

fix(other): removed unused subtext height token
  packages/genesys-spark-components/src/components/stable/gux-listbox-multi/gux-option-multi/gux-option-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-listbox/options/option-defaults.scss
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

fix(other): added fallback to new token in label tooltip trigger
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/gux-icon-tooltip.scss
  packages/genesys-spark-components/src/components/beta/gux-label-info/gux-label-info.scss
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
Due: prettier --write

fix(other): fixed token typo
  packages/genesys-spark-components/src/components/stable/gux-button-slot/gux-button-slot.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-file/gux-form-field-file.light.scss
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

test(toast): Update snap that's failing
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.e2e.ts.snap
  packages/genesys-spark-components/src/i18n/locales.json
  packages/genesys-spark-components/src/i18n/start-of-week.json
Due: prettier --write

test(toast): Update snap that's failing (#623)
  packages/genesys-spark-components/src/components/stable/gux-toast/tests/__snapshots__/gux-toast.e2e.ts.snap
  packages/genesys-spark-components/src/i18n/locales.json
  packages/genesys-spark-components/src/i18n/start-of-week.json
Due: prettier --write

fix(other): fixed avatar token issue
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/i18n/translations/hi.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-ui.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-ui.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-ui.scss
Due: prettier --write

chore(release): 3.131.1
  package-lock.json
  package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/CHANGELOG.md
  packages/genesys-spark-components/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(release): 4.85.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(dismiss-button): fixing sizing after pulling main
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-tokens/reports/used-tokens.json
Due: prettier --write

fix(accordion): arrow not centered
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
Due: none

fix(other): fixed all undefined token usage
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-form/gux-form-footer/gux-form-footer.scss
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.scss
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark-tokens/reports/used-undefined-tokens.json
  packages/genesys-spark-tokens/scripts/tokens-reports.mjs
Due: prettier --write

fix(accordion): arrow not centered (#624)
  packages/genesys-spark-components/src/components/stable/gux-accordion/gux-accordion-section/gux-accordion-section.scss
Due: none

chore(other): address PR comments
  docs/intl.md
Due: none

fix(form-field-range): prevent error when resized before render
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

fix(popover): Using native popover-api
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

chore(release): 4.85.1
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

fix(other): removed all core token references from components
  packages/genesys-spark-components/src/components/beta/gux-avatar/example.html
  packages/genesys-spark-components/src/components/beta/gux-avatar/gux-avatar.scss
  packages/genesys-spark-components/src/components/beta/gux-calendar-beta/components/single/gux-calendar.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.light.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/style/flare.scss
  packages/genesys-spark-components/src/style/legacy.scss
  packages/genesys-spark-tokens/reports/used-tokens.json
  packages/genesys-spark/src/style/temp.scss
Due: stylelint --fix, prettier --write

chore(dismiss-button): adding ticket num to token comment
  packages/genesys-spark-components/src/components/stable/gux-dismiss-button/gux-dismiss-button.scss
Due: none

feat(tokens): readded some forms tokens
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): added missing semantic z-index tokens
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/data/ui/actions.json
  packages/genesys-spark-tokens/data/ui/data_display.json
  packages/genesys-spark-tokens/data/ui/unordered.json
Due: prettier --write

feat(tokens): updated figma styles and vars
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): readded form body tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
Due: prettier --write

feat(tokens): readded form tokens
  packages/genesys-spark-tokens/data/$themes.json
  packages/genesys-spark-tokens/data/semantic/global.json
  packages/genesys-spark-tokens/reports/missing-old-tokens.json
  packages/genesys-spark-tokens/reports/missing-used-tokens.json
  packages/genesys-spark-tokens/reports/new-new-tokens.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-dark-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-flare-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/json/gse-legacy-light-semantic.json
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-dark-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-flare-light-semantic.scss
  packages/genesys-spark-tokens/snapshot-new/scss/gse-legacy-light-semantic.scss
Due: prettier --write

fix(form-field-range): prevent error when resized before render (#626)
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.tsx
Due: prettier --write, eslint --fix

chore(tooltip): speed up animation
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

chore(release): 4.86.0
  CHANGELOG.md
  package-lock.json
  package.json
  packages/genesys-spark-chart-components-react/package.json
  packages/genesys-spark-chart-components/package.json
  packages/genesys-spark-components-react/package.json
  packages/genesys-spark-components/package.json
  packages/genesys-spark/package.json
  web-apps/genesys-spark-examples/package.json
Due: prettier --write

chore(popover): Update position fix for popover placement
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.tsx
Due: stylelint --fix, prettier --write, eslint --fix

feat(pagination): disabled variant
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/example.html
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/tests/__snapshots__/gux-pagination-buttons.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/tests/gux-pagination-buttons.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/gux-pagination-item-counts.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/gux-pagination-item-counts.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/tests/__snapshots__/gux-pagination-item-counts.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/gux-pagination-items-per-page.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat(pagination): disabled variant (#589)
  packages/genesys-spark-components/src/components/beta/gux-icon-tooltip/readme.md
  packages/genesys-spark-components/src/components/stable/gux-button/gux-button.scss
  packages/genesys-spark-components/src/components/stable/gux-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/example.html
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-buttons.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/gux-pagination-ellipsis-button.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/gux-pagination-ellipsis-button/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/tests/__snapshots__/gux-pagination-buttons.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-buttons/tests/gux-pagination-buttons.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/gux-pagination-item-counts.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/gux-pagination-item-counts.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-item-counts/tests/__snapshots__/gux-pagination-item-counts.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/gux-pagination-items-per-page.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/__snapshots__/gux-pagination-items-per-page.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination-items-per-page/tests/gux-pagination-items-per-page.spec.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.scss
  packages/genesys-spark-components/src/components/stable/gux-pagination/gux-pagination.tsx
  packages/genesys-spark-components/src/components/stable/gux-pagination/readme.md
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/__snapshots__/gux-pagination.spec.ts.snap
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-pagination/tests/gux-pagination.spec.ts
Due: stylelint --fix, prettier --write, eslint --fix

chore(tooltip): speed up animation delay
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.less
Due: stylelint --fix, prettier --write

chore(tooltip): speed up animation (#631)
  packages/genesys-spark-components/src/components/beta/gux-tooltip-base/gux-tooltip-base.scss
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.scss
Due: none

chore(toggle): Center toggle label against switch
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
Due: none

test(modal): updating e2e snapshots
  packages/genesys-spark-components/src/components/stable/gux-modal/tests/__snapshots__/gux-modal.e2e.ts.snap
Due: none

Path conditions:
  stylelint --fix: any of: *.{css,html,less}
  prettier --write: ((any of: *.{css,html,less}) or (any of: *.{ts,tsx})) or (any of: *.{js,jsx,json})
  eslint --fix: any of: *.{ts,tsx}
  svgo -i: any of: *.svg
